<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title>Summary Print</title>
        
        <link rel="stylesheet" href="{{ static_dir }}/css/style_summary_pdf.css" />

        <style type='text/css'>
            /* Size and frame */
            @page {
                size: a4 landscape;

                @frame { 
                    left: 0.25in; width: 11.2in; top: 0.5in; height: 7.3in;
                }
            }

            @font-face {
                font-family: 'Sarabun-light', sans-serif;
                src: url("{{ static_dir }}/fonts/Sarabun-Light.ttf"); 
            } 
            @font-face {
                font-family: 'Sarabun-bold', sans-serif;
                src: url("{{ static_dir }}/fonts/Sarabun-Bold.ttf"); 
            } 

            html {
                font-family: Sarabun-light;
            }
            .bold {
                font-family: Sarabun-bold;
            }
        </style>
    </head>

    {% load result %}
    {% load parse_date %}
    {% load booking_field_text %}
    <body>
        <div style="text-align: center;">
            <h2 class="bold" style="font-size: 200%;">
                {% if invoice.customer_week.customer_custom.customer_title %}
                    {{ invoice.customer_week.customer_custom.customer_title }}
                {% elif invoice.customer_week.customer_custom.sub_customer %}
                    {{ invoice.customer_week.customer_custom.sub_customer }}
                {% else %}
                    {{ invoice.customer_week.customer_main.name }}
                {% endif %}
            </h2>

            <table>
                <tr>
                    <td style="width: 90px;">
                        INV. NO.
                    </td>
                    <td class="font-125 bold" style="width: 260px; background-color: Cyan;">
                        <b>{{ invoice_no.0 }}</b>
                    </td>
                    <td></td>
                    <td class="text-right text-blue font-105 px-3" style="width: 350px;">
                        {% if invoice.customer_week.customer_custom.option == 'oocl' %}
                            AP BILLING NO :
                        {% elif form.1 == '1_diesel_rate' %}
                            DIESEL RATE : {{ diesel_rate }}
                        {% elif form.1 == '1_job_no_out' %}
                            JOB NO : 
                        {% endif %}

                        {{ invoice.detail.other }}
                    </td>
                </tr>
            </table>
            <table class="table-bordered">
                <tr>
                    <td rowspan=2>
                        Item
                    </td>
                    <td rowspan=2>
                        Customer Name 
                    </td>
                    <td rowspan=2>
                        {{ form.0 | booking_field_text }}
                    </td>
                    <td colspan=2>
                        Vessel/Truck Routing 
                    </td>
                    <td rowspan=2>
                        Date
                    </td>
                    <td rowspan=2>
                        Container No. 1
                    </td>
                    {% if 'container_2' in form %}
                        <td rowspan=2>
                            Container No. 2
                        </td>
                    {% endif %}
                    <td rowspan=2>
                        Size
                    </td>
                    <td rowspan=2>
                        Drayage Charge
                    </td>
                    {% if option != '2_inv' %}
                        {% if 'gate_charge' in form %}
                            <td rowspan=2>
                                Gate Charge
                            </td>
                        {% endif %}
                    {% endif %}
                    {% if 'agent' in form %}
                        <td rowspan=2>
                            Agent
                        </td>
                    {% endif %}

                    <td rowspan=2>
                        {% if form.2 == '2_remark' %}
                            Remark
                        {% elif form.2 == '2_job_no' %}
                            Job No.
                        {% elif form.2 == '2_truck' %}
                            TRUCK
                        {% endif %}
                    </td>     
                </tr>
                <tr>
                    <td>
                        From
                    </td>
                    <td>
                        To
                    </td>
                </tr>

                {% for inv_detail in invoice_details %}
                    <tr>
                        <td style="width: 0.9in;">
                            {{ forloop.counter }} 
                        </td>

                        {% if invoice.detail.customer_len > 34 %}
                            <td class="text-left px-3" style="width: 7in">
                        {% elif invoice.detail.customer_len > 22 %}
                            <td class="text-left px-3" style="width: 5.5in">
                        {% elif invoice.detail.customer_len < 22 and invoice.detail.booking_len < 15 %}
                            <td class="text-left px-3" style="width: 4in">
                        {% else %}
                            <td class="text-left px-3" >
                        {% endif %}
                            {% if invoice.detail.customer_name %}
                                {{ invoice.detail.customer_name }}
                            {% else %}
                                {{ inv_detail.work.shipper.name}}
                            {% endif %}
                        </td>

                        {% if invoice.detail.customer_len > 22 %}
                            <td class="px-3">
                        {% elif invoice.detail.customer_len < 22 and invoice.detail.booking_len < 15 %}
                            <td class="px-3">
                        {% elif invoice.detail.booking_len > 40 %}
                            <td class="px-3" style="width: 7.5in">
                        {% elif invoice.detail.booking_len > 15 %}
                            <td class="px-3" style="width: 6in">
                        {% else %}
                            <td class="px-3">
                        {% endif %}
                            {{ inv_detail.work.booking_no }}
                        </td>

                        <td style="width: 2.5in">
                            {{ inv_detail.work.pickup_from }}
                        </td>
                        <td style="width: 2.5in">
                            {{ inv_detail.work.return_to }}
                        </td>
                        <td style="width: 1.6in;"> 
                            {{ inv_detail.work.date|parse_date }}
                        </td>
                        <td style="width: 3in;">
                            {% if inv_detail.work.container_no %}
                                {{ inv_detail.work.container_no }}
                            {% elif inv_detail.work.container_1 %}
                                {{ inv_detail.work.container_1 }}
                            {% endif %}
                        </td>
                        {% if 'container_2' in form %}
                            <td style="width: 3in;">
                                {{ inv_detail.work.container_2 }}
                            </td>
                        {% endif %}
                        <td style="width: 1.6in;">
                            {% if not 'X' in inv_detail.work.size %}1X{% endif %}{{ inv_detail.work.size }}
                        </td>
                        <td class="text-right px-3" style="width: 2.4in">
                            {{ inv_detail.drayage_charge.drayage|result }}
                        </td>
                        {% if option != '2_inv' %}
                            {% if 'gate_charge' in form %}
                                <td class="text-right px-3" style="width: 2.4in">
                                    {{ inv_detail.gate_charge.gate|result }}
                                </td>
                            {% endif %}
                        {% endif %}
                        {% if 'agent' in form %}
                            <td style="width: 2.2in">
                                {{ inv_detail.work.agent }}
                            </td>
                        {% endif %}
                        <td class="text-blue">
                            {{ inv_detail.detail.remark }}
                        </td>
                    </tr>

                    {% if rows > 22 and inv_detail.detail.num|mod:22 > 0 and inv_detail.detail.num|mod:22 < 6 and rows|minus:inv_detail.detail.num == 6 %}
                        </table>
                            <pdf:nextpage>
                        <table class="table-bordered">
                    {% endif %}

                    {% if inv_detail.drayage_charge.other %}
                        {% for other in inv_detail.drayage_charge.other %}
                            {% if other.color == 0 %}
                                <tr class="text-red">
                            {% elif other.color == 1 %}
                                <tr class="text-blue">
                            {% endif %}
                                <td style="width: 0.9in;">
                                    {{forloop.parentloop.counter}}.{{ forloop.counter }} 
                                </td>
                               
                            {% if invoice.detail.customer_len > 34 %}
                                <td class="text-left px-3" style="width: 7in">
                            {% elif invoice.detail.customer_len > 22 %}
                                <td class="text-left px-3" style="width: 5.5in">
                            {% elif invoice.detail.customer_len < 22 and invoice.detail.booking_len < 15 %}
                                <td class="text-left px-3" style="width: 4in">
                            {% else %}
                                <td class="text-left px-3" >
                            {% endif %}
                                    {% if invoice.detail.customer_name %}
                                        {{ invoice.detail.customer_name }}
                                    {% else %}
                                        {{ inv_detail.work.shipper.name}}
                                    {% endif %}
                                </td>
                            
                            {% if invoice.detail.customer_len > 22 %}
                                <td class="px-3">
                            {% elif invoice.detail.customer_len < 22 and invoice.detail.booking_len < 15 %}
                                <td class="px-3">
                            {% elif invoice.detail.booking_len > 40 %}
                                <td class="px-3" style="width: 7.5in">
                            {% elif invoice.detail.booking_len > 15 %}
                                <td class="px-3" style="width: 6in">
                            {% else %}
                                <td class="px-3">
                            {% endif %}
                                    {{ inv_detail.work.booking_no }}
                                </td>
                                
                                <td style="width: 2.5in">
                                    {{ inv_detail.work.pickup_from }}
                                </td>
                                <td style="width: 2.5in">
                                    {{ inv_detail.work.return_to }}
                                </td>
                                <td style="width: 1.6in;">
                                    {{ inv_detail.work.date|parse_date }}
                                </td>
                                <td style="width: 3in;">
                                    {% if inv_detail.work.container_no %}
                                        {{ inv_detail.work.container_no }}
                                    {% elif inv_detail.work.container_1 %}
                                        {{ inv_detail.work.container_1 }}
                                    {% endif %}
                                </td>

                                {% if 'container_2' in form %}
                                    <td style="width: 3in;">
                                        {{ inv_detail.work.container_2 }}
                                    </td>
                                {% endif %}

                                <td style="width: 1.6in;">
                                    {% if not 'X' in inv_detail.work.size %}1X{% endif %}{{ inv_detail.work.size }}
                                </td>
                                <td class="text-right px-3" style="width: 2.4in">
                                    {{ other.other_charge|result }}
                                </td>

                                {% if option != '2_inv' %}
                                    {% if 'gate_charge' in form %}
                                        <td class="text-right px-3" style="width: 2.4in">
                                            -
                                        </td>
                                    {% endif %}
                                {% endif %}

                                {% if 'agent' in form %}
                                    <td style="width: 2.2in">
                                        {{ inv_detail.work.agent }}
                                    </td>
                                {% endif %}
                                <td>
                                    {{ other.other_remark }}
                                </td>
                            </tr>

                            {% if rows > 22 and inv_detail.detail.num|mod:22 > 0 and inv_detail.detail.num|mod:22 < 6 and rows|minus:inv_detail.detail.num == 6 %}
                                </table>
                                    <pdf:nextpage>
                                <table class="table-bordered">
                            {% endif %}

                        {% endfor %}
                    {% endif %} 
                {% endfor %}
                
                <tr class="h-30">
                    {% if 'container_2' in form %}
                        <td colspan=9 class="bg-whitesmoke font-125 bold">
                    {% else %}
                        <td colspan=8 class="bg-whitesmoke font-125 bold">
                    {% endif %}
                        Total
                    </td>

                    <td class="text-right px-3 bg-whitesmoke font-110 bold">{{ invoice.drayage_total|result }}</td>

                    {% if option != '2_inv' %}
                        <td class="text-right px-3 bg-whitesmoke font-110 bold">
                            {% if 'gate_charge' in form %}
                                {{ invoice.gate_total|result }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    {% endif %}

                    <td class="bg-whitesmoke"></td>
                </tr>

                {% if option != '2_inv' %}
                    <tr class="h-30">
                        {% if 'container_2' in form %}
                            <td colspan=9 class="bg-whitesmoke font-125 bold">
                        {% else %}
                            <td colspan=8 class="bg-whitesmoke font-125 bold">
                        {% endif %}
                            G.Total
                        </td>
                        <td colspan=2 class="text-right px-3 bg-whitesmoke font-125 bold">{{ invoice.drayage_total|add_float:invoice.gate_total | result }}</td>
                        <td class="bg-whitesmoke"></td>
                    </tr>
                {% endif %}
            </table>
   
            {% if option == '2_inv' %}
                <pdf:nextpage>

                <h2 class="bold" style="font-size: 200%;">
                    {% if invoice.customer_week.customer_custom.customer_title %}
                        {{ invoice.customer_week.customer_custom.customer_title }}
                    {% elif invoice.customer_week.customer_custom.sub_customer %}
                        {{ invoice.customer_week.customer_custom.sub_customer }}
                    {% else %}
                        {{ invoice.customer_week.customer_main.name }}
                    {% endif %}
                </h2>

                <table>
                    <tr>
                        <td style="width: 90px;">
                            INV. NO.
                        </td>
                        <td class="font-125 bold" style="width: 260px; background-color: Cyan;">
                            <b>{{ invoice_no.1 }}</b>
                        </td>
                        <td></td>
                        <td class="text-right text-blue font-105 px-3" style="width: 350px;">
                            {% if invoice.customer_week.customer_custom.option == 'oocl' %}
                                AP BILLING NO :
                            {% elif form.1 == '1_diesel_rate' %}
                                DIESEL RATE : {{ diesel_rate }}
                            {% elif form.1 == '1_job_no_out' %}
                                JOB NO : 
                            {% endif %}
                            
                            {{ invoice.detail.other }}
                        </td>
                    </tr>
                </table>
                <table class="table-bordered">
                    <tr>
                        <td rowspan=2>
                            Item
                        </td>
                        <td rowspan=2>
                            Customer Name 
                        </td>
                        <td rowspan=2>
                            {{ form.0 | booking_field_text }}
                        </td>
                        <td colspan=2>
                            Vessel/Truck Routing 
                        </td>
                        <td rowspan=2>
                            Date
                        </td>
                        <td rowspan=2>
                            Container No. 1
                        </td>

                        {% if 'container_2' in form %}
                            <td rowspan=2>
                                Container No. 2
                            </td>
                        {% endif %}

                        <td rowspan=2>
                            Size
                        </td>
                        <td rowspan=2>
                            Gate Charge
                        </td>

                        {% if 'agent' in form %}
                            <td rowspan=2>
                                Agent
                            </td>
                        {% endif %}

                        <td rowspan=2>
                            {% if form.2 == '2_remark' %}
                                Remark
                            {% elif form.2 == '2_job_no' %}
                                Job No.
                            {% elif form.2 == '2_truck' %}
                                TRUCK
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            From
                        </td>
                        <td>
                            To
                        </td>
                    </tr>
                    {% for inv_detail in invoice_details %}              
                        <tr>
                            <td style="width: 0.9in;">
                                {{ forloop.counter }} 
                            </td>

                            {% if invoice.detail.customer_len > 34 %}
                                <td class="text-left px-3" style="width: 7in">
                            {% elif invoice.detail.customer_len > 22 %}
                                <td class="text-left px-3" style="width: 5.5in">
                            {% elif invoice.detail.customer_len < 22 and invoice.detail.booking_len < 15 %}
                                <td class="text-left px-3" style="width: 4in">
                            {% else %}
                                <td class="text-left px-3" >
                            {% endif %}
                                {% if invoice.detail.customer_name %}
                                    {{ invoice.detail.customer_name }}
                                {% else %}
                                    {{ inv_detail.work.shipper.name}}
                                {% endif %}
                            </td>

                            {% if invoice.detail.customer_len > 22 %}
                                <td class="px-3">
                            {% elif invoice.detail.customer_len < 22 and invoice.detail.booking_len < 15 %}
                                <td class="px-3">
                            {% elif invoice.detail.booking_len > 40 %}
                                <td class="px-3" style="width: 7.5in">
                            {% elif invoice.detail.booking_len > 15 %}
                                <td class="px-3" style="width: 6in">
                            {% else %}
                                <td class="px-3">
                            {% endif %}
                                {{ inv_detail.work.booking_no }}
                            </td>

                            <td style="width: 2.5in">
                                {{ inv_detail.work.pickup_from }}
                            </td>
                            <td style="width: 2.5in">
                                {{ inv_detail.work.return_to }}
                            </td>
                            <td style="width: 1.6in;"> 
                                {{ inv_detail.work.date|parse_date }}
                            </td>
                            <td style="width: 3in;">
                                {% if inv_detail.work.container_no %}
                                    {{ inv_detail.work.container_no }}
                                {% elif inv_detail.work.container_1 %}
                                    {{ inv_detail.work.container_1 }}
                                {% endif %}
                            </td>

                            {% if 'container_2' in form %}
                                <td style="width: 3in;">
                                    {{ inv_detail.work.container_2 }}
                                </td>
                            {% endif %}

                            <td style="width: 1.6in;">
                                {% if not 'X' in inv_detail.work.size %}1X{% endif %}{{ inv_detail.work.size }}
                            </td>
                            <td class="text-right px-3" style="width: 2.4in">
                                {{ inv_detail.gate_charge.gate|result }}
                            </td>

                            {% if 'agent' in form %}
                                <td style="width: 2.2in">
                                    {{ inv_detail.work.agent }}
                                </td>
                            {% endif %}

                            <td class="text-blue">
                                {{ inv_detail.detail.remark_gate }}
                            </td>
                        </tr>

                        {% if rows > 22 and inv_detail.detail.num|mod:22 > 0 and inv_detail.detail.num|mod:22 < 6 and rows|minus:inv_detail.detail.num == 6 %}
                            </table>
                                <pdf:nextpage>
                            <table class="table-bordered">
                        {% endif %}
                        
                    {% endfor %}
                    
                    <tr class="h-30">
                        {% if 'container_2' in form %}
                            <td colspan=9 class="bg-whitesmoke font-125 bold">
                        {% else %}
                            <td colspan=8 class="bg-whitesmoke font-125 bold">
                        {% endif %}
                            Total
                        </td>
                        <td class="text-right px-3 bg-whitesmoke font-110 bold">{{ invoice.gate_total|result }}</td>
                        <td class="bg-whitesmoke"></td>
                    </tr>
                </table>
            {% endif %}
        </div>
    </body>
</html>