<!-- POPUP : Truck & Chassis Data -->
<div class="modal fade" id="modalTruckChassis" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">
                    <template v-if="modal_add_mode">
                        Add New {{ page|title }}
                    </template>
                    <template v-else>
                        Edit {{ page|title }}
                    </template>
                </h4>
                <button class="close" data-dismiss="modal" aria-label="Close" style="outline: none;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container col-lg-10">
                    <div class="input-group my-3 container">
                        <div class="input-group-prepend">
                            <span class="input-group-text">NO.</span>
                        </div>
                        <input 
                            class="form-control" autocomplete=off maxlength="5" v-model="modal_data.number"
                            :class="{'alert-danger': input_required}"
                        >
                    </div>

                    <div class="input-group my-3 container">
                        <div class="input-group-prepend">
                            <span class="input-group-text">LICENSE PLATE</span>
                        </div>
                        <input 
                            class="form-control" autocomplete=off maxlength="7" v-model="modal_data.license_plate"
                        >
                    </div>

                    <div class="input-group my-3 container">
                        <div class="input-group-prepend">
                            <span class="input-group-text">MANUFACTURER</span>
                        </div>
                        <select class="custom-select text-capitalize" v-model="modal_data.manufacturer">
                            {% verbatim %}
                                <option value="">--------</option>
                                <template v-if="page == 'truck'">
                                    <option v-for="manu in truck_manu_list" class="text-capitalize" :value="manu.id">{{ manu.name }}</option>
                                </template>
                                <template v-else>
                                    <option v-for="manu in chassis_manu_list" class="text-capitalize" :value="manu.id">{{ manu.name }}</option>
                                </template>
                            {% endverbatim %}
                        </select>
                    </div>
                    
                    <hr class="my-4">

                    <div v-if="page == 'truck'" class="input-group my-3 container">
                        <div class="input-group-prepend">
                            <span class="input-group-text">PAT EXPIRED</span>
                        </div>
                        <input type="date" class="form-control" v-model="modal_data.pat_pass_expired_date">
                    </div>
                    <div class="input-group my-3 container">
                        <div class="input-group-prepend">
                            <span class="input-group-text">TAX EXPIRED</span>
                        </div>
                        <input type="date" class="form-control" v-model="modal_data.tax_expired_date">
                    </div>
                    <template v-if="! modal_add_mode">
                        <hr class="my-4">

                        <div class="input-group my-3 container">
                            <div class="input-group-prepend">
                                <span class="input-group-text">STATUS</span>
                            </div>
                            <select class="custom-select" v-model="modal_data.status">
                                <option value="a">Active</option>
                                <option value="m">Maintanance</option>
                                <option value="s">Sold</option>
                            </select>
                        </div>
                    </template>

                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center"> 
                <template v-if="modal_add_mode">
                    <button class="btn btn-primary" @click="actionTruckChassis('add')">Add</button>
                </template>   
                <template v-else>
                    <button class="btn btn-primary" @click="actionTruckChassis('edit')">Save</button>
                </template>
            </div>
        </div>
    </div>
</div>
