<table class="table table-hover col-9 container text-center">
    <thead>
        <th class="align-middle" style="width: 60px;">
            #
        </th>
        <th v-if="job=='driver'" class="align-middle">
            Truck
        </th>
        <th class="align-middle">
            Name
        </th>
        <th v-if="! job" class="align-middle">
            Job
        </th>
        <th class="align-middle">
            Tel
        </th>
        <th class="align-middle">
            Account
        </th>
        <template v-if="job=='driver'">
            <th class="align-middle" style="width: 100px;">
                License
            </th>
            <th class="align-middle">
                PAT Expired
                <button v-if="! edit_table" class="btn btn-link btn-sm text-danger p-0 float-right" @click="edit_table=!edit_table"><i class="fas fa-pen"></i></button>
                <button v-else class="btn btn-link text-success p-0 float-right" @click="editPatExpiredDriver"><i class="fas fa-save"></i></button>
            </th>
        </template>
        <th v-if="page=='salary'" class="align-middle">
            Salary
        </th>
        <th v-if="employees.length || nested_employees.length"></th>
    </thead>
    
    <tbody v-if="employees.length || nested_employees.length">
        {% verbatim %}
            <tr v-if="employees.length" v-for="(emp, index) in employees">
                <td>
                    {{ index + 1 }}
                </td>
                <td class="text-left">
                    {{ emp.full_name }}
                </td>
                <td v-if="! job" class="text-capitalize">
                    {{ emp.job.job_title }}
                </td>
                <td>
                    {{ emp.detail.tel|formatTel }}
                </td>
                <td>
                    {{ emp.detail.account|formatAccount }}
                </td>
                <td>
                    <button class="btn btn-link p-0"
                        data-toggle="modal" data-target="#modalEmployee" @click="employeeModal(emp)"
                    >
                        <i class="fas fa-edit"></i>
                    </button>
                </td>
            </tr>
            <tr v-if="nested_employees.length" v-for="(emp, index) in nested_employees">
                <td>
                    {{ driver_start_index + index }}
                </td>
                <td v-if="job=='driver'">
                    <template v-if="emp.truck">
                        {{ emp.truck.number }}
                    </template>
                </td>
                <td class="text-left">
                    {{ emp.employee.full_name }}
                </td>
                <td v-if="! job" class="text-capitalize">
                    {{ emp.employee.job.job_title }}
                </td>
                <td>
                    {{ emp.employee.detail.tel|formatTel }}
                </td>
                <td>
                    {{ emp.employee.detail.account|formatAccount }}
                </td>
                <template v-if="page=='salary'">
                    <td class="text-right">
                        {{ emp.salary|currencyCommas }}
                    </td>
                    <td>
                        <button class="btn btn-link p-0"
                            data-toggle="modal" data-target="#modalEmployeeSalary" @click="salaryModal(emp.employee, emp)"    
                        >
                            <i class="fas fa-history"></i>
                        </button>
                    </td>
                </template>
                <template v-else>
                    <template v-if="job=='driver'">
                        <td>{{ emp.license_type }}</td>
                        <td :class="{'text-danger': date_compare > emp.pat_pass_expired_date}" style="max-width: 100px;">
                            <input v-if="edit_table" type="date" class="form-control" v-model="emp.pat_pass_expired_date" @change="editData(emp)">
                            <template v-else>{{ emp.pat_pass_expired_date|formatDate }}</template>
                        </td>
                    </template>
                    <td>
                        <button class="btn btn-link p-0" 
                            data-toggle="modal" data-target="#modalEmployee" @click="employeeModal(emp.employee, emp)"    
                        >
                            <i class="fas fa-edit"></i>
                        </button>
                    </td>
                </template>

            </tr>
        {% endverbatim %}

    </tbody>
    <tbody v-else>
        <tr>
            <td colspan=7 class="text-center text-secondary">
                ไม่พบข้อมูล
            </td>
        </tr>
    </tbody>
    
</table>

{% include 'employee/employee_modal.html' %}
{% include 'employee/employee_modal_salary.html' %}