{% extends 'base.html' %}
{% load static %}

{% block title %} Employee {% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/style_employee.css' %}" />
{% endblock %}

{% block content %}
    
<div id="employee-page" class="container-fluid">
    <div class="row">
        <aside class="col-md-2 d-none d-md-block bg-light sidebar px-0" style="overflow-y: auto;">
            <div class="sidebar-sticky px-3">
                <h6 class="sidebar-heading">
                    <span>Job</span>
                </h6>
                <a class="nav-link {% if not job %}active{% endif %}" href="{% url 'employee-page' %}">
                    All
                    <input type="button" class="btn btn-sm badge-pill badge-primary py-0 float-right small-font" :value="emp_count" />

                </a>
                <a class="nav-link {% if job == 'officer' %}active{% endif %}" href="{% url 'employee-officer-page' %}">
                    <i class="fas fa-angle-right"></i>&nbsp; Officer
                    <input type="button" class="btn btn-sm badge-pill badge-primary py-0 float-right small-font" :value="officer_count" />
                </a>
                <a class="nav-link {% if job == 'driver' %}active{% endif %}" href="{% url 'employee-driver-page' %}">
                    <i class="fas fa-angle-right"></i>&nbsp; Driver
                    <input type="button" class="btn btn-sm badge-pill badge-primary py-0 float-right small-font" :value="driver_count" />
                </a>
                <a class="nav-link {% if job == 'mechanic' %}active{% endif %}" href="{% url 'employee-mechanic-page' %}">
                    <i class="fas fa-angle-right"></i>&nbsp; Mechanic
                    <input type="button" class="btn btn-sm badge-pill badge-primary py-0 float-right small-font" :value="mechanic_count" />
                </a>

                <h6 class="sidebar-heading">
                    <span>Other</span>
                </h6>
                <a class="nav-link" href="#">
                    Don't active
                </a>
                <a class="nav-link" href="#">
                    Salary
                </a>

            </div>
        </aside>

        <main class="col bg-white" style="overflow-y: auto; height: calc(100vh - 70px);">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb m-0 bg-white border-bottom">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard-page' %}">Dashboard</a></li>
                    {% if job %}
                        <li class="breadcrumb-item"><a href="{% url 'employee-page' %}">Employee</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ job|title }}</li>
                    {% else %}
                        <li class="breadcrumb-item active" aria-current="page">Employee</li>
                    {% endif %}
                </ol>
            </nav>
            <h2 class="mt-5 text-center">{{ job|title }}</h2>
            <div class="mt-4 row">
                <table class="table table-hover table-bordered col-9 container text-center">
                    <thead>
                        <th>
                            #
                        </th>
                        <th>
                            Name
                        </th>
                        <th v-if="!job">
                            Job
                        </th>
                        <th>
                            Tel
                        </th>
                        <th>
                            Account
                        </th>
                    </thead>
                    <tbody>
                        <tr v-for="(emp, index) in employees">
                            {% verbatim %}
                                <td>
                                    {{ index+1 }}
                                </td>
                                <td class="text-left">
                                    {{ emp.first_name }} {{ emp.last_name }}
                                </td>
                                <td v-if="!job">
                                    {{ emp.job.job_title }}
                                </td>
                                <td>
                                    {{ emp.detail.tel|formatTel }}
                                </td>
                                <td>
                                    {{ emp.detail.account|formatAccount }}
                                </td>
                            {% endverbatim %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>


<script type="application/javascript" src="{% static 'js/app_employee_page.js' %}"></script>
<script type="application/javascript" src="{% static 'js/utility/functions.js' %}"></script>
<script type="application/javascript" src="{% static 'js/utility/filters.js' %}"></script>

<script type="application/javascript">

    window.addEventListener("load", function() {   
        employee_page.reload("{{ job }}");
    });

</script>

    
{% endblock %}