<!-- POPUP : Employee Data -->
<div class="modal fade" id="modalEmployee" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">
                    <template v-if="modal_add_mode">
                        Add New Employee
                    </template>
                    <template v-else>
                        Edit Employee
                    </template>
                </h4>
                <button class="close" data-dismiss="modal" aria-label="Close" style="outline: none; ">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container col-lg-10">
                    <div class="container">
                        <div class="custom-control custom-radio d-inline">
                            <input type="radio" class="custom-control-input" id="name_title_1" v-model="emp_data.name_title" value="นาย" />
                            <label class="custom-control-label" for="name_title_1">นาย</label>
                        </div>  
                        <div class="custom-control custom-radio d-inline mx-2">
                            <input type="radio" class="custom-control-input" id="name_title_2" v-model="emp_data.name_title" value="น.ส." />
                            <label class="custom-control-label" for="name_title_2">น.ส.</label>
                        </div>  
                        <div class="custom-control custom-radio d-inline">
                            <input type="radio" class="custom-control-input" id="name_title_3" v-model="emp_data.name_title" value="นาง" />
                            <label class="custom-control-label" for="name_title_3">นาง</label>
                        </div>  
                    </div>
                    <div class="input-group my-3 container">
                        <div class="input-group-prepend">
                            <span class="input-group-text">NAME</span>
                        </div>
                        <input 
                            class="form-control" autocomplete=off maxlength="50" placeholder="First Name" v-model="emp_data.first_name"
                            :class="{'alert-danger': input_required && ! emp_data.first_name}"
                        >
                        <input 
                            class="form-control" autocomplete=off maxlength="50" placeholder="Last Name" v-model="emp_data.last_name" 
                            :class="{'alert-danger': input_required && ! emp_data.last_name}"
                        >
                    </div>
                    
                    <div class="input-group my-3 container">
                        <div class="input-group-prepend">
                            <span class="input-group-text">DATE OF BIRTH</span>
                        </div>
                        <input type="date" class="form-control" v-model="emp_data.birth_date" @change="calcAge(emp_data.birth_date)">

                        <div class="input-group-prepend">
                            <span class="input-group-text">AGE</span>
                        </div>
                        <input class="form-control col-2" v-model="emp_data.age" readonly>
                    </div>

                    <div class="input-group my-3 col-lg-7">
                        <div class="input-group-prepend">
                            <span class="input-group-text">TEL</span>
                        </div>
                        <input class="form-control" v-model="emp_data.tel" maxlength="10">
                    </div>

                    <div class="input-group my-3 col-lg-7">
                        <div class="input-group-prepend">
                            <span class="input-group-text">ACCOUNT</span>
                        </div>
                        <input class="form-control" v-model="emp_data.account" maxlength="10">
                    </div>

                    <hr class="my-4">

                    <div class="input-group my-3 container">
                        <div class="input-group-prepend">
                            <span class="input-group-text">DATE OF HIRE</span>
                        </div>
                        <input type="date" class="form-control" v-model="emp_data.hire_date" @change="calcExp(emp_data.hire_date, emp_data.fire_date)">

                        <div class="input-group-prepend">
                            <span class="input-group-text">EXP</span>
                        </div>
                        <input class="form-control col-2" v-model="emp_data.exp" readonly>
                    </div>

                        <div class="input-group my-3 col-lg-6">
                            <div class="input-group-prepend">
                                <span class="input-group-text">JOB TITLE</span>
                            </div>
                            <select class="custom-select" v-model="emp_data.job" :class="{'alert-danger': input_required && ! emp_data.job}" :disabled="emp_data.id">
                                <option value="">--------</option>
                                {% verbatim %}
                                <option v-for="job in job_list" :value="job.job_title">{{ job.job_title.toUpperCase() }}</option>
                                {% endverbatim %}
                            </select>
                        </div>

                        <template v-if="emp_data.job=='driver'">
                            <div class="input-group mb-2 col-lg-10 container">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">LICENSE TYPE</span>
                                </div>
                                <select class="custom-select" v-model="emp_data.license_type">
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>

                                <div class="input-group-append">
                                    <span class="input-group-text">TRUCK NO.</span>
                                </div>
                                <select class="custom-select" v-model="emp_data.truck" @change="checkTruckDriver(emp_data.truck)"
                                    :class="{'alert-warning': warning_truck_driver}"
                                >
                                    <option value="">--------</option>
                                    {% verbatim %}
                                    <option v-for="truck in truck_list" :value="truck.id">{{ truck.number }}</option>
                                    {% endverbatim %}
                                </select>
                            </div>
                            <div class="input-group mb-3 col-lg-7 container">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">PAT EXPIRED</span>
                                </div>
                                <input type="date" class="form-control" v-model="emp_data.pat_pass_expired_date">
                            </div>

                        </template>
                    
                    <template v-if="emp_data.status">
                        <hr class="my-4">

                        <div class="input-group mt-4 mb-3 container" :class="{'col-lg-5': emp_data.status!='t'}">
                            <div class="input-group-prepend">
                                <span class="input-group-text">STATUS</span>
                            </div>
                            <select class="custom-select" :class="{'col-3': emp_data.status=='t'}" style="height: 40px;" v-model="emp_data.status">
                                <option value="a">Active</option>
                                <option value="t">Terminated</option>
                            </select>
                            <template v-if="emp_data.status=='t'">
                                <div class="input-group-append">
                                    <span class="input-group-text">FIRE DATE</span>
                                </div>
                                <input type="date" 
                                    class="form-control" :class="{'alert-danger': input_required && ! emp_data.fire_date}" 
                                    v-model="emp_data.fire_date" @change="calcExp(emp_data.hire_date, emp_data.fire_date)"
                                >
                            </template>
                        </div>
                    </template>

                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">    
                <button v-if="modal_add_mode" class="btn btn-primary" @click="addEmployees">Add</button>
                <button v-else class="btn btn-primary" @click="editEmployees">Save</button>
            </div>
        </div>
    </div>
</div>