<!-- POPUP : Employee Data -->
<div class="modal fade" id="modalEmployeeSalary" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">
                    Salary
                </h4>
                <button class="close" data-dismiss="modal" aria-label="Close" style="outline: none; ">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container col-lg-10">
                    <div class="input-group my-2 container">
                        <div class="input-group-prepend">
                            <span class="input-group-text">NAME</span>
                        </div>
                        <div class="input-group-append">
                            {% verbatim %}
                                <span class="input-group-text">{{ salary_data.name_title }} {{ salary_data.first_name }} {{ salary_data.last_name }}</span>
                            {% endverbatim %}
                        </div>
                    </div>
                    
                    <div class="input-group my-2 container">
                        <div class="input-group-prepend">
                            <span class="input-group-text">ACCOUNT</span>
                        </div>
                        <div class="input-group-append">
                            {% verbatim %}
                                <span class="input-group-text">{{ salary_data.account|formatAccount }}</span>
                            {% endverbatim %}
                        </div>
                    </div>

                    <div class="input-group my-3 container col-lg-7">
                        <div class="input-group-prepend">
                            <span class="input-group-text">NEW SALARY</span>
                        </div>
                        <input type="number" class="form-control" v-model="salary_data.new_salary" min=0 :class="{'alert-danger': input_required}" :readonly="! salary_data.edit_salary">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <input type="checkbox" style="outline: none;" v-model="salary_data.edit_salary">
                            </div>
                        </div>
                    </div>
                    
                    <table class="table table-bordered text-center">
                        <thead>
                            <th class="align-middle">
                                Salary
                            </th>
                            <th class="align-middle">
                                From
                            </th>
                            <th class="align-middle">
                                To
                            </th>
                        </thead>
                        <tbody>
                            <tr if="salary_history.length" v-for="(salary, index) in salary_history">
                                {% verbatim %}
                                    <td class="text-right" :class="{'table-primary': index == 0}">
                                        {{ salary.salary|currencyCommas }}
                                    </td>
                                    <td>
                                        {{ salary.from_date|formatDate }}
                                    </td>
                                    <td>
                                        {{ salary.to_date|formatDate }}
                                    </td>
                                {% endverbatim %}
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">         
                <button v-if="salary_data.edit_salary" class="btn btn-primary" @click="editSalary">Save</button>
                <button v-else class="btn btn-primary" data-dismiss="modal" aria-label="Close">OK</button>
            </div>
        </div>
    </div>
</div>