<!-- POPUP : Add new employee -->
<div class="modal fade" id="modalEmployee" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">
                    <template v-if="modal_add_mode">
                        Add New Employee
                    </template>
                    <template v-else>
                        Edit Employee
                    </template>
                </h4>
                <button class="close" data-dismiss="modal" aria-label="Close" style="outline: none; ">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container col-lg-10">
                    <div class="input-group my-3 container">
                        <div class="input-group-prepend">
                            <span class="input-group-text">NAME</span>
                        </div>
                        <input 
                            class="form-control" autocomplete=off maxlength="50" placeholder="First Name" v-model="emp_data.first_name"
                            :class="{'alert-danger': input_required == true & emp_data.first_name == ''}"
                            required
                        >
                        <input 
                            class="form-control" autocomplete=off maxlength="50" placeholder="Last Name" v-model="emp_data.last_name" 
                            :class="{'alert-danger': input_required == true & emp_data.last_name == ''}"
                            required
                        >
                    </div>
                    
                    <div class="input-group my-3 container">
                        <div class="input-group-prepend">
                            <span class="input-group-text">DATE OF BIRTH</span>
                        </div>
                        <input type="date" class="form-control" v-model="emp_data.birth_date">

                        <div class="input-group-prepend">
                            <span class="input-group-text">AGE</span>
                        </div>
                        <input class="form-control col-2" v-model="emp_data.age" readonly>
                    </div>

                    <div class="input-group my-3 col-lg-7">
                        <div class="input-group-prepend">
                            <span class="input-group-text">TEL</span>
                        </div>
                        <input class="form-control" v-model="emp_data.tel" maxlength="10">
                    </div>

                    <div class="input-group my-3 col-lg-7">
                        <div class="input-group-prepend">
                            <span class="input-group-text">ACCOUNT</span>
                        </div>
                        <input class="form-control" v-model="emp_data.account" maxlength="10">
                    </div>

                    <hr class="my-4">

                    <div class="input-group my-3 container">
                        <div class="input-group-prepend">
                            <span class="input-group-text">DATE OF HIRE</span>
                        </div>
                        <input type="date" class="form-control" v-model="emp_data.hire_date">

                        <div class="input-group-prepend">
                            <span class="input-group-text">EXP</span>
                        </div>
                        <input class="form-control col-2" v-model="emp_data.exp" readonly>
                    </div>

                    <div class="input-group my-2 col-lg-6">
                        <div class="input-group-prepend">
                            <span class="input-group-text">JOB TITLE</span>
                        </div>
                        <select class="custom-select" v-model="emp_data.job" :class="{'alert-danger': input_required == true & emp_data.job == ''}" :disabled="emp_data.id">
                            <option value="">--------</option>
                            <option value="officer">Officer</option>
                            <option value="driver">Driver</option>
                            <option value="mechanic">Mechanic</option>
                        </select>
                    </div>

                    <div v-if="emp_data.job=='driver'" class="input-group mb-1 container px-5">
                        <div class="input-group-prepend">
                            <span class="input-group-text">LICENSE TYPE</span>
                        </div>
                        <select class="custom-select col-2" v-model="emp_data.license_type">
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                        <!-- <div class="input-group-append">
                            <span class="input-group-text">PAT Expired</span>
                        </div>
                        <input type="date" class="form-control" v-model="emp_data.pat_pass_expired_date"> -->
                    </div>

                    <div v-if="emp_data.job=='driver'" class="input-group mb-3 col-lg-10 px-5">
                        <!-- <div class="input-group-prepend">
                            <span class="input-group-text">LICENSE TYPE</span>
                        </div>
                        <select class="custom-select col-2" style="height: 40px;" v-model="emp_data.license_type">
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select> -->
                        <div class="input-group-prepend">
                            <span class="input-group-text">PAT Expired</span>
                        </div>
                        <input type="date" class="form-control" v-model="emp_data.pat_pass_expired_date">
                    </div>
                    
                    <template v-if="emp_data.status">
                        <hr class="my-4">

                        <div class="input-group mt-4 mb-3 container" :class="{'col-lg-5': emp_data.status!='terminated'}">
                            <div class="input-group-prepend">
                                <span class="input-group-text">STATUS</span>
                            </div>
                            <select class="custom-select" :class="{'col-3': emp_data.status=='terminated'}" style="height: 40px;" v-model="emp_data.status">
                                <option value="active">Active</option>
                                <option value="terminated">Terminated</option>
                            </select>
                            <template v-if="emp_data.status=='terminated'">
                                <div class="input-group-append">
                                    <span class="input-group-text">FIRE DATE</span>
                                </div>
                                <input type="date" class="form-control" :class="{'alert-danger': input_required == true & emp_data.fire_date == ''}" v-model="emp_data.fire_date">
                            </template>
                        </div>
                    </template>

                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                
                <button v-if="modal_add_mode" class="btn btn-primary" @click="addEmployees">Add</button>
                <template v-else>
                    <button class="btn btn-link text-danger mr-auto mx-5" @click="deleteEmployees(emp_data.id)">Remove Employee</button>
                    <button class="btn btn-primary mx-5" @click="editEmployees">Save</button>
                </template>
            </div>
        </div>
    </div>
</div>