{% extends 'base.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/style_employee.css' %}" />
{% endblock %}

{% block content %}

{% load has_group %}
    <div id="employee-page" class="container-fluid">
        <div class="row">
            <aside class="col-2 d-block bg-light sidebar px-0">
                <div class="sidebar-sticky px-3">
                    <h6 class="sidebar-heading">
                        <span>NDD</span>
                    </h6>
                    <a class="nav-link {% if not job and not page %}active{% endif %}" href="{% url 'employee-page' %}">
                        All
                        <input type="button" class="btn btn-sm badge-pill badge-primary py-0 float-right small-font" :value="emp_count" />
                    </a>
                    <a class="nav-link {% if job == 'officer' %}active{% endif %}" href="{% url 'employee-officer-page' %}">
                        <i class="fas fa-angle-right"></i>&nbsp; Officer
                        <input type="button" class="btn btn-sm badge-pill badge-primary py-0 float-right small-font" :value="officer_count" />
                    </a>
                    <a class="nav-link {% if job == 'driver' and co == 'ndd' %}active{% endif %}" href="{% url 'employee-driver-page' %}">
                        <i class="fas fa-angle-right"></i>&nbsp; Driver
                        <input type="button" class="btn btn-sm badge-pill badge-primary py-0 float-right small-font" :value="driver_count" />
                    </a>
                    <a class="nav-link {% if job == 'mechanic' %}active{% endif %}" href="{% url 'employee-mechanic-page' %}">
                        <i class="fas fa-angle-right"></i>&nbsp; Mechanic
                        <input type="button" class="btn btn-sm badge-pill badge-primary py-0 float-right small-font" :value="mechanic_count" />
                    </a>

                    <h6 class="sidebar-heading">
                        <span>VTS</span>
                    </h6>
                    <a class="nav-link {% if job == 'driver' and co == 'vts' %}active{% endif %}" href="{% url 'sup-driver-page' %}">
                        <i class="fas fa-angle-right"></i>&nbsp; Driver
                        <input type="button" class="btn btn-sm badge-pill badge-primary py-0 float-right small-font" :value="sup_driver_count" />
                    </a>

                    <hr class="my-4"> 

                    <h6 class="sidebar-heading">
                        <span>Other</span>
                    </h6>
                    <a class="nav-link {% if page == 'terminated' %}active{% endif %}" href="{% url 'employee-not-active-page' %}">
                        Former Employee
                    </a>
                    {% if request.user|has_group:'salary_change' %}
                        <a class="nav-link {% if page == 'salary' %}active{% endif %}" href="{% url 'employee-salary-page' %}">
                            Salary
                        </a>
                    {% endif %}
                    
                    <hr class="my-4">

                    <a class="nav-link" href="{% url 'truck-page' %}">
                        <i class="fa fa-truck"></i>&nbsp; Truck
                    </a>
                </div>
            </aside>

            <main class="col bg-white" style="overflow-y: auto; height: calc(100vh - 70px);">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 bg-white border-bottom">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard-page' %}">Dashboard</a></li>
                        {% if job or page %}
                            <li class="breadcrumb-item"><a href="{% url 'employee-page' %}">Employee</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ title }} <template v-if="co=='vts'">(VTS)</template></li>
                        {% else %}
                            <li class="breadcrumb-item active" aria-current="page">Employee</li>
                        {% endif %}
                    </ol>
                </nav>
                {% if not page %}
                    <button class="btn btn-success m-3 position-absolute" style="right:0;" data-toggle="modal" data-target="#modalEmployee" @click="employeeModal()"><i class="fa fa-plus"></i> Add</button>
                {% else %}
                    <div class="switch-field m-3 position-absolute" style="right:0;">
                        <template v-if="page=='terminated'">
                            <input type="radio" id="work_ndd" v-model="co" value="ndd" @change="getNotActiveEmployee" />
                            <label for="work_ndd">NDD</label>
                            <input type="radio" id="work_vts" v-model="co" value="vts" @change="getNotActiveEmployee" />
                            <label for="work_vts">VTS</label>
                        </template>
                        <template v-else>
                            <input type="radio" id="work_ndd" v-model="co" value="ndd" @change="getEmployeeSalary" />
                            <label for="work_ndd">NDD</label>
                            <input type="radio" id="work_vts" v-model="co" value="vts" @change="getEmployeeSalary" />
                            <label for="work_vts">VTS</label>
                        </template>
                    </div>
                {% endif %}
                <h2 class="mt-5 text-center">{{ title }} <template v-if="co=='vts'">(VTS)</template></h2>
                <div class="mt-4 row">
                    {% include 'employee/employee_detail.html' %}
                </div>
            </main>
        </div>
    </div>


    <script type="application/javascript" src="{% static 'js/app_employee_page.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/utility/functions.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/utility/filters.js' %}"></script>

    <script type="application/javascript">

        window.addEventListener("load", function() {   
            employee_page.reload("{{ job }}", "{{ co }}", "{{ page }}")
        });

    </script>

    
{% endblock %}