{% load staticfiles %}

<html>
    <head>
        <title>Demo</title>
        <link rel="stylesheet" href="{% static 'css/style_add_booking.css' %}" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

        <script>

            $(function() {
                // var div = $('#booking-container');
                var table = $('#booking-container');
                // var i = $('#booking-container p').size() + 1;
                
                $('#addMore').live('click', function() {
                    // $('<div class="add">SIZE : {{ form.size }} QUANTITY : {{ form.quantity }} DATE : {{ form.date }} <i id="removeThis" class="material-icons" style="font-size: 25px;">delete</i></div>').appendTo(div);
                    $('<tr class="add"><td> {{ form.size }} </td><td> {{ form.quantity }} </td><td> {{ form.date }} </td><td> <i id="removeThis" class="material-icons" style="font-size: 25px;">delete</i> </td></tr>').appendTo(table);
                    // i++;
                    return false;
                });
                
                $('#removeThis').live('click', function() { 
                    // if( i > 2 ) {
                    $(this).parents('tr.add').remove();
                            // i--;
                    // }
                    return false;
                });
            });

            function updateradio() {
                var pt = document.getElementsByName("address");
                if (pt[1].checked) {
                    document.getElementById("id_address_other").disabled = false;
                } else {
                    document.getElementById("id_address_other").disabled = true;
                }

            }
        </script>
    </head>
    <body>
        {% block content %}
        <div align='center' style="background-color: whitesmoke; width:80%; margin:auto;">
            <form method="POST" class="add-booking-form">
                {% csrf_token %}
                    <table>
                    
                        <form id="customer" method="POST">
                            {% csrf_token %}
                            <tr>
                                <td class="col-label"> CUSTOMER : </td>
                                <td>
                                    <select id="id_principal" name="principal" class="add-edit-form add-principal" onchange="this.form.submit();" >
                                        <option value=""> -------- </option>
                                        {% for p in principals %}
                                            {% ifequal p.pk|stringformat:"s" principal %}
                                                <option value="{{ p.pk }}" selected="selected"> {{ p.name }} </option>
                                            {% else %}
                                                <option value="{{ p.pk }}"> {{ p.name }} </option>
                                            {% endifequal %}
                                        {% endfor %}
                                    </select>
                                </td>
                                <td></td> 
                            </tr>
                            <tr>
                                <td class="col-label"> SHIPPER : </td>
                                <td>
                                    <select id="id_shipper" name="shipper" class="add-edit-form add-shipper">
                                        <option value=""> -------- </option>
                                        {% for s in shippers %}
                                            <option value="{{ s.pk }}"> {{ s.name }} </option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td></td> 
                            </tr>
                        </form>

                        <tr>
                            <td class="col-label"> AGENT : </td>
                            <td> {{ form.agent }} </td>
                            <td></td> 
                        </tr>

                        <tr>
                            <td class="col-label"> BOOKING NO. : </td>
                            <td> {{ form.booking_no }} </td>
                            <td width=15%> {{ form.booking_color }} </td>
                        </tr>
                    </table>
<!--                 
                    <div id="booking-container">
                        <div>
                            SIZE : {{ form.size }} QUANTITY : {{ form.quantity }} DATE : {{ form.date }} 
                        </div>
                    </div> -->
                    <table id="booking-container">
                        <tr>
                            <th> SIZE </th>
                            <th> QUANTITY </th>
                            <th> DATE </th>
                            <th> </th>
                        </tr>
                        {% if size or quantity or date %}

                            {% for s, q, d in zip %}
                                <tr class="add">
                                    <td class="col-label"> <input name="size" class="add-edit-form add-size" id="id_size" value="{{ s }}"> </td>
                                    <td> <input type="number" name="quantity" min="1" class="add-edit-form add-quantity" id="id_quantity" value="{{ q }}"> </td>
                                    <td> <input type="date" name="date" class="add-edit-form add-date" id="id_date" value="{{ d }}"> </td>
                                    {% if forloop.counter == 1 %}
                                        <td></td>
                                    {% else %}
                                        <td> <i id="removeThis" class="material-icons" style="font-size: 25px;">delete</i></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        {% else %}
                        <tr class="add">
                            <td> {{ form.size }} </td>
                            <td> {{ form.quantity }} </td>
                            <td> {{ form.date }} </td>
                            <td></td>
                        </tr>
                        {% endif %}
                    </table>
                        <!-- <a onclick="myFunction()"><i class="material-icons" style="font-size: 30px; margin-bottom:30px;">add_circle</i></a> -->
                        <i id="addMore" class="material-icons add-more-button" style="font-size: 40px;">add_circle</i>

                    <table>
                        <tr>
                            <td> FROM </td>
                            <td> FACTORY </td>
                            <td> TO </td>
                        </tr>
                        <tr>
                            <td> {{ form.fw_fm }} </td>
                            <td> {{ form.loading }} </td>
                            <td> {{ form.bw_to }} </td>
                    </div>

                <table>
                    <tr>
                        <td class="col-label">
                            VESSEL :
                        </td>
                        <td>
                            {{ form.vessel }}
                        </td>
                    </tr>
                    <tr>
                        <td class="col-label">
                            PORT :
                        </td>
                        <td>
                            {{ form.port }}
                        </td>
                    </tr>
                    <tr>
                        <td class="col-label">
                            CLOSING :
                        </td>
                        <td>
                            {{ form.closing_time }}
                        </td>
                    </tr>
                    <tr>
                        <td class="col-label">
                            REMARK :
                        </td>
                        <td>
                            {{ form.remark }}
                        </td>   
                    </tr>
                    <tr>
                        <td class="col-label">
                            ADDRESS :
                        </td>
                        <td class="add-address">
                            <input type="radio" id="id_address" name="address" class="add-address" onchange="updateradio();" value="shipper" checked> Shipper
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td class="add-address">
                            <input type="radio" id="id_address" name="address" class="add-address" onchange="updateradio();" value="other"> Other
                            <textarea class="add-edit-form add-address-other" id="id_address_other" name="address_other" disabled></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td class="add-address">
                            <input type="radio" id="id_address" name="address" class="add-address" onchange="updateradio();" value="none"> None
                        </td>
                    </tr>
                </table>
                <input type="submit" value="SAVE">
            </form>
        </div>

        {% endblock %}

    </body>