{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} Edit Booking {% endblock %}
        
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/style-table.css' %}" />
    <script src="{% static 'js/fixed-header.js' %}"></script>
    <script>
        window.setTimeout(function() {
            $(".alert").fadeTo(500, 0).slideUp(500, function(){
                $(this).remove(); 
            });
        }, 2000);
    </script>
{% endblock %}
        
{% block content %}
<br>
    {% for message in messages %}
        <div class="fixed-top alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
    <div class="container col-sm-12">
        <button class="btn btn-success float-right" onclick="document.forms['edit-form'].submit();"><i class="fa fa-save"></i>&nbsp;Save</button>
        <button class="btn float-right mr-sm-2" onclick="window.location='{% url 'booking-table' %}'">Cancel</button>
    
    <form name="booking-filter-sort" method="GET" action="{% url 'booking-edit' %}" class="form-inline">
        {% csrf_token %}
        <div class="input-group mb-3 ml-sm-2">
            <div class="input-group-prepend">
                <span class="input-group-text">DATE</span>
            </div>
            {{ form.date }} 
        </div>
    </form>
        
        </div>
        {% if bookings %}
        <!-- <div class='table-cont' id='table-cont'> -->
    <!-- <div class="container"> -->
        <!-- <div class="row"> -->
            <div id='table-cont' class="table-cont table-responsive"> 
        <table>
            <thead class="text-nowrap">
            <th>TIME</th>
            <th>DATE</th>
            <th>PRINCIPAL</th>
            <th>SHIPPER</th>
            <th>AGENT</th>
            <th>SIZE</th>
            <th>BOOKING</th>

            <th>TR</th>
            <th>FM</th>
            <th>TR</th>
            <th>FACTORY</th>
            <th>TR</th>
            <th>TR</th>
            <th>TO</th>

            <th class="px-3">CONTAINER NO</th>
            <th class="px-4">SEAL NO</th>
            <!-- <th rowspan="2">VESSEL</th>
            <th rowspan="2">PORT</th> -->
            <th colspan=2>CLOSING (DATE / TIME)</th>

            <th class="px-5">REF.</th>
            <th class="px-5">REMARK</th>
            <th>เลขที่ใบงาน</th>

            <!-- <th rowspan="2">PICK UP</th>
            <th rowspan="2">FACTORY</th> -->
            <th>RETURN</th>

            <!-- <th colspan="2">ลานรับตู้</th>
            <th colspan="4">Factory</th>
            <th colspan="2">ลานส่งตู้</th>
            <tr>
                <th>In</th>
                <th>Out</th>

                <th>In</th>
                <th>Start</th>
                <th>Finish</th>
                <th>Out</th>

                <th>In</th>
                <th>Out</th>
            </tr> -->
        </thead> 
        <tbody> 
            <form name="edit-form" method="POST" action="{% url 'booking-edit-save' %}">
                {% csrf_token %}
            {% for booking in bookings %}
            <input type="hidden" name="pk" value="{{ booking.pk }}">
            {% load parse_iso %}
            {% if booking.closing_date < today.date and not booking.return_tr %}
                <tr class="bg-danger">
            {% elif booking.closing_date <= tmr.date and not booking.return_tr %}
                <tr class="alert-danger">
            {% elif booking.date <= today.date and not booking.return_tr %}
                <tr class="alert-warning">
            {% else %}
                <tr>
            {% endif %}
                    
                    <td><input name="time" class="form-control" value="{{ booking.time }}" autocomplete=off></td>
                    
                    <td><input type="date" name="date" class="form-control" value="{{ booking.date | date:'Y-m-d' }}" autocomplete=off></td>
                    <td class="text-nowrap">{{ booking.principal }}</td>
                    <td class="text-nowrap">{{ booking.shipper }}</td>
                    <td class="text-nowrap">{{ booking.agent }}</td>
                    <td class="text-nowrap">{{ booking.size }}</td>
                    <td style="background-color: {{ booking.booking_color }}" class="text-nowrap">{{ booking.booking_no }}</td>

                    <td><input name="pickup_tr" class="form-control" value="{{ booking.pickup_tr }}" autocomplete=off></td>
                    <td><input name="pickup_from" class="form-control" value="{{ booking.pickup_from }}" autocomplete=off></td>
                    <td><input name="forward_tr" class="form-control" value="{{ booking.forward_tr }}" autocomplete=off></td>
                    <td><input name="factory" class="form-control" value="{{ booking.factory }}" autocomplete=off></td>
                    <td><input name="backward_tr" class="form-control" value="{{ booking.backward_tr }}" autocomplete=off></td>
                    <td><input name="return_tr" class="form-control" value="{{ booking.return_tr }}" autocomplete=off></td>
                    
                    <td><input name="return_to" class="form-control" value="{{ booking.return_to }}" autocomplete=off></td>

                    <td><input name="container_no" class="form-control" value="{{ booking.container_no }}" autocomplete=off></td>
                    <td><input name="seal_no" class="form-control" value="{{ booking.seal_no }}" autocomplete=off></td>
                    <!-- <td class="text-nowrap">{{ booking.vessel }}</td>
                    <td class="text-nowrap">{{ booking.port }}</td> -->
                    <td><input type="date" name="closing_date" class="form-control" value="{{ booking.closing_date | date:'Y-m-d' }}" autocomplete=off></td>
                    <td><input type="time" name="closing_time" class="form-control" value="{{ booking.closing_time }}" autocomplete=off></td>

                    <td><input name="ref" class="form-control" value="{{ booking.ref }}" autocomplete=off></td>
                    <td><textarea class="form-control" rows="1" name="remark" style="padding: 4px; font-size: 12px;">{{ booking.remark }}</textarea></td>

                    <td class="text-nowrap">{{ booking.work_id }}</td>

                    <!-- <td class="text-nowrap">{{ booking.pickup_date }}</td>

                    {% if booking.factory_date != booking.return_date %}
                    <td class="text-nowrap bg-info">
                    {% else %}
                    <td class="text-nowrap">
                    {% endif %}
                        {{ booking.factory_date }}
                    </td> -->
                    
                    {% if booking.factory_date != booking.return_date %}
                    <td class="bg-info">
                    {% else %}
                    <td>
                    {% endif %}
                        <input type="date" name="return_date" class="form-control" value="{{ booking.return_date | date:'Y-m-d' }}" autocomplete=off>
                    </td>

                    <!-- <td class="text-nowrap">{{ booking.pickup_in_time }}</td>
                    <td class="text-nowrap">{{ booking.pickup_out_time }}</td>
                    <td class="text-nowrap">{{ booking.factory_in_time }}</td>
                    <td class="text-nowrap">{{ booking.factory_load_start_time }}</td>
                    <td class="text-nowrap">{{ booking.factory_load_finish_time }}</td>
                    <td class="text-nowrap">{{ booking.factory_out_finish }}</td>
                    <td class="text-nowrap">{{ booking.return_in_time }}</td>
                    <td class="text-nowrap">{{ booking.return_out_time }}</td> -->
                </tr>
            {% endfor %}
            </form>
        </tbody> 
        </table>
        </div>
    <!-- </div> -->
<!-- </div> -->
        {% else %}
            <h1> NOOO </h1>
        {% endif %}

        
    {% endblock %}
    </body>

</html>