{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} NDD Booking {% endblock %}
        
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/style-table.css' %}" />
    <script src="{% static 'js/fixed-header.js' %}"></script>
    <script>
        window.setTimeout(function() {
            $(".alert").fadeTo(500, 0).slideUp(500, function(){
                $(this).remove(); 
            });
        }, 2000);
    </script>
{% endblock %}
        
{% block content %}
<br>
    {% for message in messages %}
        <div class="fixed-top alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
    <div class="container col-sm-12">
        <a class="btn btn-primary add-btn float-right" href="{% url 'booking-add' %}" role="button"><i class="fa fa-plus"></i>&nbsp;Add</a>
    
    <form name="booking-filter-sort" method="GET" action="{% url 'booking-table' %}" class="form-inline">
        {% csrf_token %}
        <div class="input-group mb-3 ml-sm-2">
            <div class="input-group-prepend">
                <span class="input-group-text">DATE</span>
            </div>
            {{ form.date }} 
        </div>
    </form>
        
        </div>
        {% if bookings %}
        <!-- <div class='table-cont' id='table-cont'> -->
    <!-- <div class="container"> -->
        <!-- <div class="row"> -->
            <div id='table-cont' class="table-cont"> 
        <table>
            <thead class="text-nowrap"> 
            <th rowspan="2">EDIT</th>
            <th rowspan="2">PRINT</th>
            <th rowspan="2">TIME</th>
            <th rowspan="2">DATE</th>
            <th rowspan="2">PRINCIPAL</th>
            <th rowspan="2">SHIPPER</th>
            <th rowspan="2">AGENT</th>
            <th rowspan="2">SIZE</th>
            <th rowspan="2">BOOKING</th>

            <th rowspan="2">TR</th>
            <th rowspan="2">FM</th>
            <th rowspan="2">TR</th>
            <th rowspan="2">FACTORY</th>
            <th rowspan="2">TR</th>
            <th rowspan="2">TR</th>
            <th rowspan="2">TO</th>

            <th rowspan="2">CONTAINER NO</th>
            <th rowspan="2">SEAL NO</th>
            <th rowspan="2">VESSEL</th>
            <th rowspan="2">PORT</th>
            <th rowspan="2">CLOSING</th>

            <th rowspan="2">REF.</th>
            <th rowspan="2">REMARK</th>
            <th rowspan="2">เลขที่ใบงาน</th>

            <th rowspan="2">PICK UP</th>
            <th rowspan="2">FACTORY</th>
            <th rowspan="2">RETURN</th>

            <th colspan="2">ลานรับตู้</th>
            <th colspan="4">Factory</th>
            <th colspan="2">ลานส่งตู้</th>
            <tr>
                <th>In</th>
                <th>Out</th>

                <th>In</th>
                <th>Start</th>
                <th>Finish</th>
                <th>Out</th>

                <th>In</th>
                <th>Out</th>
            </tr>
        </thead> 
        <tbody> 
            {% for booking in bookings %}
                <tr>
                    <td>
                        <button class="btn " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_horiz</i></button>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href=".">Edit</a>
                            <a class="dropdown-item" href="#" onclick="document.getElementById('delete-form{{ booking.pk }}').submit();">Delete</a>
                            <form id="delete-form{{ booking.pk }}" method="GET" action="{% url 'booking-delete' pk=booking.pk %}" style="display:none;">
                                <input type="hidden" name="date" value="{{ date }}">
                            </form>
                        </div>
                    </td>
                    
                    <td>
                        <button class="btn " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">print</i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'booking-print' pk=booking.pk template='full' %}">Full</a>
                            <a class="dropdown-item" href="{% url 'booking-print' pk=booking.pk template='forward' %}">Forward</a>
                            <a class="dropdown-item" href="{% url 'booking-print' pk=booking.pk template='backward' %}">Backward</a>
                        </div>
                    </td>

                    {% if booking.time %}
                        <td class="text-nowrap">{{ booking.time }}</td>
                    {% else %}
                        <td class="text-nowrap">-</td>
                    {% endif %}
                    
                    <td class="text-nowrap">{{ booking.date }}</td>
                    <td class="text-nowrap">{{ booking.principal }}</td>
                    <td class="text-nowrap">{{ booking.shipper }}</td>
                    <td class="text-nowrap">{{ booking.agent }}</td>
                    <td class="text-nowrap">{{ booking.size }}</td>
                    <td style="background-color: {{ booking.booking_color }}" class="text-nowrap">{{ booking.booking_no }}</td>

                    <td class="text-nowrap">{{ booking.pickup_tr }}</td>
                    <td class="text-nowrap">{{ booking.pickup_from }}</td>
                    <td class="text-nowrap">{{ booking.forward_tr }}</td>
                    <td class="text-nowrap">{{ booking.factory }}</td>
                    <td class="text-nowrap">{{ booking.backward_tr }}</td>
                    <td class="text-nowrap">{{ booking.return_tr }}</td>
                    <td class="text-nowrap">{{ booking.return_to }}</td>

                    <td class="text-nowrap">{{ booking.container_no }}</td>
                    <td class="text-nowrap">{{ booking.seal_no }}</td>
                    <td class="text-nowrap">{{ booking.vessel }}</td>
                    <td class="text-nowrap">{{ booking.port }}</td>
                    <td class="text-nowrap">{{ booking.closing_date }}</td>
                    <td class="text-nowrap">{{ booking.ref }}</td>
                    <td><div class="remark">{{ booking.remark }}</div></td>

                    <td class="text-nowrap">{{ booking.work_id }}</td>
                    
                    <td class="text-nowrap">{{ booking.pickup_date }}</td>
                    <td class="text-nowrap">{{ booking.factory_date }}</td>
                    <td class="text-nowrap">{{ booking.return_date }}</td>

                    <td class="text-nowrap">{{ booking.pickup_in_time }}</td>
                    <td class="text-nowrap">{{ booking.pickup_out_time }}</td>
                    <td class="text-nowrap">{{ booking.factory_in_time }}</td>
                    <td class="text-nowrap">{{ booking.factory_load_start_time }}</td>
                    <td class="text-nowrap">{{ booking.factory_load_finish_time }}</td>
                    <td class="text-nowrap">{{ booking.factory_out_finish }}</td>
                    <td class="text-nowrap">{{ booking.return_in_time }}</td>
                    <td class="text-nowrap">{{ booking.return_out_time }}</td>
                </tr>
            {% endfor %}
       
        </tbody> 
        </table>
        </div>
    <!-- </div> -->
<!-- </div> -->
        {% else %}
            <h1> NOOO </h1>
        {% endif %}

        
    {% endblock %}
    </body>

</html>