{% load staticfiles %}

<html>
    <head>
        <title>Demo</title>
        <link rel="stylesheet" href="{% static 'css/style-table.css' %}" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="{% static 'js/fixed-header.js' %}"></script>
        <script src="{% static 'js/dropdown-edit.js' %}"></script>
        <script src="{% static 'js/dropdown-print.js' %}"></script>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        
    </head>
    <body style="overflow-x:auto;">
    <!-- <body style="overflow:auto;"> -->
    <!-- <body> -->
            <div class="add-button">
                    <a href="{% url 'booking-add' %}"><i class="material-icons add-icon-size">add_circle</i></a>
                </div>
        <div class="page-header">
            <h1><a href="{% url 'booking-table' %}">Demo booking</a></h1>
        </div>
        
        <form name="booking-filter" method="POST" action="{% url 'booking-table' %}">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
        </form>
        {% if bookings %}
        <div class='table-cont' id='table-cont'>
        <table>
            <thead class="nowrap"> 
            <th rowspan="2"></th>
            <th rowspan="2">Print</th>
            <th rowspan="2">Time</th>
            <th rowspan="2">Date</th>
            <th rowspan="2">Principal</th>

            <th colspan="6">FORWARD TRIP</th>

            <th rowspan="2">CONTAINER NO</th>
            <th rowspan="2">SEAL NO</th>

            <th colspan="5">BACKWARD TRIP</th>

            <th rowspan="2">REMARK</th>
            <th rowspan="2">สถานที่บรรจุ</th>
            <th rowspan="2">เลขที่ใบงาน</th>
            <th rowspan="2">PICK UP</th>
            <th rowspan="2">FACTORY</th>
            <th rowspan="2">RETURN</th>
            <th colspan="2">ลานรับตู้</th>
            <th colspan="4">Factory</th>
            <th colspan="2">ลานส่งตู้</th>
            <tr>
                <th>SHIPPER</th>
                <th>AGENT</th>
                <th>SIZE</th>
                <th>BOOKING</th>
                <th>TR</th>
                <th>FM</th>
            
                <th>TR</th>
                <th>TO</th>
                <th>VESSEL</th>
                <th>PORT</th>
                <th>CLOSING</th>

                <th>In</th>
                <th>Out</th>

                <th>In</th>
                <th>Start</th>
                <th>Finish</th>
                <th>Out</th>

                <th>In</th>
                <th>Out</th>
            </tr>
        </thead> 
        <tbody> 
        {% block content %}
            {% for booking in bookings %}
                <tr>
                    <td onclick="dropdownEdit({{ booking.pk }})" class="dropbtn">
                        <i class="material-icons">more_horiz</i></button>
                        <div id="dropdownEdit{{ booking.pk }}" class="dropdown-content{{ booking.pk }} dropdown-content">
                            <a href=".">Edit</a>
                            <a href=".">Delete</a> 
                        </div>
                    </td>
                    
                    <!-- <td onclick="document.location = '{% url 'booking-print' pk=booking.pk template='full' %}';"><a href="{% url 'booking-print' pk=booking.pk template='full' %}"><i class="material-icons">print</i></a></td> -->
                    <td onclick="dropdownPrint({{ booking.pk }})" class="dropbtn">
                        <i class="material-icons">print</i>
                        <div id="dropdownPrint{{ booking.pk }}" class="dropdown-content{{ booking.pk }} dropdown-content">
                            <a href="{% url 'booking-print' pk=booking.pk template='full' %}">Full</a>
                            <a href="{% url 'booking-print' pk=booking.pk template='forward' %}">Forward</a>
                            <a href="{% url 'booking-print' pk=booking.pk template='backward' %}">Backward</a>
                        </div>
                    </td>

                    {% if booking.time %}
                        <td class="nowrap">{{ booking.time }}</td>
                    {% else %}
                        <td class="nowrap">-</td>
                    {% endif %}
                    
                    <td class="nowrap">{{ booking.date }}</td>
                    <td class="nowrap">{{ booking.principal }}</td>
                    <td class="nowrap">{{ booking.shipper }}</td>
                    <td class="nowrap">{{ booking.agent }}</td>
                    <td class="nowrap">{{ booking.size }}</td>
                    <td style="background-color: {{ booking.booking_color }}" class="nowrap">{{ booking.booking_no }}</td>
                    <td class="nowrap">{{ booking.fw_tr }}</td>
                    <td class="nowrap">{{ booking.fw_fm }}</td>
                    <td class="nowrap">{{ booking.container_no }}</td>
                    <td class="nowrap">{{ booking.seal_no }}</td>
                    <td class="nowrap">{{ booking.bw_tr }}</td>
                    <td class="nowrap">{{ booking.bw_to }}</td>
                    <td class="nowrap">{{ booking.vessel }}</td>
                    <td class="nowrap">{{ booking.port }}</td>
                    <td class="nowrap">{{ booking.closing_time }}</td>
                    <td><div class="remark">{{ booking.remark }}</div></td>
                    <td class="nowrap">{{ booking.loading }}</td>
                    <td class="nowrap">{{ booking.work_id }}</td>
                    <td class="nowrap">{{ booking.pickup_date }}</td>
                    <td class="nowrap">{{ booking.factory_date }}</td>
                    <td class="nowrap">{{ booking.return_date }}</td>
                    <td class="nowrap">{{ booking.pickup_in_time }}</td>
                    <td class="nowrap">{{ booking.pickup_out_time }}</td>
                    <td class="nowrap">{{ booking.factory_in_time }}</td>
                    <td class="nowrap">{{ booking.factory_load_start_time }}</td>
                    <td class="nowrap">{{ booking.factory_load_finish_time }}</td>
                    <td class="nowrap">{{ booking.factory_out_finish }}</td>
                    <td class="nowrap">{{ booking.return_in_time }}</td>
                    <td class="nowrap">{{ booking.return_out_time }}</td>
                </tr>
            {% endfor %}
        {% endblock %}
        </tbody> 
        </table>
        </div>
        {% else %}
            <h1> NOOO </h1>
        {% endif %}
    </body>
</html>