{% load staticfiles %}

<html>
    <head>
        <title>Demo</title>
        <link rel="stylesheet" href="{% static 'css/style-table.css' %}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->

        <script>
window.onload = function(){
  var tableCont = document.querySelector('#table-cont')
  /**
   * scroll handle
   * @param {event} e -- scroll event
   */
  function scrollHandle (e){
    var scrollTop = this.scrollTop;
    this.querySelector('thead').style.transform = 'translateY(' + scrollTop + 'px)';
  }
  
  tableCont.addEventListener('scroll',scrollHandle)
}
        </script>
    </head>
    <!-- <body style="overflow-x:scroll;"> -->
    <body style="overflow-x:auto;">
        <div class="page-header">
            <h1><a href="{% url 'booking-table' %}">Demo booking</a></h1>
        </div>
        <form name="booking-filter" method="POST" action="{% url 'booking-table' %}">
            {% csrf_token %}
            <p>Date: {{ form.date }}</p>
        </form>
        <div class='table-cont' id='table-cont'>
        <table>
            <thead> 
            <th rowspan="2">Print</th>
            <th rowspan="2">Time</th>
            <th rowspan="2">Date</th>
            <th rowspan="2">Principal</th>

            <th colspan="6">FORWARD TRIP</th>

            <th rowspan="2">CONTAINER NO</th>
            <th rowspan="2">SEAL NO</th>

            <th colspan="5">BACKWARD TRIP</th>

            <th rowspan="2">REMARK</th>
            <th rowspan="2">สถานที่บรรจุ</th>
            <th rowspan="2">เลขที่ใบงาน</th>
            <th rowspan="2">PICK UP</th>
            <th rowspan="2">FACTORY</th>
            <th rowspan="2">RETURN</th>
            <tr>
                <th>SHIPPER</th>
                <th>AGENT</th>
                <th>SIZE</th>
                <th>BOOKING</th>
                <th>TR</th>
                <th>FM</th>
            
                <th>TR</th>
                <th>TO</th>
                <th>VESSEL</th>
                <th>PORT</th>
                <th>CLOSING</th>
            </tr>
        </thead> 
        <tbody> 
        {% block content %}
        {% for booking in bookings %}
            <tr>
                <td><a href="{% url 'booking-print' pk=booking.pk %}">print</a></td>

                {% if booking.time %}
                    <td class="nowrap">{{ booking.time }}</td>
                {% else %}
                    <td class="nowrap">-</td>
                {% endif %}
                <td class="nowrap">{{ booking.date }}</td>
                <td class="nowrap">{{ booking.principal }}</td>
                <td class="nowrap">{{ booking.shipper }}</td>
                <td class="nowrap">{{ booking.agent }}</td>
                <td class="nowrap">{{ booking.size }}</td>
                <td class="nowrap">{{ booking.booking_no }}</td>
                <td class="nowrap">{{ booking.fw_tr }}</td>
                <td class="nowrap">{{ booking.fw_fm }}</td>
                <td class="nowrap">{{ booking.container_no }}</td>
                <td class="nowrap">{{ booking.seal_no }}</td>
                <td class="nowrap">{{ booking.bw_tr }}</td>
                <td class="nowrap">{{ booking.bw_to }}</td>
                <td class="nowrap">{{ booking.vessel }}</td>
                <td class="nowrap">{{ booking.port }}</td>
                <td class="nowrap">{{ booking.closing_time }}</td>
                <td><div class="remark">{{ booking.remark }}</div></td>
                <td class="nowrap">{{ booking.loading }}</td>
                <td class="nowrap">{{ booking.work_id }}</td>
                <td class="nowrap">{{ booking.pickup_date }}</td>
                <td class="nowrap">{{ booking.factory_date }}</td>
                <td class="nowrap">{{ booking.return_date }}</td>
            </tr>
        {% endfor %}
        {% endblock %}
        </tbody> 
        </table>
        </div>
    </body>
</html>