/* Switch input */
.switch-field {
    overflow: hidden;
}
.switch-field input {
    height: 0px;
    width: 0px;
    border: 0;
    overflow: hidden;
}
.switch-field label {
    float: left;
    margin: 0;
} 
.switch-field label {
    display: inline-block;
    width: 100px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
    text-align: center;
    padding: 7px 14px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.switch-field label:hover {
    cursor: pointer;
}
.switch-field input:checked + label {
    /* background-color: #E9ECEF; */
    background-color: rgba(0, 0, 0, 0.2);
    /* color: rgba(0, 0, 0, 0.6); */
    color: black;
    font-weight: 500;
    box-shadow: none;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}
.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}



/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.options-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


.report-table td, .report-table th {
    font-size: 14px;
}