input:not([type]), input[type="text"], td input[type="time"] {
    min-width: 50px;
    padding: 2px 4px;
    font-size: 11px;
}

td input[type="date"] {
    max-width: 115px;
    padding: 2px 4px;
    font-size: 11px;
}

select.short {
    min-width: 60px;
    /* padding: 2px 4px; */
    height: 25px;
    font-size: 11px;
}

select.status {
    min-width: 80px;
    /* padding: 2px 4px; */
    height: 25px;
    font-size: 11px;
}

select.size {
    min-width: 75px;
    padding: 5px;
    height: 25px;
    font-size: 11px;
}
