/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


/* Sidebar */
.sidebar{
    overflow-y: auto;
    min-width: 180px;
}
.sidebar-heading{
    padding: 10px;
    margin-top: 1rem;
    background-color: #eee;
    color: #7d7a7a;
}
.sidebar-sticky{
    height: calc(100vh - 80px);
    overflow-x: hidden;
    overflow-y: auto;
}
.sidebar .nav-link {
    font-weight: 300;
    color: #333;
    position: relative;
    display: block;
    padding: .5em 1em;
    text-decoration: none;
}
.sidebar .active {
    font-weight: 450;
    color: #007bff;
    border-left: 3px solid #007bff;
    background-color: white;    
}
.sidebar .nav-link:hover {
    font-weight: 400;
    color: #4da3ff;
    border-left: 3px solid #4da3ff;
    background-color: #fdfdfd;
}


input.small-font {
    font-size: 11px;
    font-weight: bold;
}

td input[type="date"] {
    padding: 2px 4px;
    font-size: 12px;
     /* max-width: 300px; */
}

td.text-danger input[type="date"] {
    color: red;
}


/* Switch input */
.switch-field {
    overflow: hidden;
}
.switch-field input {
    height: 0px;
    width: 0px;
    border: 0;
    overflow: hidden;
}
.switch-field label {
    float: left;
    margin: 0;
} 
.switch-field label {
    display: inline-block;
    width: 100px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
    text-align: center;
    padding: 7px 14px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.switch-field label:hover {
    cursor: pointer;
}
.switch-field input:checked + label {
    background-color: #E9ECEF;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
    box-shadow: none;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}
.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}