/* Table */
td {
    height: 25px;
    vertical-align: middle;
}

table.table-bordered {
    table-layout: auto;
    width: 100%;
}

.table-bordered td {
    border:1px solid black;
    white-space: nowrap;
}

.h-30 td {
    height: 30px;
}

/* Padding */
.px-3 {
    padding-left: 3px;
    padding-right: 3px;
}

/* Alignment */
.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

/* Text color */
.text-blue {
    color: blue;
}

.text-red {
    color: red;
}

/* Background color */
.bg-whitesmoke {
    background-color: #e6e6e6 ;
}

/* Font size */
.font-105 {
    font-size: 105%;
}

.font-110 {
    font-size: 110%;
}

.font-125 {
    font-size: 125%;
}






