/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

fieldset.summary_form_detail {
    border: 1px solid lightgray !important;
    padding: 0.5em 1em 1em 1em !important;
    margin: 0 !important;
    border-radius: 8px;
}

legend.summary_form_detail {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
}

#summary-form-setting-page .custom-checkbox input[type="checkbox"] + label::before,
#summary-form-setting-page .custom-radio input[type="radio"] + label::before {
    border: 0.5px solid gray;
}

.cell-click:hover {
    background: Gainsboro ;
    cursor: pointer;
}

.cell-click:active {
    background: LightGray;
    cursor: pointer;
}

td input[type="date"], td input:not([type]), input[type="text"] {
    padding: 2px 4px;
    font-size: 14px;
}

/* table.table-bordered > thead > tr > th{
    border:1px solid blue;
} */
table.table-bordered > tbody > tr > td{
    border:1px solid black;
}