/* Table fix head */
.table-fix-head {
    overflow-y: auto;
    height: calc(100vh - 152px);
    box-shadow: 0 0 1px 1px gray;
}
.table-fix-head table {
    border-collapse: collapse;
    margin-top: -1px;
    width: 100vw;
}
.table-fix-head th {
    position: sticky;
    top: -1px;
    background: #D3D3D3;
    padding: 10 5px;
    border: 1px solid gray;
    box-shadow: 3px 2px 3px 1px dimgray; 
}
tr.second-header th {
    top: 25px;
}
.table-fix-head table, .table-fix-head td {
    font-size: 14px;
    border: 1px solid gray;
    text-align: center;
}
.table-fix-head td {
    padding: 5px;
    min-width: 50px;
    color: black;
}
table.time th {
    padding: 3 5px;
}


/* color */
.bg-lightgray {
    background:LightGray;
}

.bg-gold {
    background: gold!important;
}

.bg-lime {
    background-color: Lime!important;
}
.bg-lightgreen {
    background-color: #ccffcc!important;
}

.bg-cyan {
    background-color: Cyan!important;
}

.bg-yellow {
    background-color: Yellow!important;
}
.bg-lightyellow {
    background-color: #ffffcc!important;
}

.bg-red {
    background-color: Red!important;
}

.bg-pink {
    background-color: Pink!important;
}
.bg-orange {
    background-color: Orange!important;
}

.table-info {
    background-color: #D9EDF7!important;
}
.table-success {
    background-color: #DFF0D8!important;
}

input.text-lightgray {
    color: lightgray;
}

.modal-body {
    font-size: 14px;
}


/* Hide too long text in field */
.long-text-40 {
    width: 40px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
}
.long-text-40:active {
    overflow: visible;
    width: auto;
    display: inline-block;
}

.long-text {
    width: 60px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
}
.long-text:active {
    overflow: visible;
    width: auto;
    display: inline-block;
}

.long-text-80 {
    width: 80px;
    font-size: 12px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
}
.long-text-80:active {
    width: 120px;
    overflow: visible;
    display: inline-block;
}


/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 20px;
    height: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


/* Custom input */
input:not([type]), input[type="text"], input[type="number"] {
    min-width: 50px;
    padding: 2px 4px;
    font-size: 12px;
    text-align: center;
    color: black;
    background-color: transparent;
}
input:not([type]):read-only, input[type="text"]:read-only, input[type="number"]:read-only {
    background-color: rgba(0, 0, 0, 0.2)
}

td input[type="date"] {
    max-width: 120px;
    padding: 2px 4px;
    font-size: 12px;
    color: black;
    background-color: transparent;
}
td input[type="date"]:read-only {
    background-color: rgba(0, 0, 0, 0.2)
}

select.short {
    min-width: 60px;
    height: 25px;
    font-size: 12px;
    color: black;
    background-color: transparent;
}

select.status {
    min-width: 80px;
    height: 25px;
    font-size: 11px;
    color: black;
    background-color: transparent;
    
}

td select:focus {
    background-color: white;
}

select.size {
    min-width: 75px;
    padding: 0px 12px;
    height: 25px;
    font-size: 12px;
    color: black;
    background-color: transparent;
}

select.shipper {
    max-width: 250px;
    padding: 0px 5px;
    height: 25px;
    font-size: 12px;
    color: black;
    background-color: transparent; 
}

input[type="color"].shipper {
    height: 25px;
    max-width: 25px;
    background-color: transparent;
}

button.status-button {
    font-size: 0.5rem;
    padding: 0px;
}
