img.logo {
    -webkit-filter: drop-shadow(1px 1px 1.5px white)
                    drop-shadow(-1px -1px 1.5px white)
                    drop-shadow(1px -1px 1.5px white)
                    drop-shadow(-1px 1px 1.5px white);
    -moz-box-shadow: drop-shadow(1px 1px 1.5px white)
                     drop-shadow(-1px -1px 1.5px white)
                     drop-shadow(1px -1px 1.5px white)
                     drop-shadow(-1px 1px 1.5px white);
    filter: drop-shadow(1px 1px 1.5px white) 
            drop-shadow(-1px -1px 1.5px white)
            drop-shadow(1px -1px 1.5px white)
            drop-shadow(-1px 1px 1.5px white);
}


/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


/* Sidebar */
.sidebar-heading{
    padding: 1rem;
    margin-top: 1rem;
    background-color: #eee;
    color: #7d7a7a;
}
.sidebar-sticky{
    position: -webkit-sticky;
    position: sticky;
    /* top: 48px; */
    width: 100%;
    height: calc(100vh - 80px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}
.sidebar .nav-link {
    font-weight: 300;
    color: #333;
    position: relative;
    display: block;
    padding: .5em 1em;
    text-decoration: none;
}
.sidebar .active {
    font-weight: 450;
    color: #007bff;
    border-left: 3px solid #007bff;
}
.sidebar .nav-link:hover {
    font-weight: 400;
    color: #4da3ff;
    border-left: 3px solid #4da3ff;
}