button.text-lightgray, .text-lightgray {
    color: lightgray;
}

#customerList {
    overflow-y: auto;
    height: calc(100vh - 135px);
}


/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


/* Switch input */
.switch-field {
    overflow: hidden;
}
.switch-field input {
    height: 0px;
    width: 0px;
    border: 0;
    overflow: hidden;
}
.switch-field label {
    float: left;
} 
.switch-field label {
    display: inline-block;
    width: 100px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
    text-align: center;
    padding: 7px 14px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.switch-field label:hover {
    cursor: pointer;
}
.switch-field input:checked + label {
    background-color: #E9ECEF;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
    box-shadow: none;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}
.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}

/* Sidebar */
.sidebar{
    overflow-y: auto;
    min-width: 180px;
}