/* Switch input */
.switch-field {
    overflow: hidden;
}
.switch-field input {
    height: 0px;
    width: 0px;
    border: 0;
    overflow: hidden;
}
.switch-field label {
    float: left;
    margin: 0;
} 
.switch-field label {
    display: inline-block;
    width: 100px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
    text-align: center;
    padding: 7px 14px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.switch-field label:hover {
    cursor: pointer;
}
.switch-field input:checked + label {
    /* background-color: #E9ECEF; */
    background-color: rgba(0, 0, 0, 0.2);
    /* color: rgba(0, 0, 0, 0.6); */
    color: black;
    font-weight: 500;
    box-shadow: none;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}
.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}



/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.options-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    /* border-radius: 5px; */
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    /* border-radius: 5px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}



.table-fix-head td, .table-fix-head th {
    font-size: 14px;
}
tr.text-small td {
    font-size: 12px;
}

/* Table fix head */
.table-fix-head {
    overflow-y: auto;
    overflow-x: auto;
    /* height: calc(100vh - 221px); */
    border-top: 1px solid silver;
}
.head-date {
    height: calc(100vh - 221px);
}
.head-driver {
    height: calc(100vh - 253px);
}
  
.table-fix-head table {
    border-collapse: collapse;
    width: 100vw;
}

.table-fix-head tr th {
    position: sticky;
    top: -1;
    background: #e1e6ea;
    box-shadow: 0 2px 3px 0 silver;
    padding: 5px;
    /* padding-left: 5px; */
}

.table-fix-head tr td {
    padding-right: 5px;
    padding-left: 5px;
}

tr td.right-thick, tr th.right-thick {
    border-right: 2px solid lightgray;
}

tr.second-header th {
    top: 30px;
}

div.note-msg {
    display: none;

    position: absolute;
    margin-top: -30px;
    margin-left: 20px;
    
    border: 1px solid DimGray ;
    box-shadow: 2px 2px 0 0 DimGray;

    background: #FFF3CD;
    color: DimGray ;

    padding: 4px;
    font-size: 12px;
}

div.note-alert {
    float: right;
    border-radius: 50%;
    background: red;
    padding: 4px;
}


.table-sm input::placeholder {
    color: lightgray;
}


/* Multiselect */

ul.multiselect-container {
    padding-left: 10px;
    max-height: 50vh;
    overflow-y: auto;
}

button.multiselect {
    border: 1px solid lightgray;
    background: white;
}

