{% extends 'base.html' %}
{% load static %}

{% block title %} Add Booking {% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/style_add.css' %}" />
{% endblock %}

{% block content %}

    <div id="booking-add"> 
    
        <div class="modal-dialog" role="document" style="min-width: 55%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title w-100 text-center">Add Booking</h2>
                    <hr>
                </div>
                <div class="modal-body px-5">
                    <form ref="addBookingForm" class="container col-md-11">
                        {% verbatim %}
                            <div class="input-group my-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">CUSTOMER</span>
                                </div>
                                <button v-if="booking_add_form.principal" class="custom-select text-left rounded-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ principal_name }}
                                </button>
                                <button v-else class="custom-select text-left rounded-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" :class="{'alert-danger': input_required == true}">
                                    --------
                                </button>

                                <div class="dropdown-menu dropdown-menu-right w-100">                    
                                    <div class="dropdown-item">
                                        <input class="form-control" v-model="search_principal" placeholder="search">
                                    </div>
                                    <div class="dropdown-divider"></div>
                                    <div class="options-list" style="overflow-y: scroll; max-height: 300px;">
                                        <button v-for="principal in filteredPrincipal" class="dropdown-item" @click.prevent="getShipper(principal)">{{ principal.name }}</button>
                                    </div>
                                </div>
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">SHIPPER</span>
                                </div>
                                <select class="custom-select" v-model="booking_add_form.shipper" :class="{'alert-danger': input_required == true & booking_add_form.shipper == ''}" required>
                                    <option value=""> -------- </option>
                                    <option v-for="shipper in shippers" :value="shipper.id"> {{ shipper.name }} </option>
                                </select>
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">AGENT</span>
                                </div>
                                <input name="agent" class="form-control" v-model="booking_add_form.agent" maxlength="100">
                            </div>
                            
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">BOOKING NO.</span>
                                </div>
                                <input class="form-control" v-model="booking_add_form.booking_no" maxlength="150">
                            </div>

                            <fieldset class="add_form">
                                <legend class="add_form">DETAILS</legend>
                                <div v-for="(detail, index) in details">
                                    <hr v-if="index != 0" class="my-4">

                                    <div class="input-group mb-2 col-md-12">
                                        <input type="date" class="form-control" v-model="detail.date" :class="{'alert-danger': input_required == true & detail.date == ''}" required>
                                        <input class="form-control col-md-2" v-model="detail.time" maxlength="10" placeholder="TIME">
                                        <select class="custom-select col-md-3" style="height: 40px;" v-model="detail.size" :class="{'alert-danger': input_required == true & detail.size == ''}" required>
                                            <option value=""> -- SIZE -- </option>
                                            <option v-for="container in container_size_1" :value="container.size">{{ container.size }}</option>
                                            <option value="" disabled> -------- </option>
                                            <option v-for="container in container_size_2" :value="'2X'+container.size"> 2X{{ container.size }}</option>
                                        </select>

                                        <input 
                                            type="number" class="form-control col-md-2" 
                                            v-model="detail.quantity" min=1 placeholder="QTY" 
                                            :class="{'alert-danger': input_required == true & detail.quantity == ''}" 
                                            :disabled="detail.container_input" required
                                        >

                                        <div class="input-group-append">
                                            <button v-if="index==0" class="btn btn-success" @click.prevent="addDetail"><span><i class="fa fa-plus"></i></span></button>
                                            <button v-else class="btn btn-danger" @click.prevent="deleteDetail(index)"><span><i class="fa fa-minus"></i></span></button>
                                        </div>
                                    </div>
                                    <div v-for="(container, index_cont) in detail.container" class="row container">
                                        <div class="col-md-2">
                                            <div v-if="index_cont==0" class="custom-control custom-checkbox mt-2">
                                                <input type="checkbox" class="custom-control-input" :id="'container_input'+index" v-model="detail.container_input" @click="containerCheck(index)">
                                                <label class="custom-control-label" :for="'container_input'+index"> Container </label>
                                            </div>
                                        </div>
                                        <div v-if="detail.container_input" class="row col-md-10">
                                            <div class="input-group mb-2 col-md-10">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">{{ index_cont + 1 }}</span>
                                                </div>
                                                <input class="form-control" v-model="container.container_no" maxlength="50" placeholder="CONTAINER NO">
                                                <input class="form-control" v-model="container.seal_no" maxlength="50" placeholder="SEAL NO">
                                            </div>
                                            <button v-if="index_cont==0" class="btn btn-dark btn-sm btn-circle" @click.prevent="addContainerDetail(index)"><i class="fa fa-plus"></i></button>
                                            <button v-else class="btn btn-secondary btn-sm btn-circle" @click.prevent="deleteContainerDetail(index, index_cont)"><i class="fa fa-minus"></i></button>
                                        </div>
                                    </div>
                                </div> 
                            </fieldset>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">FROM</span>
                                </div>
                                <input name="pickup_from" class="form-control" v-model="booking_add_form.pickup_from" maxlength="25">
                                <div class="input-group-append">
                                    <span class="input-group-text">FACTORY</span>
                                </div>
                                <input name="factory" class="form-control" v-model="booking_add_form.factory" maxlength="25">
                                <div class="input-group-append">
                                    <span class="input-group-text">TO</span>
                                </div>
                                <input name="return_to" class="form-control" v-model="booking_add_form.return_to" maxlength="25">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">VESSEL</span>
                                </div>
                                <input class="form-control" v-model="booking_add_form.vessel" maxlength="100">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">PORT</span>
                                </div>
                                <input name="port" class="form-control" v-model="booking_add_form.port" maxlength="50">
                            </div>

                            <fieldset class="add_form">
                                <legend class="add_form">ตัดหาง / ยกลง</legend>
                                <div class="container input-group mb-2 col-sm-8">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="nextday" v-model="nextday">
                                                <label class="custom-control-label" for="nextday"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <select class="custom-select" style="height: 40px; max-width: 90px;" v-model="booking_add_form.nextday" :disabled="nextday==false">
                                        <option value="1">ตัดหาง</option>
                                        <option value="2">ยกลง</option>
                                    </select>
                                    <div class="input-group-append">
                                        <span class="input-group-text">RETURN DATE</span>
                                    </div>
                                    <input type="date" class="form-control" v-model="booking_add_form.return_date" :disabled="nextday==false">
                                    <div class="input-group-append">
                                        <span class="input-group-text">TIME</span>
                                    </div>
                                    <input class="form-control" v-model="booking_add_form.detail.return_time" :disabled="nextday==false">
                                </div> 
                            </fieldset>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">CLOSING</span>
                                </div>
                                <input type="date" class="form-control" v-model="booking_add_form.closing_date">
                                <input class="form-control" v-model="booking_add_form.closing_time" maxlength="5">
                            </div>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">REMARK</span>
                                </div>
                                <textarea name="remark" class="form-control" style="min-height: 40px;" v-model="booking_add_form.remark" maxlength="250"></textarea>
                            </div>
                        {% endverbatim %}
                    </form>
                </div>
                <div class="modal-footer px-5">
                    <div class="container col-md-11 text-right">
                        <a href="{% url 'booking-page' %}" class="btn btn-light btn-lg mr-1">Cancel</a>
                        <button type="submit" class="btn btn-primary btn-lg" @click.prevent="saveAddBookings">SUBMIT</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>


    <script type="application/javascript" src="{% static 'js/app_booking_add.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/utility/functions.js' %}"></script>

    <script type="application/javascript">

        window.addEventListener("load", function() {   
            booking_add.reload();
        });

    </script>

{% endblock %}