<div v-if="loading==false" id="table-cont" class="w-100" :class="{ 'table-cont': bookings.length }">
    {% verbatim %}
        <table v-if="bookings.length" class="table-hover time w-100">
            <thead class="text-nowrap bg-lightgray">
                <th rowspan=2>DATE</th>
                <th rowspan=2><div class="long-text-40">PRINCIPAL</div></th>
                <th rowspan=2>SHIPPER</th>
                <th rowspan=2>AGENT</th>
                <th rowspan=2>SIZE</th>
                <th rowspan=2 class="px-2">BOOKING</th>

                <th rowspan=2>TR</th>
                <th rowspan=2>FM</th>
                <th rowspan=2>TR</th>
                <th rowspan=2>FACTORY</th>
                <th rowspan=2>TR</th>
                <th rowspan=2>TR</th>
                <th rowspan=2>TO</th>

                <th rowspan=2 class="px-2">CONTAINER NO</th>
                <th rowspan=2 class="px-4">SEAL NO</th>
                <th rowspan=2 class="px-4">TARE</th>

                <th rowspan="2">เลขที่ใบงาน</th>

                <th colspan="2">ลานรับตู้</th>
                <th colspan="4">Factory</th>
                <th colspan="2">ลานส่งตู้</th>
                <tr>
                    <th>In</th>
                    <th>Out</th>

                    <th>In</th>
                    <th>Start</th>
                    <th>Finish</th>
                    <th>Out</th>

                    <th>In</th>
                    <th>Out</th>
                </tr>
            </thead> 
            <tbody>
                <template v-for="(booking, index) in bookings">
                    <tr 
                        :class="{'bg-secondary':booking.status==0, 'table-success': booking.status=='2', 'table-danger': booking.closing_date <= tmr & ['1', '3', '4', '5'].includes(booking.status) }" 
                        :key="booking.id"
                    >
                        <td class="text-nowrap px-3">{{ booking.date|formatDate }}</td>

                        <td v-if="booking.principal" class="px-1 text-left"><div class="long-text-40">{{ booking.principal.name }}</div></td>
                        <td v-else></td>

                        <td v-if="booking.shipper" class="px-2 text-left" style="min-width:250px;" :style="'color: ' + booking.detail.shipper_text_color">{{ booking.shipper.name }}</td>
                        <td v-else></td>

                        <td class="text-center px-1"><div class="long-text" style="margin:auto;">{{ booking.agent }}</div></td>
                        <td class="text-nowrap">{{ booking.size }}</td>

                        <td v-if="booking.status == '0'" style="min-width:150px;" class="bg-secondary">{{ booking.booking_no }}</td>
                        <td v-else class="text-dark" style="min-width:150px;" :style="{ 'background-color': booking.color }">{{ booking.booking_no }}</td>

                        <td v-if="booking.status != '1'" :class="{ 'bg-secondary': booking.status == '0', 'bg-lime': parseInt(booking.status) > 1 }">{{ booking.pickup_tr }}</td>
                        <td v-else-if="['1', '2'].includes(booking.yard_ndd)" class="bg-gold">{{ booking.pickup_tr }}</td>
                        <td v-else :class="{ 'bg-cyan': booking.pickup_tr }">{{ booking.pickup_tr }}</td>

                        <td>{{ booking.pickup_from }}</td>
                        
                        <td v-if="['0', '2', '4', '5'].includes(booking.status)" :class="{ 'bg-secondary': booking.status == '0', 'bg-lime': ['2', '4', '5'].includes(booking.status) }">{{ booking.forward_tr }}</td>
                        <td v-else :class="{ 'bg-cyan': booking.forward_tr }">{{ booking.forward_tr }}</td>

                        <td class="text-nowrap">{{ booking.factory }}</td>

                        <td v-if="['0', '2', '5'].includes(booking.status)" :class="{ 'bg-secondary': booking.status == '0', 'bg-lime': ['2', '5'].includes(booking.status) }">{{ booking.backward_tr }}</td>
                        <td v-else-if="['1', '3'].includes(booking.fac_ndd)" class="bg-gold">{{ booking.backward_tr }}</td>
                        <td v-else :class="{ 'bg-cyan': booking.backward_tr }">{{ booking.backward_tr }}</td>

                        <td v-if="['0', '2'].includes(booking.status)" :class="[ {'bg-secondary': booking.status == '0', 'bg-lime': ['2'].includes(booking.status) & ! booking.detail.morning_work}, morning_color[booking.detail.morning_work] ]">{{ booking.return_tr }}</td>
                        <td v-else :class="{ 'bg-cyan': booking.return_tr }">{{ booking.return_tr }}</td>
                        
                        <td>{{ booking.return_to }}</td>

                        <td class="text-nowrap" :class="[{'bg-secondary':booking.status==0}, container_color[booking.detail.container_no]]" style="font-weight: 800;">
                            {{ booking.container_no }}
                        </td>
                        <td class="text-nowrap" :class="[{'bg-secondary':booking.status==0}, container_color[booking.detail.seal_no]]" style="font-weight: 800;">
                            {{ booking.seal_no }}
                        </td>
                        <td class="px-1"><div class="long-text-80">{{ booking.tare }}</div></td>

                        <td class="text-nowrap">{{ booking.work_id }}</td>

                        <td :class="{'bg-lime': booking.booking_time.pickup_in}">
                            <input class="form-control" v-model="booking.booking_time.pickup_in" :id="'0-'+index" @keydown="keyDownArrow(0, index)" @change="editData(booking)">
                        </td>

                        <td :class="{'bg-lime': booking.booking_time.pickup_out}">
                            <input class="form-control" v-model="booking.booking_time.pickup_out" :id="'1-'+index" @keydown="keyDownArrow(1, index)" @change="editData(booking)">
                        </td>

                        <td :class="{'bg-lime': booking.booking_time.factory_in}">
                            <input class="form-control" v-model="booking.booking_time.factory_in" :id="'2-'+index" @keydown="keyDownArrow(2, index)" @change="editData(booking)">
                        </td>

                        <td :class="{'bg-lime': booking.booking_time.factory_load_start}">
                            <input class="form-control" v-model="booking.booking_time.factory_load_start" :id="'3-'+index" @keydown="keyDownArrow(3, index)" @change="editData(booking)">
                        </td>

                        <td :class="{'bg-lime': booking.booking_time.factory_load_finish}">
                            <input class="form-control" v-model="booking.booking_time.factory_load_finish" :id="'4-'+index" @keydown="keyDownArrow(4, index)" @change="editData(booking)">
                        </td>

                        <td :class="{'bg-lime': booking.booking_time.factory_out}">
                            <input class="form-control" v-model="booking.booking_time.factory_out" :id="'5-'+index" @keydown="keyDownArrow(5, index)" @change="editData(booking)">
                        </td>

                        <td :class="{'bg-lime': booking.booking_time.return_in}"> 
                            <input class="form-control" v-model="booking.booking_time.return_in" :id="'6-'+index" @keydown="keyDownArrow(6, index)" @change="editData(booking)">
                        </td>

                        <td :class="{'bg-lime': booking.booking_time.return_out}">
                            <input class="form-control" v-model="booking.booking_time.return_out" :id="'7-'+index" @keydown="keyDownArrow(7, index)" @change="editData(booking)">
                        </td>
                    </tr>

                    <tr v-if="index == bookings.length-1">
                        <td colspan=33 class="bg-dark"></td>
                    </tr>
                    <tr v-else-if="booking.date != bookings[index+1].date">
                        <td colspan=33 class="bg-dark"></td>
                    </tr>
                </template>
            </tbody> 
        </table>

        <div v-else>
            <h1 class="text-center text-secondary mt-3"> ไม่พบข้อมูล </h1>
        </div>
    {% endverbatim %}
    <form ref="exportTime" method="POST" target="_blank">
        {% csrf_token %}
    </form>
</div>

<div v-else class="container position-relative">
    <div class="position-absolute" style="top: -10%; left:50%; transform: translate(-50%, 10%); color: lightgray;">
        <h1 class="text-center" style="font-size: 300%;"><i class="fa fa-spinner fa-pulse fa-4x mb-5"></i></h1>
    </div>
</div>