{% extends 'base.html' %}
{% load static %}

{% block title %} NDD Booking {% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/style_table.css' %}" />
{% endblock %}

{% block content %}

    <br>

    <div id="booking-table">
        <div id="upper-part" class="container col-12" >
            <div class="row">
                <div class="col">
                    <template v-if="nbar=='time'"></template>
                    <div v-else class="input-group">
                        <div class="input-group-prepend">
                            <select name="filter_by" class="btn" v-model="filter_by" style="background-color: #CED4DA;">
                                <option value="date" class="bg-white">Date</option>
                                <option value="month" class="bg-white">Month</option>
                            </select>
                        </div>
                        <input name="date_filter" :type="filter_by" class="form-control rounded-right mr-2" v-model="date_filter" style="max-width: 200px;" v-on:change="getBookings()" :disabled="filter_mode">
                        <button class="btn" :class="filter_mode ? 'btn-secondary' : 'btn-outline-secondary'" data-toggle="modal" data-target="#modalFilter"><i class="fas fa-filter"></i></button>
                    </div>
                </div>

                <div v-if="nbar=='table'" class="col text-center">
                    <select name="action" v-model="action" class="custom-select col-3 mr-1">
                        <option value=""> -------- </option>
                        <option value="time"> ลงเวลา </option>
                        <option value="delete"> ลบ </option>
                    </select>
                    <button v-on:click="selectAction()" class="btn btn-primary mr-1" >GO</button>
                </div>
                
                <div v-if="nbar=='table'" class="col text-right">
                    <button v-on:click="getBookingsEditTable()" class="btn btn-primary mr-1" ><i class="fa fa-edit"></i>&nbsp;Edit</button>
                    <a class="btn btn-primary" href="/booking/add" role="button"><i class="fa fa-plus"></i>&nbsp;Add</a>
                </div>
                
                <div v-if="nbar=='edit' | nbar == 'time'" class="col text-right">
                    <div v-if="saving == true" class="save-msg mr-2 pt-2 text-secondary d-inline"><i class="fa fa-spinner fa-pulse"></i>&nbsp;Saving booking.</div>
                    <button class="btn btn-danger mr-1" @click="getBookingsDataTable()"><i class="fas fa-sign-out-alt"></i>&nbsp;Exit</button>
                    <button v-if="nbar=='edit'" @click="saveEditBooking()" class="btn btn-success"><i class="fa fa-save"></i>&nbsp;Save</button>
                    <button v-else-if="nbar=='time'" @click="saveTimeBooking()" class="btn btn-success"><i class="fa fa-save"></i>&nbsp;Save</button>
                </div>     
            </div>
        </div>

        <br>

        <div v-if="nbar=='table'" >
            {% include 'booking/booking_table_data.html' %}
        </div>

        <div v-if="nbar=='edit'">
            {% include 'booking/booking_table_edit.html' %}
        </div>

        <div v-if="nbar=='time'">
            {% include 'booking/booking_table_time.html' %}
        </div>

        <div class="modal fade" id="modalFilter" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Filter</h4>
                        <button class="close" data-dismiss="modal" aria-label="Close" style="outline: none; ">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body mx-3">

                        {% verbatim %}
                            <div class="input-group container col-lg-9 my-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">CUSTOMER</span>
                                </div>
                                <select class="custom-select" name="customer" v-model="filter_data.principal_id" @change="getShipper(filter_data.principal_id)">
                                    <option value=""> --- Select Customer --- </option>
                                    <option v-for="principal in principals" :value="principal.id">{{ principal.name }}</option>
                                </select>
                            </div>
                            <div class="input-group container col-lg-9 my-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">SHIPPER</span>
                                </div>
                                <select class="custom-select" v-model="filter_data.shipper">
                                    <option value=""> --- All --- </option>
                                    <option v-for="shipper in shippers" :value="shipper.id">{{ shipper.name }}</option>
                                </select>
                            </div>
                            <div class="input-group container col-lg-9 my-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Booking No</span>
                                </div>
                                <input class="form-control text-left" :class="{'bg-lightyellow': require_input && !filter_data.booking_no}" v-model="filter_data.booking_no">
                            </div>
                            <div class="input-group container col-lg-9 my-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">REMARK</span>
                                </div>
                                <input class="form-control text-left" :class="{'bg-lightyellow': require_input && !filter_data.remark}" v-model="filter_data.remark">
                            </div>
                            <div class="input-group container col-lg-9 my-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">DATE FROM</span>
                                </div>
                                <input type="date" class="form-control" :class="{'bg-lightyellow': require_input && !filter_data.date_from}" v-model="filter_data.date_from">
                                <div class="input-group-append">
                                    <span class="input-group-text">TO</span>
                                </div>
                                <input type="date" class="form-control" :class="{'bg-lightyellow': require_input && !filter_data.date_to}" v-model="filter_data.date_to">
                            </div>

                        {% endverbatim %}

                    </div>            
                        
                    <div class="modal-footer px-5">
                        <button class="btn btn-outline-danger mr-auto" @click="clearFilterBookings">Clear</button>
                        <button class="btn btn-primary" @click="filterBookings()">OK</button>
                    </div>
                </div>
            </div>
        </div>  

    </div>


    <script type="application/javascript" src="{% static 'js/app_booking_table.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/utility/filters.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/utility/functions.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/utility/variables.js' %}"></script>

    <script type="application/javascript">

        window.addEventListener("load", function() {   
            booking_table.reload();
        });

    </script>

{% endblock %}