<div v-if="loading==false" id="table-cont" class="w-100" :class="{ 'table-cont': bookings.length }">
    {% verbatim %}
        <table v-if="bookings.length" class="table-hover w-100">
            <thead class="text-nowrap bg-lightgray"> 
                <th>STATUS</th>
                <th>TIME</th>
                <th>DATE</th>
                <th><div class="long-text-40">PRINCIPAL</div></th>
                <th>SHIPPER</th>
                <th class="px-4">AGENT</th>
                <th>SIZE</th>
                <th class="px-4">BOOKING</th>
                <th class="p-0" style="min-width: 15px;"></th>
    
                <th>TR</th>
                <th>FM</th>
                <th>NDD</th>
                <th>TR</th>
                <th>FACTORY</th>
                <th>TR</th>
                <th>NDD</th>
                <th>TR</th>
                <th>TO</th>
    
                <th class="px-2">CONTAINER NO</th>
                <th class="px-4">SEAL NO</th>
                <th class="px-5">TARE</th>
                <th colspan=2>CLOSING (DATE / TIME)</th>
    
                <th class="px-5">REMARK</th>
                <th>เลขที่ใบงาน</th>
                <th>ตัดหาง/<br>ยกลง</th>
                <th colspan=2>RETURN</th>
                <th class="px-5">VESSEL</th>
                <th class="px-5">PORT</th>
            </thead> 

            <tbody>
                <template v-for="(booking, index) in bookings">
                    <tr 
                        :class="{'bg-secondary':booking.status==0, 'table-success': booking.status=='2', 'table-danger': booking.closing_date <= tmr & ['1', '3', '4', '5'].includes(booking.status) }" 
                        :key="booking.id"
                    >
                        <td>
                            <select class="custom-select status py-1 px-2" v-model="booking.status" :id="'0-'+index" @keydown="keyDownArrow(0, index)" @change="editData(booking)">
                                <option value="1"> - </option>
                                <option value="3"> Yard </option>
                                <option value="4"> Factory </option>
                                <option value="5"> Return </option>
                                <option value="2"> Completed </option>
                                <option value="0"> Cancel </option>
                            </select>
                        </td>
                        <td :class="[{'bg-secondary':booking.status==0, 'bg-yellow': booking.timeColor == true & booking.status!=0}, time_color[booking.detail.time]]"><input class="form-control" style="width:80px;" v-model="booking.time" maxlength="30" :id="'1-'+index" @keydown="keyDownArrow(1, index)" @change="editData(booking)"></td>
                        
                        <td><input type="date" class="form-control" v-model="booking.date" :id="'2-'+index" @keydown="keyDownArrow(2, index)"  @change="editData(booking)" required></td>

                        <td v-if="booking.principal" class="px-1 text-left"><div class="long-text-40">{{ booking.principal.name }}</div></td>
                        <td v-else></td>

                        <td style="min-width: 290px;" v-if="booking.principal">
                            <select class="custom-select shipper" :style="'color: ' + booking.detail.shipper_text_color" v-model="booking.shipper" :id="'3-'+index" @keydown="keyDownArrow(3, index)" @change="editData(booking)" required>
                                <option v-for="shipper in filterEditShipper(booking.principal.id)" :value="shipper" :disabled="shipper.cancel=='1'">{{ shipper.name }}</option>
                            </select>
                            <input type="color" class="form-control p-0 shipper float-right" v-model="booking.detail.shipper_text_color" @change="editColorData(booking)">
                        </td>
                        <td style="min-width: 350px;" v-else></td>
                        
                        <td><input name="agent" class="form-control" v-model="booking.agent" maxlength="100" :id="'4-'+index" @keydown="keyDownArrow(4, index)" @change="editData(booking)"></td>
                        
                        <td>
                            <select class="custom-select size" v-model="booking.size" :id="'5-'+index" @keydown="keyDownArrow(5, index)" @change="editData(booking)">
                                <option value=""> -------- </option>
                                <option v-for="container in container_size_1" :value="container.size">{{ container.size }}</option>
                                <option value="" disabled> -------- </option>
                                <option v-for="container in container_size_2" :value="'2X'+container.size"> 2X{{ container.size }}</option>
                            </select>
                        </td>

                        <td v-if="booking.status == '0'" style="min-width:150px;" class="bg-secondary">
                            <input class="form-control" v-model="booking.booking_no" maxlength="150" autocomplete=off :id="'6-'+index" @keydown="keyDownArrow(6, index)" @change="editData(booking)">
                        </td>
                        <td v-else style="min-width:150px;" :style="{ 'background-color': booking.color }">
                            <input class="form-control" v-model="booking.booking_no" maxlength="150" autocomplete=off :id="'6-'+index" @keydown="keyDownArrow(6, index)" @change="editData(booking)">                            
                        </td>

                        <td class="p-0" style="min-width: 15px; font-size: 8px;">{{ booking.num }}</td>

                        <td v-if="booking.status != '1'" :class="{ 'bg-secondary': booking.status == '0', 'bg-lime': parseInt(booking.status) > 1 }">
                            <input class="form-control" v-model="booking.pickup_tr" maxlength="15" :id="'7-'+index" @keydown="keyDownArrow(7, index)" @change="editData(booking)">
                        </td>
                        <td v-else-if="['1', '2'].includes(booking.yard_ndd)" class="bg-gold">
                            <input class="form-control" v-model="booking.pickup_tr" maxlength="15" :id="'7-'+index" @keydown="keyDownArrow(7, index)" @change="editData(booking)">
                        </td>
                        <td v-else :class="{ 'bg-cyan': booking.pickup_tr }">
                            <input class="form-control" v-model="booking.pickup_tr" maxlength="15" :id="'7-'+index" @keydown="keyDownArrow(7, index)" @change="editData(booking)">
                        </td>

                        <td><input name="pickup_from" class="form-control" v-model="booking.pickup_from" maxlength="25" :id="'8-'+index" @keydown="keyDownArrow(8, index)" @change="editData(booking)"></td>
                        
                        <td>
                            <select class="custom-select short py-0 px-2" v-model="booking.yard_ndd" :id="'9-'+index" @keydown="keyDownArrow(9, index)" @change="editData(booking, index, 9)">
                                <option value="0"> - </option>
                                <option value="1"> NDD </option>
                                <option value="2"> ฝากตู้ </option>
                            </select>
                        </td>

                        <td v-if="['0', '2', '4', '5'].includes(booking.status)" :class="{ 'bg-secondary': booking.status == '0', 'bg-lime': ['2', '4', '5'].includes(booking.status) }">
                            <input v-if="['1', '2'].includes(booking.yard_ndd)" class="form-control" v-model="booking.forward_tr" maxlength="15" :id="'10-'+index" @keydown="keyDownArrow(10, index)" @change="editData(booking)">
                            <input v-else class="form-control" v-model="booking.pickup_tr" maxlength="15" :id="'10-'+index" @keydown="keyDownArrow(10, index)" readonly>
                        </td>
                        <td v-else :class="{ 'bg-cyan': booking.forward_tr }">
                            <input v-if="['1', '2'].includes(booking.yard_ndd)" class="form-control" v-model="booking.forward_tr" maxlength="15" :id="'10-'+index" @keydown="keyDownArrow(10, index)" @change="editData(booking)">
                            <input v-else class="form-control" v-model="booking.pickup_tr" maxlength="15" :id="'10-'+index" @keydown="keyDownArrow(10, index)" readonly>
                        </td>

                        <td><input name="factory" class="form-control" v-model="booking.factory" maxlength="25" :id="'11-'+index" @keydown="keyDownArrow(11, index)" @change="editData(booking)"></td>

                        <td v-if="['0', '2', '5'].includes(booking.status)" :class="{ 'bg-secondary': booking.status == '0', 'bg-lime': ['2', '5'].includes(booking.status) }">
                            <input v-if="booking.nextday == 1 | booking.nextday == 2 | booking.fac_ndd == '2'" class="form-control" v-model="booking.backward_tr" maxlength="15" :id="'12-'+index" @keydown="keyDownArrow(12, index)" @change="editData(booking)">
                            <input v-else-if="['1', '2'].includes(booking.yard_ndd)" class="form-control" v-model="booking.forward_tr" maxlength="15" :id="'12-'+index" @keydown="keyDownArrow(12, index)" readonly>
                            <input v-else class="form-control" v-model="booking.pickup_tr" maxlength="15" :id="'12-'+index" @keydown="keyDownArrow(12, index)" readonly>
                        </td>
                        <td v-else-if="['1', '3'].includes(booking.fac_ndd)" class="bg-gold">
                            <input v-if="booking.nextday == 1 | booking.nextday == 2 | booking.fac_ndd == '2'" class="form-control" v-model="booking.backward_tr" maxlength="15" :id="'12-'+index" @keydown="keyDownArrow(12, index)" @change="editData(booking)">
                            <input v-else-if="['1', '2'].includes(booking.yard_ndd)" class="form-control" v-model="booking.forward_tr" maxlength="15" :id="'12-'+index" @keydown="keyDownArrow(12, index)" readonly>
                            <input v-else class="form-control" v-model="booking.pickup_tr" maxlength="15" :id="'12-'+index" @keydown="keyDownArrow(12, index)" readonly>
                        </td>
                        <td v-else :class="{ 'bg-cyan': booking.backward_tr }">
                            <input v-if="booking.nextday == 1 | booking.nextday == 2 | booking.fac_ndd == '2'" class="form-control" v-model="booking.backward_tr" maxlength="15" :id="'12-'+index" @keydown="keyDownArrow(12, index)" @change="editData(booking)">
                            <input v-else-if="['1', '2'].includes(booking.yard_ndd)" class="form-control" v-model="booking.forward_tr" maxlength="15" :id="'12-'+index" @keydown="keyDownArrow(12, index)" readonly>
                            <input v-else class="form-control" v-model="booking.pickup_tr" maxlength="15" :id="'12-'+index" @keydown="keyDownArrow(12, index)" readonly>
                        </td>

                        <td>
                            <select class="custom-select short py-0 px-2" v-model="booking.fac_ndd" :id="'13-'+index" @keydown="keyDownArrow(13, index)" @change="editData(booking, index, 13)">
                                <option value="0"> - </option>
                                <option value="1"> NDD </option>
                                <option value="3"> ฝากตู้ </option>
                                <option value="2"> FAC </option>
                            </select>
                        </td>

                        <td v-if="['0', '2'].includes(booking.status)" :class="[{ 'bg-secondary': booking.status == '0', 'bg-lime': ['2'].includes(booking.status) & ! booking.detail.morning_work}, morning_color[booking.detail.morning_work] ]">
                            <input v-if="booking.fac_ndd != '0'" class="form-control" v-model="booking.return_tr" maxlength="15" :id="'14-'+index" @keydown="keyDownArrow(14, index)" @change="editData(booking)">
                            <input v-else-if="booking.nextday == 1 || booking.nextday == 2" class="form-control" v-model="booking.backward_tr" maxlength="15" :id="'14-'+index" @keydown="keyDownArrow(14, index)" readonly>
                            <input v-else-if="['1', '2'].includes(booking.yard_ndd)" class="form-control" v-model="booking.forward_tr" maxlength="15" :id="'14-'+index" @keydown="keyDownArrow(14, index)" readonly>
                            <input v-else class="form-control" v-model="booking.pickup_tr" maxlength="15" :id="'14-'+index" @keydown="keyDownArrow(14, index)" readonly>
                        </td>
                        <td v-else :class="{ 'bg-cyan': booking.return_tr }">
                            <input v-if="booking.fac_ndd != '0'" class="form-control" v-model="booking.return_tr" maxlength="15" :id="'14-'+index" @keydown="keyDownArrow(14, index)" @change="editData(booking)">
                            <input v-else-if="booking.nextday == 1 || booking.nextday == 2" class="form-control" v-model="booking.backward_tr" maxlength="15" :id="'14-'+index" @keydown="keyDownArrow(14, index)" readonly>
                            <input v-else-if="['1', '2'].includes(booking.yard_ndd)" class="form-control" v-model="booking.forward_tr" maxlength="15" :id="'14-'+index" @keydown="keyDownArrow(14, index)" readonly>
                            <input v-else class="form-control" v-model="booking.pickup_tr" maxlength="15" :id="'14-'+index" @keydown="keyDownArrow(14, index)" readonly>
                        </td>
                        
                        <td><input name="return_to" class="form-control" v-model="booking.return_to" maxlength="25" :id="'15-'+index" @keydown="keyDownArrow(15, index)" @change="editData(booking)"></td>

                        <td :class="[{'bg-secondary':booking.status==0}, container_color[booking.detail.container_no]]">
                            <input class="form-control pb-0" style="font-weight: 800;" v-model="booking.container_no" maxlength="50" autocomplete=off :id="'16-'+index" @keydown="keyDownArrow(16, index)" @change="editData(booking)">
                        </td>
                        <td :class="[{'bg-secondary':booking.status==0}, container_color[booking.detail.seal_no]]">
                            <input class="form-control" style="font-weight: 800;" v-model="booking.seal_no" maxlength="50" autocomplete=off :id="'17-'+index" @keydown="keyDownArrow(17, index)" @change="editData(booking)">
                        </td>
                        <td><input class="form-control" v-model="booking.tare" maxlength="80" autocomplete=off :id="'18-'+index" @keydown="keyDownArrow(18, index)" @change="editData(booking)"></td>

                        <td><input type="date" class="form-control" v-model="booking.closing_date" autocomplete=off :id="'19-'+index" @keydown="keyDownArrow(19, index)" @change="editData(booking)"></td>
                        <td><input class="form-control" v-model="booking.closing_time" maxlength="5" autocomplete=off :id="'20-'+index" @keydown="keyDownArrow(20, index)" @change="editData(booking)"></td>

                        <td><textarea class="form-control text-center" rows="1" style="padding: 2px 4px; font-size: 11px;" v-model="booking.remark" maxlength="250" :id="'21-'+index" @keydown="keyDownArrow(21, index)" @change="editData(booking)"></textarea></td>

                        <td class="text-nowrap">{{ booking.work_id }}</td>

                        <td :class="{'table-info':booking.nextday == '1' & booking.status != '0', 'table-success':booking.nextday == '2' & booking.status != '0'}">
                            <select class="custom-select short py-1 px-2" v-model="booking.nextday" :id="'22-'+index" @keydown="keyDownArrow(22, index)" @change="editData(booking, index, 22)">
                                <option value="0"> - </option>
                                <option value="1"> ตัดหาง </option>
                                <option value="2"> ยกลง </option>
                            </select>
                        </td>
                        <td :class="{'table-info':booking.nextday == '1' & booking.status != '0', 'table-success':booking.nextday == '2' & booking.status != '0'}">
                            <input v-if="booking.nextday == 1 || booking.nextday == 2" type="date" class="form-control" v-model="booking.return_date" :id="'23-'+index" @keydown="keyDownArrow(23, index)" @change="editData(booking)">
                            <input v-else type="date" class="form-control" v-model="booking.date" :id="'23-'+index" @keydown="keyDownArrow(23, index)" readonly>
                        </td>
                        <td :class="{'table-info':booking.nextday == '1' & booking.status != '0', 'table-success':booking.nextday == '2' & booking.status != '0'}">
                            <input v-if="booking.nextday == 1 || booking.nextday == 2" class="form-control" v-model="booking.detail.return_time" @change="editData(booking)" :id="'24-'+index" @keydown="keyDownArrow(24, index)" @change="editData(booking)">
                            <input v-else class="form-control" v-model="booking.detail.return_time" :id="'24-'+index" @keydown="keyDownArrow(24, index)" readonly>
                        </td>
                        
                        <td><input class="form-control" v-model="booking.vessel" maxlength="100" autocomplete=off :id="'25-'+index" @keydown="keyDownArrow(25, index)" @change="editData(booking)"></td>
                        <td><input name="port" class="form-control" v-model="booking.port" maxlength="50" autocomplete=off :id="'26-'+index" @keydown="keyDownArrow(26, index)" @change="editData(booking)"></td>
                    </tr>

                    <tr v-if="index == bookings.length-1">
                        <td colspan=30 class="bg-dark"></td>
                    </tr>
                    <tr v-else-if="booking.date != bookings[index+1].date">
                        <td colspan=30 class="bg-dark"></td>
                    </tr>
                </template>
            </tbody>
        </table>

        <div v-else>
            <h1 class="text-center text-secondary mt-3"> ไม่พบข้อมูล </h1>
        </div>
    {% endverbatim %}
</div>

<div v-else class="container position-relative">
    <div class="position-absolute" style="top: -10%; left:50%; transform: translate(-50%, 10%); color: lightgray;">
        <h1 class="text-center" style="font-size: 300%;"><i class="fa fa-spinner fa-pulse fa-4x mb-5"></i></h1>
    </div>
</div>


