{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} NDD Booking {% endblock %}
        
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/style-table.css' %}" />
    
{% endblock %}
        
{% block content %}
<div class="pages">
<br>
    {% for message in messages %}

        <div class="fixed-top alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
    <!-- <div class="position-sticky" style="top:0px; bottom:0;"> -->
    <div id="filter-date" class="container col-md-12" style="height: auto;">
        <div class="row">

            <div class="col">
                <form name="booking-filter-sort" method="GET" action="{% url 'booking-table' %}" class="form-inline">
                    {% csrf_token %}
                    <div class="input-group">
                            <div class="input-group-prepend">
                                <select name="filter_by" class="btn" style="background-color: #CED4DA;">
                                    <option value="date" class="bg-white">Date</option>
                                    <option value="month" class="bg-white" {% if filter_by == 'month' %}selected{% endif %}>Month</option>
                                </select>

                            </div>
                        <!-- <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                        </div> -->

                        {% if filter_by == 'month' %}
                            <input id="id_date" name="date_filter" type="month" class="form-control mr-2" value="{{ date_filter }}">
                        {% else %}
                            <input id="id_date" name="date_filter" type="date" class="form-control mr-2" value="{{ date_filter }}">
                        {% endif %}

                    </div>

                    <button type="submit" class="btn btn-primary">OK</button>
                </form>
            </div>

            <div class="col text-center">
                <select name="action" class="custom-select col-md-3 mr-1">
                    <option value=""> -------- </option>
                    <option value="time"> ลงเวลา </option>
                    <option value="delete"> ลบ </option>
                </select>
                <form id="action" method="POST" class="d-inline"> 
                        {% csrf_token %}
                        <input type="hidden" name="date_filter" value="{{ date_filter }}">
                        <input type="hidden" name="filter_by" value="{{ filter_by }}">
                    <button class="btn btn-primary action">GO</button>
                </form>
            </div>
            
            <div class="col text-right">
                <button class="btn btn-primary mr-1" onclick="document.getElementById('edit-filter').submit();"><i class="fa fa-edit"></i>&nbsp;Edit</button>
                <form id="edit-filter" method="GET" action="{% url 'booking-edit' %}" style="display:none;">
                    <input type="hidden" name="date_filter" value="{{ date_filter }}">
                    <input type="hidden" name="filter_by" value="{{ filter_by }}">
                </form>
                <a class="btn btn-primary" href="{% url 'booking-add' %}" role="button"><i class="fa fa-plus"></i>&nbsp;Add</a>
            </div>
            
        </div>
    </div>
    {% if bookings %}

        <div id='table-cont' class="table-cont table-responsive"> 
            <table class="table-hover" >
                <thead class="text-nowrap bg-lightgray"> 
                    <th class="align-middle"><input type="checkbox" id="checkAll"></th>
                    <th>PRINT</th>
                    <th>TIME</th>
                    <th>DATE</th>
                    <th>PRINCIPAL</th>
                    <th>SHIPPER</th>
                    <th>AGENT</th>
                    <th>SIZE</th>
                    <th>BOOKING</th>

                    <th>START</th>
                    <th>TR</th>
                    <th>FM</th>
                    <th>TR</th>
                    <th>FACTORY</th>
                    <th>TR</th>
                    <th>TR</th>
                    <th>TO</th>

                    <th>CONTAINER NO</th>
                    <th>SEAL NO</th>
                    <th colspan=2>CLOSING (DATE / TIME)</th>

                    <th>REF.</th>
                    <th>REMARK</th>
                    <th>เลขที่ใบงาน</th>

                    <th>PICK UP</th>
                    <th>FACTORY</th>
                    <th>RETURN</th>
                    <th>VESSEL</th>
                    <th>PORT</th>
                </thead> 
                <tbody> 
                    {% load time_color %}
                    {% for booking in bookings %}

                    {% if booking.status == '0' %}
                        <tr class="bg-secondary">
                    {% elif booking.closing_date < today.date and booking.status == '1' %}
                        <tr style="background: #D24D57;">
                    {% elif booking.closing_date <= tmr.date and booking.status == '1' %}
                        <tr class="alert-danger">
                    {% elif booking.date <= today.date and booking.status == '1' %}
                        <tr class="alert-warning">
                    {% else %}
                        <tr>
                    {% endif %}
                            <td class="p-0 no-collapsable toggle-color align-middle">
                                <input type="checkbox" class="check" name="pk" value="{{ booking.pk }}">
                                <!-- <label class="custom-control-label" for="cut{{ booking.pk }}"></label> -->
                            </td>
                            
                            <td class="p-0 align-middle">
                                <!-- <a class="btn btn-link d-block" id="dropdownMenuPrint" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
                                <a class="btn btn-link" data-toggle="modal" data-target="#modalPrint{{ booking.pk }}">
                                    <i class="fa fa-print font-weight-bold"></i>
                                </a>
                            </td>


                            <td class="text-nowrap {% if booking.status != '0' %}{{ booking.time | time_color }}{% endif %}">{{ booking.time }}</td>
                            
                            <td class="text-nowrap px-3">{{ booking.date | date:'d M y' }}</td>
                            <td class="text-center px-1"><div class="long-text">{{ booking.principal }}</div></td>
                            <td style="min-width:250px;">{{ booking.shipper }}</td>
                            <td class="text-center px-1"><div class="long-text">{{ booking.agent }}</div></td>
                            <td class="text-nowrap">{{ booking.size }}</td>
                            {% if booking.status == '0' %}
                                <td class="bg-secondary text-center" style="min-width:150px;">
                            {% else %}
                                <!-- <td style="background-color: {{ booking.booking_color }}" class="no-collapsable text-left px-2"> -->
                                <td style="min-width:150px; background-color:
                                    {% ifchanged booking.booking_no %}
                                        {% cycle "#9977b4" "#dd86b9" "#f497a9" "#f9b489" "#fdcd79" "#fff68f" "#b6d884" "#81cbb5" "#6acade" "#72abdd" as rowcolors %}
                                    {% else %}
                                        {{ rowcolors }}
                                    {% endifchanged %}"
                                class="text-center text-dark">
                            {% endif %}
                                    {{ booking.booking_no }}
                                </td>

                            <td>{{ booking.start }}</td>
                            <td class="text-nowrap {% if booking.status == '0' %}bg-secondary{% elif booking.yard_ndd == '1' %}bg-gold{% endif %}">{{ booking.pickup_tr }}</td>
                            <td>{{ booking.pickup_from }}</td>
                            <td class="text-nowrap">{{ booking.forward_tr }}</td>
                            <td class="text-nowrap">{{ booking.factory }}</td>
                            <td class="text-nowrap {% if booking.status == '0' %}bg-secondary{% elif booking.fac_ndd == '1' %}bg-gold{% endif %}">{{ booking.backward_tr }}</td>
                            <td class="text-nowrap">{{ booking.return_tr }}</td>
                            <td>{{ booking.return_to }}</td>

                            <td class="text-nowrap">{{ booking.container_no }}</td>
                            <td class="text-nowrap">{{ booking.seal_no }}</td>
                            {% if booking.closing_date %}
                                <td class="text-nowrap px-2">{{ booking.closing_date | date:'d/m/y' }}</td>
                            {% else %}
                                <td class="text-nowrap">-</td>
                            {% endif %}
                            <td class="text-nowrap">{{ booking.closing_time }}</td>
                            <td class="no-collapsable text-center px-2"><div class="long-text">{{ booking.ref }}</div></td>
                            <td class="no-collapsable text-center px-2"><div  class="long-text-80">{{ booking.remark }}</div></td>

                            <td class="text-nowrap">{{ booking.work_id }}</td>
                            
                            {% if booking.nextday == '1' and booking.status != '0' %}
                                <td class="text-nowrap bg-info text-white px-3">
                                    {{ booking.pickup_date | date:'d M y' }}
                                </td>
                                <td class="text-nowrap bg-info text-white px-3">
                                    {{ booking.factory_date | date:'d M y' }}
                                </td>
                                <td class="text-nowrap bg-info text-white px-3">
                                    {{ booking.return_date | date:'d M y' }}
                                </td>
                            {% else %}
                                <td class="text-nowrap px-3">
                                    {{ booking.pickup_date | date:'d M y' }}
                                </td>
                                <td class="text-nowrap px-3">
                                    {{ booking.factory_date | date:'d M y' }}
                                </td>
                                <td class="text-nowrap px-3">
                                    {{ booking.return_date | date:'d M y' }}
                                </td>
                            {% endif %}
                            <td class="no-collapsable text-center px-2"><div class="long-text-80">{{ booking.vessel }}</div></td>
                            <td class="no-collapsable text-center px-2"><div class="long-text-80">{{ booking.port }}</div></td>
                        </tr>
                                
                        <div class="modal fade" id="modalPrint{{ booking.pk }}" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <form method="POST" action="{% url 'booking-print' pk=booking.pk %}">
                                    {% csrf_token %}
                                    <div class="modal-content">
                                        <div class="modal-header text-center">
                                            <h4 class="modal-title w-100 font-weight-bold">Print</h4>
                                            <button class="close" data-dismiss="modal" aria-label="Close" style="outline: none; ">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body mx-3 ">
                                            <div class="row">
                                                <div class="col-md-3">เต็มเที่ยว</div>
                                                <div class="col custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input" id="full{{ booking.pk }}" name="template" value="full" checked>
                                                    <label class="custom-control-label" for="full{{ booking.pk }}">Full</label>
                                                </div>
                                                <div class="col"></div>
                                            </div>

                                            <hr>

                                            <div class="row">
                                                <div class="col-md-3">
                                                    ตัดหาง
                                                </div>
                                                <div class="col custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input" id="forward{{ booking.pk }}" name="template" value="forward">
                                                    <label class="custom-control-label" for="forward{{ booking.pk }}">Forward</label>
                                                </div>
                                                <div class="col custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input" id="backward{{ booking.pk }}" name="template" value="backward">
                                                    <label class="custom-control-label" for="backward{{ booking.pk }}">Backward</label>
                                                </div>
                                            </div>

                                            <hr>

                                            <div class="row">
                                                <div class="col-md-3">
                                                    ซอยตู้
                                                </div>
                                                <div class="col custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input" id="yard-ndd{{ booking.pk }}" name="template" value="yard_ndd">
                                                    <label class="custom-control-label" for="yard-ndd{{ booking.pk }}">Yard - NDD</label>
                                                </div>
                                                <div class="col custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input" id="ndd-fac-return{{ booking.pk }}" name="template" value="ndd_fac_return">
                                                    <label class="custom-control-label" for="ndd-fac-return{{ booking.pk }}">NDD - Fac - Return</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3"></div>
                                                <div class="col custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input" id="ndd-fac-ndd{{ booking.pk }}" name="template" value="ndd_fac_ndd">
                                                    <label class="custom-control-label" for="ndd-fac-ndd{{ booking.pk }}">NDD - Fac - NDD</label>
                                                </div>
                                                <div class="col custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input" id="ndd-return{{ booking.pk }}" name="template" value="ndd_return">
                                                    <label class="custom-control-label" for="ndd-return{{ booking.pk }}">NDD - Return</label>
                                                </div>
                                            </div>

                                            <hr style="border-width: 3px;">

                                            <div class="row mb-2">
                                                <div class="col">
                                                    ADDRESS
                                                </div>
                                            </div>
                                            <div class="container col-md-11">
                                                <div class="row">
                                                    <div class="col custom-control custom-radio">
                                                        <input type="radio" id="address-shipper{{ booking.pk }}" class="custom-control-input" name="address{{ booking.pk }}" onchange="updateradio('{{ booking.pk }}');" value="shipper" checked>
                                                        <label class="custom-control-label" for="address-shipper{{ booking.pk }}">Shipper</label>
                                                    </div> 
                                                </div>
                                                <div class="row">
                                                    <div class="col custom-control custom-radio">
                                                        <input type="radio" id="address-other{{ booking.pk }}" class="custom-control-input" name="address{{ booking.pk }}" onchange="updateradio('{{ booking.pk }}');" value="other">
                                                        <label class="custom-control-label" for="address-other{{ booking.pk }}">Other</label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="w-100 my-2">
                                                        <textarea class="form-control" rows="3" id="id_address_other{{ booking.pk }}" name="address_other" style="font-size: 12px;" maxlength="400" disabled></textarea>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col custom-control custom-radio">
                                                        <input type="radio" id="address-none{{ booking.pk }}" class="custom-control-input" name="address{{ booking.pk }}" onchange="updateradio('{{ booking.pk }}');" value="none">
                                                        <label class="custom-control-label" for="address-none{{ booking.pk }}">None</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="modal-footer d-flex justify-content-center">
                                            <button class="btn btn-primary">Print</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>  
                    {% endfor %}
                </tbody> 
            </table>
        </div>
    </div>
{% else %}
    <h1 class="text-center text-secondary mt-3"> ไม่พบข้อมูล </h1>
{% endif %}

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="{% static 'js/fixed_header.js' %}"></script>
    <script src="{% static 'js/add_form.js' %}"></script>
    <script src="{% static 'js/booking_table.js' %}"></script>

    <script>
        $(function() {
            
            
            $("button.action").click(function(){
                if($("input.check:checked").length != 0) {
                    $("input.check:checked").each(function() {
                        
                        var input = $("<input>")
                                    .attr("type", "hidden")
                                    .attr("name", "pk").val($(this).val());
                        $('form#action').append($(input));
                    });
                }
                else {
                    alert("เลือกงานที่ต้องการ");
                    return false;
                }
                
                var action = $('select[name="action"]').val();
                
                if(action == 'time'){
                    $('form#action').attr("action", "{% url 'booking-time' %}");
                    $('form#action').submit();
                }
                else if(action == 'delete'){
                    if (confirm('Are you sure?')){
                        $('form#action').attr("action", "{% url 'booking-delete-multiple' %}");
                        $('form#action').submit();
                    }
                }
                return false;

            });

            
        });
</script> 
        
{% endblock %}

