{% extends 'base.html' %}
{% load static %}

{% block title %} Cheque {% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/style_summary.css' %}" />
{% endblock %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0 bg-white">
            <li class="breadcrumb-item active" aria-current="page">CHEQUE</li>
        </ol>
    </nav>
    <div id="cheque-page">
        {% verbatim %}
            <div class="row my-4 col-lg-7">
                <div class="col input-group mb-3 container">
                    <div class="input-group-prepend">
                        <span class="input-group-text">YEAR</span>
                    </div>
                    <select class="custom-select" style="height: 40px;"  v-model="year" @change="getCheque">
                        <option v-for="year in year_list">{{ year.year_label }}</option>
                    </select>
                    <div class="input-group-append">
                        <span class="input-group-text">MONTH</span>
                    </div>
                    <select class="custom-select" style="height: 40px;" v-model="month" @change="getCheque">
                        <option v-for="(month, index) in month_list" :value="index+1">{{ month }}</option>
                    </select>
                </div>
                <div class="col input-group mb-3 container">
                    <div class="input-group-prepend">
                        <span class="input-group-text">DATE FROM</span>
                    </div>
                    <input type="date" class="form-control" :min="min_date" :max="max_date" v-model="date_from" @change="getChequeData(mode)" :disabled="mode=='overdue'">
                    <div class="input-group-append">
                        <span class="input-group-text">TO</span>
                    </div>
                    <input type="date" class="form-control" :min="min_date" :max="max_date" v-model="date_to" @change="getChequeData(mode)" :disabled="mode=='overdue'">
                </div>
            </div>

            <div class="row col-12 m-0">
                <div class="col-1">
                    <button class="btn my-1 col-12" :class="mode=='due'? 'btn-primary': 'btn-outline-primary'" @click="getChequeData('due')">Due</button>
                    <button class="btn my-1 col-12" :class="mode=='accept'? 'btn-success': 'btn-outline-success'" @click="getChequeData('accept')">Accept</button>
                    <button class="btn my-3 col-12" :class="mode=='overdue'? 'btn-danger': 'btn-outline-danger'" @click="getChequeData('overdue')">Overdue</button>
                </div>

                <div v-if="mode=='due' || mode=='overdue'" class="col-9">
                    <h3 v-if="mode=='due'" class="text-center mb-3">ครบกำหนดรับเช็ค</h3>
                    <h3 v-else class="text-center mb-3">ค้างชำระ</h3>
                    <table v-if="loading==false" class="table table-hover table-bordered">
                        <thead class="text-nowrap thead-light text-center">
                            <th>CUSTOMER</th>
                            <th>INVOICE</th>
                            <th>WEEK</th>
                            <th>TOTAL</th>
                            <th>จำนวนตู้</th>
                            <th>วันที่วางบิล</th>
                            <th>วันครบกำหนด <button v-if="edit==false" class="btn btn-sm btn-outline-info float-right" @click="edit=true"><i class="fa fa-edit"></i></button></th>
                            <th v-if="edit==true">วันรับเช็ค <button class="btn btn-sm btn-outline-success float-right" @click="saveEditChequeAcceptDate"><i class="fa fa-save"></i></button></th>
                        </thead>
                        <tbody>
                            <template v-if="cheque_list.length">
                                <tr v-for="(cheque, index) in cheque_list" 
                                    :class="{ 
                                        'table-primary': cheque.date_accept && cheque.date_accept<cheque.date_due, 
                                        'table-success': cheque.date_accept && cheque.date_accept==cheque.date_due, 
                                        'table-orange': cheque.date_accept && cheque.date_accept>cheque.date_due,
                                        'text-danger': cheque.date_due<today && !cheque.date_accept,
                                        'table-danger': mode=='overdue' && month==cheque.due_month && year==cheque.due_year && !cheque.date_accept,
                                    }"
                                >
                                    <td>
                                        {{ cheque.customer }}
                                    </td>
                                    <td>
                                        <button v-if="cheque.view_detail==false" class="btn btn-link p-0" @click="cheque.view_detail=true">View Details</button>
                                        <template v-if="cheque.view_detail==true">
                                            <button class="btn btn-link p-0" @click="cheque.view_detail=false">Hide</button>
                                            <ul class="text-left">
                                                <li v-for="inv in cheque.invoice">{{ inv }}</li>
                                            </ul>
                                        </template>
                                    </td>
                                    <td>
                                        Week {{ cheque.week }}
                                    </td>
                                    <td class="text-right">
                                        {{ cheque.total|currencyCommas }}
                                    </td>
                                    <td class="text-right">
                                        {{ cheque.container }}
                                    </td>
                                    <td class="text-center">
                                        {{ cheque.date_billing|formatDate }}
                                    </td>
                                    <td class="text-center">
                                        {{ cheque.date_due|formatDate }}
                                    </td>
                                    <td v-if="edit==true" class="cheque">
                                        <input type="date" class="form-control" v-model="cheque.date_accept" @change="editData(cheque)">
                                    </td>
                                </tr> 
                            </template>
                            <tr v-else class="font-weight-bold text-center">
                                <td colspan=7 class="text-secondary">
                                    ไม่พบข้อมูล
                                </td>
                            </tr>
                            <tr class="table-active font-weight-bold">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="text-right">{{ total|currencyCommas }}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td v-if="edit==true"></td>
                            </tr>
                        </tbody>               
                    </table>
                    <div v-else class="container position-relative">
                        <div class="position-absolute" style="top: -10%; left:50%; transform: translate(-50%, 10%); color: lightgray;">
                            <h1 class="text-center" ><i class="fa fa-spinner fa-pulse fa-4x mb-5"></i></h1>
                        </div>
                    </div>
                </div>
                <div v-else-if="mode=='accept'" class="col-9">
                    <h3 class="text-center mb-3">รับเช็ค</h3>
                    <table class="table table-hover table-bordered">
                        <thead class="text-nowrap thead-light text-center">
                            <th>วันรับเช็ค</th>
                            <th>CUSTOMER</th>
                            <th>จำนวนตู้</th>
                            <th>TOTAL</th>
                            <th>INVOICE</th>
                        </thead>
                        <tbody>
                            <template v-if="cheque_list.length">
                                <tr v-for="cheque in cheque_list"
                                    :class="{'table-primary': cheque.date_accept<cheque.date_due, 
                                        'table-success': cheque.date_accept==cheque.date_due, 
                                        'table-orange': cheque.date_accept>cheque.date_due,
                                    }"
                                >
                                    <td class="text-center">{{ cheque.date_accept|formatDate }}</td>
                                    <td>{{ cheque.customer }}</td>
                                    <td class="text-right">{{ cheque.container }}</td>
                                    <td class="text-right">{{ cheque.total|currencyCommas }}</td>
                                    <td>
                                        <button v-if="cheque.view_detail==false" class="btn btn-link p-0" @click="cheque.view_detail=true">View Details</button>
                                        <template v-if="cheque.view_detail==true">
                                            <button class="btn btn-link p-0" @click="cheque.view_detail=false">Hide</button>
                                            <ul class="text-left">
                                                <li v-for="inv in cheque.invoice">{{ inv }}</li>
                                            </ul>
                                        </template>
                                    </td>
                                </tr> 
                            </template>
                            <tr v-else class="font-weight-bold text-center">
                                <td colspan=7 class="text-secondary">
                                    ไม่พบข้อมูล
                                </td>
                            </tr>
                            <tr class="table-active font-weight-bold">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="text-right">{{ total|currencyCommas }}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-2">
                    <table class="table font-weight-bold border">
                        <thead class="thead-light text-center">
                            <th colspan=2>
                                MONTH TOTAL
                            </th>
                        </thead>
                        <tbody>
                            <tr class="table-primary">
                                <td>Due</td>
                                <td class="text-right">{{ due_total|currencyCommas }}</td>
                            </tr>
                            <tr class="table-success">
                                <td>Accept</td>
                                <td class="text-right">{{ accept_total|currencyCommas }}</td>
                            </tr>
                            <tr class="table-warning text-danger">
                                <td>DIFF</td>
                                <td class="text-right">{{ due_total - accept_total|currencyCommas }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        {% endverbatim %}
    </div>


    <script type="application/javascript" src="{% static 'js/app_cheque_page.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/utility/filters.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/utility/functions.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/utility/variables.js' %}"></script>

    <script type="application/javascript">

        window.addEventListener("load", function() {
            cheque_page.reload();
        });

    </script>

{% endblock %}