{% extends 'base.html' %}
{% load static %}

{% block title %} Summary {% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/style_summary.css' %}" />
{% endblock %}

{% block content %}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb m-0 bg-white">
        <li class="breadcrumb-item active" aria-current="page">SUMMARY</li>
        <li class="breadcrumb-item"><a href="#">Library</a></li>
    </ol>
</nav>

<div class="row col-md-12 px-5 pb-4 alert-secondary m-0 shadow" style="overflow-x: auto; max-height: 50%;">
    <div class="col-md-3 pt-4">
        <div class="card alert-secondary" style="min-height: 214px;">
            <div class="card-body text-center">
                <h1 class="card-title"><i class="fa fa-plus-circle fa-3x"></i></h1>
                <h3 class="card-text">Add new year</h3>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>
    </div>

    <div class="col-md-3 pt-4">
        <div class="card alert-warning border-dark">
                <h4 class="card-header">2018</h4>
            <div class="card-body">
                <h1 class="text-center">11,111,111,111</h1>   
            </div>
            <div class="card-footer"><a href="#" class="btn btn-outline-dark float-right">Detail</a></div>
        </div>
    </div>
    <div class="col-md-3 pt-4">
            <div class="card alert-success border-dark">
                    <h4 class="card-header">2018</h4>
                <div class="card-body">
                    <h1 class="text-center">88,888,888</h1>   
                </div>
                <div class="card-footer"><a href="#" class="btn btn-outline-dark float-right">Detail</a></div>
            </div>
        </div>
    <div class="col-md-3 pt-4">
        <div class="card alert-success border-dark">
                <h4 class="card-header">2017</h4>
            <div class="card-body">
                <h1 class="text-center">1,111,111,111</h1>   
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-outline-dark float-right">Detail</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 pt-4">
        <div class="card alert-success border-dark">
                <h4 class="card-header">2016</h4>
            <div class="card-body">
                <h1 class="text-center">1,111,111,111,111</h1>   
            </div>
            <div class="card-footer"><a href="#" class="btn btn-outline-dark float-right">Detail</a></div>
        </div>
    </div>
    <div class="col-md-3 pt-4">
            <div class="card alert-success border-dark">
                    <h4 class="card-header">2017</h4>
                <div class="card-body">
                    <h1 class="text-center">1,111,111,111,111</h1>   
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-outline-dark float-right">Detail</a>
                </div>
            </div>
        </div>
    
</div>



{% endblock %}