<div class="modal fade" id="modalFormSetting" tabindex="-1" role="dialog" aria-hidden="true">    
    {% verbatim %}
        <div class="modal-dialog" role="document" style="min-width: 80%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title w-100 text-center">{{ form_title }}</h2>
                    <button class="close" data-dismiss="modal" aria-label="Close" style="outline: none; ">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-5">      
                    <div class="input-group mb-3 w-50 container">
                        <div class="input-group-prepend">
                            <span class="input-group-text">FORM NAME</span>
                        </div>
                        <input class="form-control" 
                            v-model="form_setting_modal.form_name" maxlength="50" 
                            :disabled="form_index==0"
                            :class="{'alert-danger': input_required == true & form_setting_modal.form_name == ''}"
                        >
                    </div>

                    <fieldset class="summary_form_detail">
                        <legend class="summary_form_detail">FORM DETAILS</legend>

                        <div class="float-right mb-3">

                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="input_field" value="1_input_field" v-model="form_setting_modal.form_detail[1]">
                                <label class="custom-control-label" for="input_field"><input class="form-control p-0 text-center" placeholder="เพิ่มเติม" readonly></label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="diesel_rate" value="1_diesel_rate" v-model="form_setting_modal.form_detail[1]">
                                <label class="custom-control-label" for="diesel_rate">Diesel Rate</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="job_no_out" value="1_job_no_out" v-model="form_setting_modal.form_detail[1]">
                                <label class="custom-control-label" for="job_no_out">JOB NO.</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="ap_billing_no" value="1_ap_billing_no" v-model="form_setting_modal.form_detail[1]">
                                <label class="custom-control-label" for="ap_billing_no">AP Billing No.</label>
                            </div>
                            
                        </div>
                        
                        <table class="table table-bordered" style="border-width:2px; font-size:14px;">
                            <tr class="text-center bg-white">
                                <td rowspan=2 class="align-middle">
                                    Customer Name
                                </td>
                                <td rowspan=2 class="text-left">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="booking" value="00" v-model="form_setting_modal.form_detail[0]">
                                        <label class="custom-control-label" for="booking">BOOKING</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="b/l" value="01" v-model="form_setting_modal.form_detail[0]">
                                        <label class="custom-control-label" for="b/l">B/L</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="routing" value="02" v-model="form_setting_modal.form_detail[0]">
                                        <label class="custom-control-label" for="routing">ROUTING</label>
                                    </div>

                                </td>

                                <td colspan=2 class="align-middle">
                                    Vessel/Truck Routing
                                </td>

                                <td rowspan=2 class="align-middle">
                                    Date
                                </td>
                                <td rowspan=2 class="align-middle">
                                    Container No.1
                                </td>
                                <td rowspan=2 class="align-middle" :class="{ 'bg-light': form_setting_modal.form_detail.indexOf('container_2') <= 0 }">
                                    <div class="custom-control custom-checkbox" style="margin: auto; width:0%;">
                                        <input type="checkbox" class="custom-control-input" id="container_2" value="container_2" v-model="form_setting_modal.form_detail">
                                        <label class="custom-control-label" for="container_2"></label>
                                    </div>
                                    Container No.2
                                </td>
                                <td rowspan=2 class="align-middle">
                                    Size
                                </td>
                                <td rowspan=2 class="align-middle">
                                    Drayage Charge
                                </td>

                                <td rowspan=2 class="align-middle">
                                    Gate Charge
                                </td>

                                <td rowspan=2 class="align-middle" :class="{ 'bg-light': form_setting_modal.form_detail.indexOf('agent') <= 0 }">
                                    <div class="custom-control custom-checkbox" style="margin: auto; width:0%;">
                                        <input type="checkbox" class="custom-control-input" id="agent"  value="agent" v-model="form_setting_modal.form_detail">
                                        <label class="custom-control-label" for="agent"></label>
                                    </div>
                                    Agent
                                </td>

                                <td rowspan=2 class="align-middle" :class="{ 'bg-light': form_setting_modal.form_detail[2]!='2_remark' }">
                                    <div class="custom-control custom-radio" style="margin: auto; width:0%;">
                                        <input type="radio" class="custom-control-input" id="remark"  value="2_remark" v-model="form_setting_modal.form_detail[2]">
                                        <label class="custom-control-label" for="remark"></label>
                                    </div>
                                    Remark
                                </td>
                                <td rowspan=2 class="align-middle" :class="{ 'bg-light': form_setting_modal.form_detail[2]!='2_job_no' }">
                                    <div class="custom-control custom-radio" style="margin: auto; width:0%;">
                                        <input type="radio" class="custom-control-input" id="job_no" value="2_job_no" v-model="form_setting_modal.form_detail[2]">
                                        <label class="custom-control-label" for="job_no"></label>
                                    </div>
                                    <span class="text-nowrap" >Job No.</span>
                                </td>
                                <td rowspan=2 class="align-middle" :class="{ 'bg-light': form_setting_modal.form_detail[2]!='2_truck' }">
                                    <div class="custom-control custom-radio" style="margin: auto; width:0%;">
                                        <input type="radio" class="custom-control-input" id="truck" value="2_truck" v-model="form_setting_modal.form_detail[2]">
                                        <label class="custom-control-label" for="truck"></label>
                                    </div>
                                    TRUCK
                                </td>
                            </tr>
                            <tr class="text-center">
                                <td class="align-middle">
                                    From
                                </td>
                                <td class="align-middle">
                                    To
                                </td>
                            </tr>
                        </table>
                    </fieldset>  
                </div>
                
                <div class="modal-footer px-5 py-4">
                    <div class="text-right">
                        <button v-if="form_action == 'add'" class="btn btn-lg btn-primary" @click="addForm">Create</button>
                        <button v-else-if="form_action == 'edit'" class="btn btn-lg btn-primary" @click="editForm">Save</button>
                    </div>
                </div>
            </div>
        </div>
    {% endverbatim %}
</div>