<div class="modal fade" id="modelAddFieldEvergreen" tabindex="-1" role="dialog" aria-hidden="true">    
    {% verbatim %}
        <div class="modal-dialog" role="document" style="min-width: 80%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title w-100 text-center">Add fields</h2>
                    <button class="close" data-dismiss="modal" aria-label="Close" style="outline: none; ">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-5">
                    <table class="table table-bordered">
                        <thead class="text-center">
                            <th>JOB NO</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Date</th>
                            <th>CNTR No</th>
                            <th>Size</th>
                            <th>Truck</th>
                            <th>Drayage Charge</th>
                        </thead>
                        <tbody>
                            <td><textarea class="form-control" rows=10 v-model="job_no"></textarea></td>
                            <td><textarea class="form-control" rows=10 v-model="from"></textarea></td>
                            <td><textarea class="form-control" rows=10 v-model="to"></textarea></td>
                            <td><textarea class="form-control" rows=10 v-model="date"></textarea></td>
                            <td><textarea class="form-control" rows=10 v-model="container"></textarea></td>
                            <td><textarea class="form-control" rows=10 v-model="size"></textarea></td>
                            <td><textarea class="form-control" rows=10 v-model="remark"></textarea></td>
                            <td><textarea class="form-control" rows=10 v-model="drayage"></textarea></td>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer px-5 py-3">
                    <button class="btn btn-primary" @click="addFieldsEvergreen">Add</button>
                </div>
            </div>
        </div>
    {% endverbatim %}
</div>


<script>

    var add_evergreen_modal = new Vue( {
        
        el: '#modelAddFieldEvergreen',
        data: {
            job_no: '',
            from: '',
            to: '',
            date: '',
            container: '',
            size: '',
            drayage: '',
            remark: '',
        },

        methods: {
            addFieldsEvergreen() {
                var job_no = this.job_no.split('\n')
                var from = this.from.split('\n')
                var to = this.to.split('\n')
                var date = this.date.split('\n')
                var container = this.container.split('\n')
                var size = this.size.split('\n')
                var drayage = this.drayage.split('\n')
                var remark = this.remark.split('\n')
                
                var data_list = []
                for(num in container) {
                    if(!drayage[num] || drayage[num] == "") {
                        drayage[num] = ''
                    }
                    else {
                        if(drayage[num].trim() == '-') {
                            drayage[num] = ''
                        }
                    }

                    var obj = {
                        job_no: job_no[num],
                        from: from[num],
                        to: to[num],
                        date: date[num],
                        container: container[num],
                        size: size[num],
                        drayage: drayage[num].replace(',', ''),
                        remark: remark[num],
                    }

                    data_list.push(obj)
                }

                data_list.forEach(function(data) {

                    var work = summary_invoice_details.invoice_detail_list.filter(detail => 
                        (detail.work.container_1.trim() == data.container.trim() && detail.detail.container == 1) ||
                        (detail.work.container_2.trim() == data.container.trim() && detail.detail.container == 2)
                    )

                    if(work.length == 1) {
                        work = work[0]
                        var detail = work.detail

                        detail.job_no = data.job_no
                        detail.from = data.from
                        detail.to = data.to
                        detail.date = data.date
                        detail.size = data.size
                        work.drayage_charge.drayage = data.drayage
                        detail.remark = data.remark
                    }

                })
                
                $('#modelAddFieldEvergreen').modal('hide')

                this.job_no = ''
                this.from = ''
                this.to = ''
                this.date = ''
                this.container = ''
                this.size = ''
                this.drayage = ''
                this.remark = ''
            }
        }
    })

</script>