{% extends 'base.html' %}
{% load static %}

{% block title %} Summary {% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/style_summary.css' %}" />
{% endblock %}

{% block content %}

    <div id="summary-breadcrumb" >
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb m-0 bg-white">
                <li class="breadcrumb-item"><a href="{% url 'summary-page' %}">SUMMARY</a></li>
                <li class="breadcrumb-item"><a href="{% url 'summary-year-details-page' year=year %}">{{ year }}</a></li>
                {% verbatim %}
                    <li class="breadcrumb-item active" aria-current="page">{{ month_list[month-1] }}</li>
                {% endverbatim %}

            </ol>
        </nav>
    </div>
    <div id="summary-month-details" >
        {% verbatim %}
            <button class="btn btn-outline-primary position-absolute m-3" style="right:0px;" data-toggle="modal" data-target="#modalSummaryWeek"><i class="fa fa-plus-circle"></i>&nbsp;Week</button>
            <div class="row col-md-11">
                <table class="table table-bordered table-hover">
                    <thead class="text-center">
                        <th class="align-middle border-dark">Customer Name</th>
                        
                        <th v-if="! weeks.length" class="border-dark"></th>
                        <th v-else v-for="(week, index) in weeks" class="cell-click align-middle border-dark"
                            :class="{'alert-warning': week.status==0, 'alert-success': week.status==1}" @click="selectWeek(week.week)"
                        >
                            WK. {{ week.week }} <br> ( {{ week.date_start|formatDate }} - {{ week.date_end|formatDate }} )
                        </th>

                        <th class="align-middle border-dark"><u>Total</u></th>
                    </thead>
                    <tbody>
                        <tr v-for="(month_detail, index) in summary_month_details" class="text-right" :style="'background:'+ month_detail.color">
                            <td v-if="month_detail.sub_customer" class="text-left align-middle">{{ month_detail.sub_customer }}</td>
                            <td v-else class="text-left align-middle">{{ month_detail.customer }}</td>

                            <td v-if="! weeks.length" style="min-width:120px;"></td>
                            <td v-else v-for="(week, week_index) in weeks" class="align-middle" :class="{'bg-secondary': ! month_detail.total[week_index]}" style="min-width:120px;">{{ month_detail.total[week_index]|currencyCommas }}</td>

                            <td class="align-middle" style="min-width:120px;">{{ total_customer[index]|currencyCommas }}</td>

                            <td v-if="month_detail.cusotomer_total" class="text-center align-middle"><b>{{ month_detail.cusotomer_total|currencyCommas }}</b></td>
                        </tr>

                        <tr class="text-right" >
                            <td class="text-center"><u><b>Total</b></u></td>

                            <td v-if="! weeks.length"></td>
                            <td v-else v-for="week in total_week" class="alert-primary"><b>{{ week|currencyCommas }}</b></td>

                            <td style="background: Lime;"><b>{{ total_month|currencyCommas }}</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        {% endverbatim %}

        {% include 'summary/summary_week_modal.html' %}

    </div>


    <script type="application/javascript" src="{% static 'js/app_summary_month_details_page.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/utility/filters.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/utility/functions.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/utility/variables.js' %}"></script>

    <script type="application/javascript">

        window.addEventListener("load", function() {   
            summary_month_details.reload({{ year }}, {{ month }});
            summary_breadcrumb.reload({{ month }});
        });

    </script>

{% endblock %}