{% extends 'base.html' %}
{% load static %}

{% block title %} Summary {% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/style_summary.css' %}" />    
{% endblock %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0 bg-white">
            <li class="breadcrumb-item"><a href="{% url 'summary-page' %}">SUMMARY</a></li>
            <li class="breadcrumb-item active" aria-current="page">Form Setting</li>
        </ol>
    </nav>

    <div id="summary-form-setting" class="container text-center" style="min-width: 75%;"> 
        {% verbatim %}
            <button class="btn btn-success btn-lg my-5" data-toggle="modal" data-target="#modalFormSetting" @click="settingForm">Create New Form</button>

            <div v-for="(form, index) in summary_forms" class="modal-dialog" role="document" style="min-width: 100%;">
                <div class="modal-content">
                    <div class="modal-header px-5">
                        <h3 class="modal-title">{{ form.form_name }}</h3>
                        <div class="float-right p-0">
                            <button class="btn btn-outline-warning my-2" data-toggle="modal" data-target="#modalFormSetting" @click="settingForm(index)"><i class="fa fa-edit"></i></button>
                            <button v-if="index!=0" class="btn btn-outline-danger my-2" @click="deleteForm(form.id)"><i class="fa fa-trash-alt"></i></button> 
                        </div>
                    </div>

                    <div class="modal-body px-5">
                        <div v-if="form.form_detail[1]=='1_diesel_rate'" class="float-right mb-3">
                            Diesel Rate : __________
                        </div>
                        <div v-else-if="form.form_detail[1]=='1_job_no_out'" class="float-right mb-3">
                            JOB NO : __________
                        </div>
                        <div v-else class="float-right mb-3">
                            <input class="form-control p-0 text-center" placeholder="เพิ่มเติม" disabled>
                        </div>
                        
                        <table class="table table-bordered" style="border-width:2px; font-size:14px;">
                            <tr class="text-center">
                                <td rowspan=2 class="align-middle">
                                    Customer Name
                                </td>
                                <td rowspan=2 class="align-middle">
                                    {{ booking_field[form.form_detail[0]] }}
                                </td>

                                <td colspan=2 class="align-middle">
                                    Vessel/Truck Routing
                                </td>
                                
                                <td rowspan=2 class="align-middle">
                                    Date
                                </td>
                                <td rowspan=2 class="align-middle">
                                    Container No.1
                                </td>
                                <td rowspan=2 v-if="form.form_detail.indexOf('container_2') > 0" class="align-middle">
                                    Container No.2
                                </td>
                                <td rowspan=2 class="align-middle">
                                    Size
                                </td>
                                <td rowspan=2 class="align-middle">
                                    Drayage Charge
                                </td>

                                <td rowspan=2 v-if="form.form_detail.indexOf('gate_charge') > 0" class="align-middle">
                                    Gate Charge
                                </td>

                                <td rowspan=2 v-if="form.form_detail.indexOf('agent') > 0" class="align-middle">
                                    Agent
                                </td>

                                <td rowspan=2 v-if="form.form_detail[2]=='2_remark'" class="align-middle">
                                    Remark
                                </td>
                                <td rowspan=2 v-else-if="form.form_detail[2]=='2_job_no'" class="align-middle">
                                    <span class="text-nowrap">Job No.</span>
                                </td>
                                <td rowspan=2 v-else-if="form.form_detail[2]=='2_truck'" class="align-middle">
                                    TRUCK
                                </td>
                            </tr>
                            <tr class="text-center">
                                <td class="align-middle">
                                    From
                                </td>
                                <td class="align-middle">
                                    To
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        {% endverbatim %}

        {% include 'summary/summary_form_setting_modal.html' %}

    </div>

    
    <script type="application/javascript" src="{% static 'js/app_summary_form_setting.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/utility/functions.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/utility/variables.js' %}"></script>

    <script type="application/javascript">

        window.addEventListener("load", function() {   
            summary_form_setting.reload();
        });

    </script>

{% endblock %}