<div class="modal fade" id="modalWorkList" tabindex="-1" role="dialog" aria-hidden="true">    
    {% verbatim %}
        <div class="modal-dialog" role="document" style="min-width: 85%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title w-100 text-center">Select Works</h2>
                    <button class="close" data-dismiss="modal" aria-label="Close" style="outline: none; ">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body px-5 py-4">
                    <div class="input-group col-md-4 container mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-filter"></i></span>
                        </div>
                        <input class="form-control" v-model="filter_work" placeholder="Filter by Shipper / Booking No.">
                    </div>
                    <table v-if="work_list.length" class="table table-bordered table-hover" style="font-size: 14px;">
                        <thead class="text-center">
                            <th>(&nbsp;{{ work_selected.length }}&nbsp;)</th>
                            <th>Date</th>
                            <th></th>
                            <th>Principal</th>
                            <th>Shipper</th>
                            <th>Agent</th>
                            <th>Booking</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Container 1</th>
                            <th>Size</th>
                            <th>เลขที่ใบงาน</th>
                        </thead>
                        <tbody>
                            <template v-for="(work, index) in filteredWork">
                                <tr :class="{'bg-light text-secondary': work.summary_status=='1', 'table-primary': work_selected.includes(work.id+'_1')}">
                                    <td class="text-center align-middle">
                                        <div class="m-0 custom-control custom-checkbox">
                                            <input v-if="work.size.indexOf('X') > 0" type="checkbox" class="form-check-input" v-model="work_selected" :value="work.id+'_1'" @click="evergreenSelectWork(work.id+'_1', work.id+'_2')" :disabled="work.summary_status=='1'">
                                            <input v-else type="checkbox" class="form-check-input" v-model="work_selected" :value="work.id+'_1'" :disabled="work.summary_status=='1'">
                                        </div>
                                    </td>
                                    <td class="text-center">{{ work.date|formatDate }}</td>

                                    <td v-if="customer_type == 'agent-transport'" class="text-center text-primary">
                                        <span v-if="work.operation_type == 'export_loaded'">
                                            ตู้หนักไป
                                        </span>
                                        <span v-else-if="work.operation_type == 'import_loaded'">
                                            ตู้หนักกลับ
                                        </span>
                                        <span v-else-if="work.operation_type == 'export_empty'">
                                            ตู้เปล่าไป
                                        </span>
                                        <span v-else-if="work.operation_type == 'import_empty'">
                                            ตู้เปล่ากลับ
                                        </span>
                                    </td>
                                    <td>{{ work.principal.name }}</td>

                                    <td v-if="work.shipper" style="max-width: 250px;">{{ work.shipper.name }}</td>
                                    <td v-else></td>

                                    <td class="text-center">{{ work.agent }}</td>
                                    <td class="text-center">{{ work.booking_no }}</td>
                                    <td class="text-center">{{ work.pickup_from }}</td>
                                    <td class="text-center">{{ work.return_to }}</td>
                                    <td class="text-center" style="font-weight: 800;">{{ work.container_1 }}</td>
                                    <td class="text-center">{{ work.size }}</td>
                                    <td class="text-center">{{ work.work_id }}</td>
                                </tr>
                                <tr v-if="work.size.indexOf('X') > 0" :class="{'bg-light text-secondary': work.summary_status=='1', 'table-primary': work_selected.includes(work.id+'_2')}">
                                    <td class="text-center align-middle">
                                        <div class="m-0 custom-control custom-checkbox">
                                            <input type="checkbox" class="form-check-input" v-model="work_selected" :value="work.id+'_2'" @click="evergreenSelectWork(work.id+'_2', work.id+'_1')" :disabled="work.summary_status=='1'">
                                        </div>
                                    </td>
                                    <td class="text-center"></td>
                                    <td v-if="customer_type == 'agent-transport'" class="text-center text-primary"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    
                                    <td class="text-center" style="font-weight: 800;">{{ work.container_2 }}</td>

                                    <td></td>
                                    <td></td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>
                
                <div class="modal-footer px-5 py-3">
                    <button v-if="work_list_modal_mode=='create'" class="btn btn-primary" @click="addNewInvoice">Create</button>
                    <button v-else class="btn btn-primary" @click="addInvoiceDetailsEvergreen(invoice)">Add</button>
                </div>
            </div>
        </div>
    {% endverbatim %}
</div>