<div class="modal fade" id="modelAddFieldEvergreen" tabindex="-1" role="dialog" aria-hidden="true">    
        {% verbatim %}
            <div class="modal-dialog" role="document" style="min-width: 75%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title w-100 text-center">Add fields</h2>
                        <button class="close" data-dismiss="modal" aria-label="Close" style="outline: none; ">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-5">
                        <table class="table table-bordered">
                            <thead class="text-center">
                                <th>JOB NO</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Date</th>
                                <th>Size</th>
                                <th>Drayage Charge</th>
                                <th>Truck</th>
                            </thead>
                            <tbody>
                                <td><textarea class="form-control" rows=10 v-model="job_no"></textarea></td>
                                <td><textarea class="form-control" rows=10 v-model="from"></textarea></td>
                                <td><textarea class="form-control" rows=10 v-model="to"></textarea></td>
                                <td><textarea class="form-control" rows=10 v-model="date"></textarea></td>
                                <td><textarea class="form-control" rows=10 v-model="size"></textarea></td>
                                <td><textarea class="form-control" rows=10 v-model="drayage"></textarea></td>
                                <td><textarea class="form-control" rows=10 v-model="truck"></textarea></td>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer px-5 py-3">
                        <button class="btn btn-primary" @click="addFieldsEvergreen">Add</button>
                    </div>
                </div>
            </div>
        {% endverbatim %}
    </div>
</div>


<script>

var summary_invoice_details = new Vue( {
    
    el: '#summary-evergreen',
    data: {
        job_no: '',
        from: '',
        to: '',
        date: '',
        size: '',
        drayage: '',
        truck: '',
    },


    methods: {
        addFieldsEvergreen() {
            var job_no = this.job_no.split('\n')
            var from = this.from.split('\n')
            var to = this.to.split('\n')
            var date = this.date.split('\n')
            var size = this.size.split('\n')
            var drayage = this.drayage.split('\n')
            var truck = this.truck.split('\n')

            for(invoice_detail in summary_invoice_details.invoice_detail_list) {

                var details = summary_invoice_details.invoice_detail_list[invoice_detail].detail

                details.job_no = job_no[invoice_detail]
                details.from = from[invoice_detail]
                details.to = to[invoice_detail]
                details.date = date[invoice_detail]
                details.size = size[invoice_detail]
                details.truck = truck[invoice_detail]

                summary_invoice_details.invoice_detail_list[invoice_detail].drayage_charge.drayage = drayage[invoice_detail]

            }
        }

    }
})



</script>