<div v-if="invoice_details">

<div class="my-3">
    <button class="btn btn-outline-warning"data-toggle="modal" data-target="#modalInvoiceDetails">Invoice</button>

    

    <button class="btn btn-outline-danger float-right" @click="table_edit=false">Exit</button>
    <button class="btn btn-outline-info float-right mx-2" @click="table_edit=true">Edit</button>
</div>


<div>
    {% verbatim %}
    <h2 v-if="customer_custom.customer_title" class="text-center">{{ customer_custom.customer_title }}</h2>
    <h2 v-else-if="customer_custom.sub_customer" class="text-center">{{ customer_custom.sub_customer }}</h2>
    <h2 v-else class="text-center">{{ customer_main.name }}</h2>
    

    <table class="mt-3 w-100">
        <tr>
            <td class="px-1" style="width: 80px;">INV. NO.</td>
            <td v-if="table_edit" class="px-1" style="width: 180px; background: Cyan;"><input class="form-control text-center p-1" v-model="invoice.invoice_no"></td>
            <td v-else class="p-1 text-center" style="width: 180px; background: Cyan; font-weight: 750;">{{ invoice.invoice_no }}</td>
            <td class="text-secondary" style="width: 150px;">
                (Drayage INV.)
            </td>
            <td rowspan=2 class="text-center">
                <div v-if="table_edit" class="input-group col-md-5 container mb-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Customer Name</span>
                    </div>
                    <input class="form-control" v-model="invoice_customer_name">
                </div>

                
                <!-- Customer Name <input class="form-control col-md-4 container" v-model="customer_name"> -->
            </td>

            <td rowspan=2 class="text-primary text-right" style="width: 400px;">
                <template v-if="table_edit">
                    <template v-if="customer_form[1]=='1_diesel_rate'">DIESEL RATE : {{ diesel_rate }}</template>
                    <template v-else-if="customer_form[1]=='1_job_no_out'"><div class="form-inline float-right"><label for="job_no" class="mr-sm-2">JOB NO :</label><input id="job_no" class="form-control text-center p-1 mx-1"></div></template>
                    <template v-else-if="customer_form[1]=='1_ap_billing_no'"><div class="form-inline float-right"><label for="ap_billing_no" class="mr-sm-2">AP BILLING NO :</label><input id="ap_billing_no"  class="form-control text-center p-1 mx-1"></div></template>
                    <input v-else class="form-control text-center p-1 mx-1">
                </template>
                <template v-else>
                    <template v-if="customer_form[1]=='1_diesel_rate'">DIESEL RATE : {{ diesel_rate }}</template>
                    <template v-else-if="customer_form[1]=='1_job_no_out'"><div class="form-inline float-right"><label for="job_no" class="mr-sm-2">JOB NO :</label><input id="job_no" class="form-control text-center p-1 mx-1"></div></template>
                    <template v-else-if="customer_form[1]=='1_ap_billing_no'"><div class="form-inline float-right"><label for="ap_billing_no" class="mr-sm-2">AP BILLING NO :</label><input id="ap_billing_no"  class="form-control text-center p-1 mx-1"></div></template>
                    <input v-else class="form-control text-center p-1 mx-1">
                </template>
                
            </td>
        </tr>
        <!-- <tr>
            <td class="px-1" style="width: 80px;">INV. NO.</td>
            <td class="px-1" style="width: 180px; background: Cyan;"><input class="form-control text-center p-1"></td>
            <td class="text-secondary" style="width: 150px;">(Gate INV.)</td>
        </tr> -->
    </table>
    
    <table class="table table-bordered table-bordered-dark table-light">
        <thead class="text-center table-secondary">
            <tr>
                <th rowspan=2 class="border-dark align-middle"></th>
                <th rowspan=2 class="border-dark align-middle" style="width: 40px;">Item</th>
                <th rowspan=2 class="border-dark align-middle">
                    Customer Name
                </th>
                <th rowspan=2 class="border-dark align-middle">
                    {{ booking_field[customer_form[0]] }}
                </th>

                <th colspan=2 class="border-dark align-middle py-1">
                    Vessel/Truck Routing
                </th>
                
                <th rowspan=2 class="border-dark align-middle">
                    Date
                </th>
                <th rowspan=2 class="border-dark align-middle">
                    Container No.1
                </th>
                <th rowspan=2 v-if="customer_form.indexOf('container_2') > 0" class="border-dark align-middle">
                    Container No.2
                </th>
                <th rowspan=2 class="border-dark align-middle">
                    Size
                </th>
                <th rowspan=2 class="border-dark align-middle">
                    Drayage Charge
                </th>
                <th rowspan=2 class="border-dark align-middle">
                    Gate Charge
                </th>
                <th rowspan=2 v-if="customer_form.indexOf('agent') > 0" class="border-dark align-middle">
                    Agent
                </th>
                <th rowspan=2 v-if="customer_form[2]=='2_remark'" class="border-dark align-middle">
                    Remark
                </th>
                <th rowspan=2 v-if="customer_form[2]=='2_job_no'" class="border-dark align-middle">
                    <span class="text-nowrap">Job No.</span>
                </th>
                <th rowspan=2 v-if="customer_form[2]=='2_truck'" class="border-dark align-middle">
                    TRUCK
                </th>
                <th rowspan=2 class="align-middle table-light" v-if="customer_main.work_type=='agent-transport'">
                    NOTE
                </th>
                <th rowspan=2 class="align-middle table-light">
                    NOTE
                </th>
            </tr>
            <tr>
                <th class="border-dark align-middle py-1" style="width: 120px;">
                    From
                </th>
                <th class="border-dark align-middle py-1" style="width: 120px;">
                    To
                </th>
            </tr>
        </thead>
        <tbody>
            <template v-for="(inv_detail, index) in invoice_detail_list">
                <tr class="text-center">
                    <td class="text-danger cell-click font-weight-bold align-middle" @click="deleteInvoiceDetail(inv_detail.id)">
                        <i class="fa fa-trash"></i>
                    </td>
                    <td>
                        {{ index + 1 }}
                    </td>

                    <td v-if="invoice_customer_name" class="text-left">
                        {{ invoice_customer_name }}
                    </td>
                    <td v-else class="text-left">
                        {{ inv_detail.work.shipper.name }}
                    </td>

                    <td>
                        <input v-if="table_edit" class="form-control text-center" v-model="inv_detail.work.booking_no"> 
                        <template v-else>
                            {{ inv_detail.work.booking_no }}
                        </template>
                    </td>
                    <td>
                        <input v-if="table_edit" class="form-control text-center" v-model="inv_detail.work.pickup_from" style="width: 120px;"> 
                        <template v-else>
                            {{ inv_detail.work.pickup_from }}
                        </template>
                    </td>
                    <td>
                        <input v-if="table_edit" class="form-control text-center" v-model="inv_detail.work.return_to" style="width: 120px;"> 
                        <template v-else>
                            {{ inv_detail.work.return_to }}
                        </template>
                    </td>
                    <td>
                        {{ inv_detail.work.date|formatDate }}
                    </td>

                    <template v-if="customer_type == 'agent-transport'">
                        <td class="text-center">
                            <input v-if="table_edit" class="form-control text-center" v-model="inv_detail.work.container_1"> 
                            <template v-else>
                                {{ inv_detail.work.container_1 }}
                            </template>
                        </td>
                        <td v-if="customer_form.indexOf('container_2') > 0" class="text-center">
                            <input v-if="table_edit" class="form-control text-center" v-model="inv_detail.work.container_2"> 
                            <template v-else>
                                {{ inv_detail.work.container_2 }}
                            </template>
                        </td>
                    </template>
                    <td v-else class="text-center">
                        <input v-if="table_edit" class="form-control text-center" v-model="inv_detail.work.container_no"> 
                        <template v-else>
                            {{ inv_detail.work.container_no }}
                        </template>
                    </td>

                    <td>
                        <select v-if="table_edit" class="custom-select size" v-model="inv_detail.work.size">
                            <option value=""> -------- </option>
                            <option value="20'">20'</option>
                            <option value="20'RF">20'RF</option>
                            <option value="40'">40'</option>
                            <option value="40'HC">40'HC</option>
                            <option value="40'OT">40'OT</option>
                            <option value="40'GOH">40'GOH</option>
                            <option value="40'RF">40'RF</option>
                            <option value="45'">45'</option>
                            <option value="" disabled> -------- </option>
                            <option value="2X20'">2X20'</option>
                            <option value="2X20'RF">2X20'RF</option>
                        </select>   
                        <template v-else>
                            <template v-if="inv_detail.work.size.indexOf('X') == -1">1X</template>{{ inv_detail.work.size }}
                        </template>               
                    </td>

                    <td class="text-right">
                        <input v-if="table_edit" class="form-control text-center" v-model="inv_detail.drayage_charge.drayage" > 
                        <template v-else>
                            {{ eval(inv_detail.drayage_charge.drayage)|currencyCommas }}
                        </template>
                    </td>

                    <td class="text-right">
                        <input v-if="table_edit" class="form-control text-center" v-model="inv_detail.gate_charge.gate" > 
                        <template v-else>
                            {{ eval(inv_detail.gate_charge.gate)|currencyCommas }}
                        </template>
                    </td>

                    <td class="text-primary">
                        {{ inv_detail.detail.remark }}
                    </td>
                    <td class="align-middle text-danger border-light" v-if="customer_main.work_type=='agent-transport'">
                        {{ inv_detail.work.pickup_tr }}<template v-if="inv_detail.work.pickup_tr!=inv_detail.work.return_tr">/{{ inv_detail.work.return_tr }}</template>
                    </td>
                    <td class="border-light" :class="{'bg-processing': inv_detail.detail.note}">
                        <input v-if="table_edit" class="form-control text-center" v-model="inv_detail.detail.note" > 
                        <template v-else>
                            {{ inv_detail.detail.note }}
                        </template>
                    </td>
                </tr>
            </template>
            <tr class="text-center font-weight-bold">
                <td class="text-success cell-click align-middle" data-toggle="modal" data-target="#modalWorkList" @click="work_list_modal_mode='add'">
                    <i class="fa fa-plus"></i>
                </td>

                <td v-if="customer_form.indexOf('container_2') > 0" colspan=9 class="table-secondary">Total</td>
                <td v-else colspan=8 class="table-secondary">Total</td>

                <td class="text-right table-secondary">{{ drayageTotal|currencyCommas }}</td>
                <td class="text-right table-secondary">{{ gateTotal|currencyCommas }}</td>
            </tr>
            <tr class="text-center table-secondary font-weight-bold">
                <td></td>
                <td v-if="customer_form.indexOf('container_2') > 0" colspan=9>G.Total</td>
                <td v-else colspan=8>G.Total</td>

                <td colspan=2 class="text-right">{{ drayageTotal+gateTotal|currencyCommas }}</td>
            </tr>
        </tbody>
    </table>


    {% endverbatim %}

</div>


<div v-if="invoice" class="modal fade" id="modalInvoiceDetails" tabindex="-1" role="dialog" aria-hidden="true">    
    {% verbatim %}
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title w-100 text-center">Invoice</h2>
                    <button class="close" data-dismiss="modal" aria-label="Close" style="outline: none; ">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-5">
                    <div class="input-group mb-3 container">
                        <div class="input-group-prepend">
                            <span class="input-group-text">YEAR</span>
                        </div>
                        <select class="custom-select" v-model="invoice.customer_week.week.year.year_label" @change="getWeeks">
                            <option v-for="year in year_list" :value="year.year_label">{{ year.year_label }}</option>
                        </select>
                    </div>
                    <div class="input-group container">
                        <div class="input-group-prepend">
                            <span class="input-group-text">WEEK</span>
                        </div>
                        <select class="custom-select" v-model="invoice.customer_week.week.id">
                            <option v-for="week in week_list" :value="week.id">{{ week.week }}</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer px-5 py-3">
                    <button class="btn btn-outline-danger mr-auto" @click="deleteInvoice">Delete</button>
                    <button class="btn btn-primary" @click="editInvoiceWeek">Save</button>
                </div>
            </div>
        </div>
    {% endverbatim %}
</div>
</div>