<div v-if="invoice_details">

    <div class="row my-3">
        <div class="col">
            <a v-if="! table_edit" class="btn btn-primary" :href="'/summary/print/'+invoice_id" target="_blank" >Print</a>
            <button v-if="customer_custom.option == 'oocl' & ! table_edit" class="btn btn-outline-primary"  data-toggle="modal" data-target="#modalReportOocl">Report</button>
      
            <form class="d-inline" v-if="customer_custom.option == 'oocl' & ! table_edit" action="{% url 'summary-oocl-invoice' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="invoice_id" :value="invoice_id">
                <button class="btn btn-outline-primary">ใบแจ้งหนี้</button>
            </form>
            <form class="d-inline" v-if="customer_custom.option == 'damco' & ! table_edit" action="{% url 'summary-damco-invoice' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="invoice_id" :value="invoice_id">
                <button class="btn btn-outline-primary">ค่าใช้จ่าย</button>
            </form>
        </div>

        <div class="col text-center">
            <button v-if="! table_edit" class="btn btn-outline-warning" data-toggle="modal" data-target="#modalInvoiceDetails">Invoice</button>
        </div>

        <div class="col text-right">
            <div v-if="saving" class="mr-2 pt-2 text-secondary d-inline"><i class="fa fa-spinner fa-pulse"></i>&nbsp;Saving</div>

            <button v-if="table_edit" class="btn btn-danger" @click="table_edit=false" :disabled="not_save">Exit</button>
            <button v-if="table_edit" class="btn btn-success " @click="editInvoiceDetails" :disabled="not_save">Save</button>
            <button v-else class="btn btn-info" @click="table_edit=true">Edit</button>
        </div>
    </div>

    <div>
        {% verbatim %}
            <h2 v-if="customer_custom.customer_title" class="text-center">{{ customer_custom.customer_title }}</h2>
            <h2 v-else-if="customer_custom.sub_customer" class="text-center">{{ customer_custom.sub_customer }}</h2>
            <h2 v-else class="text-center">{{ customer_main.name }}</h2>
    
            <table class="mt-3 w-100">
                <tr>
                    <td class="px-1" style="width: 80px;">INV. NO.</td>
                    <td v-if="table_edit" class="px-1" style="width: 180px; background: Cyan;"><input class="form-control text-center p-1" v-model="invoice_data.invoice_no[0]" maxlength="11"></td>
                    <td v-else class="p-1 text-center" style="width: 180px; background: Cyan; font-weight: 750;">{{ invoice_data.invoice_no[0] }}</td>
                    <td class="text-secondary" style="width: 150px;">
                        <template v-if="customer_custom.option=='2_inv'">(Drayage INV.)</template>
                    </td>
                    <td rowspan=2 class="text-center">
                        <div v-if="table_edit" class="input-group col-md-5 container mb-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Customer Name</span>
                            </div>
                            <input class="form-control" v-model="invoice_data.customer_name">
                        </div>
                    </td>

                    <td rowspan=2 class="text-primary text-right" style="width: 400px;">
                        <template v-if="table_edit">
                            <template v-if="customer_custom.option == 'oocl'"><div class="form-inline float-right"><label for="ap_billing_no" class="mr-2">AP BILLING NO :</label><input id="ap_billing_no"  class="form-control text-center p-1 mx-1" v-model="invoice_data.other"></div></template>
                            <template v-else-if="customer_form[1]=='1_diesel_rate'">DIESEL RATE : {{ diesel_rate }}</template>
                            <template v-else-if="customer_form[1]=='1_job_no_out'"><div class="form-inline float-right"><label for="job_no" class="mr-2">JOB NO :</label><input id="job_no" class="form-control text-center p-1 mx-1" v-model="invoice_data.other"></div></template>
                            <div v-else class="col-md-10 float-right">
                                <input class="form-control text-center p-1" v-model="invoice_data.other">
                            </div>
                        </template>
                        <template v-else>
                            <template v-if="customer_custom.option == 'oocl'"><div class="form-inline float-right"><label class="mr-2">AP BILLING NO :</label>{{ invoice_data.other }}</div></template>
                            <template v-else-if="customer_form[1]=='1_diesel_rate'">DIESEL RATE : {{ diesel_rate }}</template>
                            <template v-else-if="customer_form[1]=='1_job_no_out'"><div class="form-inline float-right"><label class="mr-2">JOB NO :</label>{{ invoice_data.other }}</div></template>
                            <template v-else>{{ invoice_data.other }}</template>
                        </template>
                    </td>
                </tr>

                <tr v-if="customer_custom.option=='2_inv'">
                    <td class="px-1" style="width: 80px;">INV. NO.</td>
                    <td v-if="table_edit" class="px-1" style="width: 180px; background: Cyan;"><input class="form-control text-center p-1" v-model="invoice_data.invoice_no[1]" maxlength="11"></td>
                    <td v-else class="px-1 text-center" style="width: 180px; background: Cyan; font-weight: 750;">{{ invoice_data.invoice_no[1] }}</td>
                    <td class="text-secondary" style="width: 150px;">(Gate INV.)</td>
                </tr>
            </table>
    
            <table class="table table-hover table-bordered table-bordered-dark table-light">
                <thead class="text-center table-secondary">
                    <tr>
                        <th v-if="! table_edit" rowspan=2 class="border-dark align-middle"></th>
                        <th rowspan=2 class="border-dark align-middle" style="width: 40px;">Item</th>
                        <th rowspan=2 class="border-dark align-middle">
                            Customer Name
                        </th>
                        <th rowspan=2 class="border-dark align-middle">
                            {{ booking_field[customer_form[0]] }}
                        </th>

                        <th colspan=2 class="border-dark align-middle py-1">
                            Vessel/Truck Routing
                        </th>
                        
                        <th rowspan=2 class="border-dark align-middle">
                            Date
                        </th>
                        <th rowspan=2 class="border-dark align-middle">
                            Container No.1
                        </th>
                        <th rowspan=2 v-if="customer_form.indexOf('container_2') > 0" class="border-dark align-middle">
                            Container No.2
                        </th>
                        <th rowspan=2 class="border-dark align-middle">
                            Size
                        </th>
                        <th rowspan=2 class="border-dark align-middle">
                            Drayage Charge
                        </th>

                        <th rowspan=2 v-if="customer_form[3]=='3_gate_charge'" class="border-dark align-middle">
                            Gate Charge
                        </th>
                        <th rowspan=2 v-if="customer_form[3]=='3_agent'" class="border-dark align-middle">
                            Agent
                        </th>
                        
                        <th rowspan=2 v-if="customer_form[2]=='2_remark'" class="border-dark align-middle">
                            Remark<template v-if="customer_custom.option=='2_inv'"><br>(Drayage)</template>
                        </th>
                        <th rowspan=2 v-if="customer_form[2]=='2_job_no'" class="border-dark align-middle">
                            <span class="text-nowrap">Job No.</span>
                        </th>
                        <th rowspan=2 v-if="customer_form[2]=='2_truck'" class="border-dark align-middle">
                            TRUCK
                        </th>

                        <th rowspan=2 v-if="customer_custom.option=='2_inv'" class="border-dark align-middle">
                            Remark<br>(Gate)
                        </th>
                        <th rowspan=2 class="align-middle table-light" v-if="customer_main.work_type=='agent-transport'">
                            NOTE
                        </th>
                        <th rowspan=2 class="align-middle table-light">
                            NOTE
                        </th>
                        <th v-if="table_edit" rowspan=2 class="table-light"></th>
                    </tr>
                    <tr>
                        <th class="border-dark align-middle py-1" style="width: 120px;">
                            From
                        </th>
                        <th class="border-dark align-middle py-1" style="width: 120px;">
                            To
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <template v-if="inv_detail.work" v-for="(inv_detail, index) in invoice_detail_list">
                        <tr class="text-center">
                            <td v-if="! table_edit" class="align-middle p-1" >
                                <button class="btn btn-sm btn-outline-danger" @click="deleteInvoiceDetail(inv_detail.id)"><i class="fa fa-trash-alt"></i></button>
                            </td>
                            <td class="align-middle">
                                {{ index + 1 }}
                            </td>

                            <td v-if="invoice_data.customer_name" class="text-left align-middle">
                                {{ invoice_data.customer_name }}
                            </td>
                            <td v-else-if="inv_detail.work.shipper.name" class="text-left align-middle">
                                {{ inv_detail.work.shipper.name }}
                            </td>
                            <td v-else></td>
                            
                            <td class="align-middle px-1">
                                <template v-if="table_edit">
                                    <div v-if="index==0 && customer_custom.option=='time_remark'" class="input-group">
                                        <input type="text" class="form-control text-center" style="padding: 2px 4px; width: 200px; " 
                                            maxlength="150"
                                            v-model="inv_detail.work.booking_no" 
                                            :id="'0-'+index" @keydown="keyDownArrow(0, index)"
                                        >
                                        <div class="input-group-append">
                                            <button class="btn btn-sm btn-outline-secondary"
                                                style="padding: 4px;"
                                                @click="copyToAll(inv_detail.work.booking_no, 'work', 'booking_no')"
                                            >
                                            <i class="fa fa-clone"></i></button>
                                        </div>
                                    </div>
                                    <input v-else class="form-control text-center" style="width: 200px; margin: auto;"
                                        maxlength="150"
                                        v-model="inv_detail.work.booking_no" 
                                        :id="'0-'+index" @keydown="keyDownArrow(0, index)"
                                    > 
                                </template>
                                <template v-else>
                                    {{ inv_detail.work.booking_no }}
                                </template>
                            </td>

                            <td class="align-middle">
                                <input v-if="table_edit" class="form-control text-center" v-model="inv_detail.work.pickup_from" maxlength="25" :id="'1-'+index" @keydown="keyDownArrow(1, index)"> 
                                <template v-else>
                                    {{ inv_detail.work.pickup_from }}
                                </template>
                            </td>

                            <td class="align-middle">
                                <input v-if="table_edit" class="form-control text-center" v-model="inv_detail.work.return_to" maxlength="25" :id="'2-'+index" @keydown="keyDownArrow(2, index)"> 
                                <template v-else>
                                    {{ inv_detail.work.return_to }}
                                </template>
                            </td>

                            <td class="align-middle">
                                {{ inv_detail.work.date|formatDate }}
                            </td>

                            <template v-if="customer_type == 'agent-transport'">
                                <td class="text-center align-middle" :class="container_color[inv_detail.detail.color1]">
                                    <div v-if="table_edit" class="input-group">
                                        <input type="text" class="form-control text-center" style="padding: 2px 4px; width: 150px; margin: auto;"
                                            :id="'3-'+index" @keydown="keyDownArrow(3, index)"
                                            v-model="inv_detail.work.container_1" maxlength="50"
                                        >
                                        <div class="input-group-append">
                                            <button class="btn btn-sm btn-outline-secondary"
                                                style="padding: 4px;"
                                                @click="checkContainer(inv_detail.id, inv_detail.detail.color1, 1)"
                                            >
                                            <i class="fa fa-check"></i></button>
                                        </div>
                                    </div>
                                    <template v-else>
                                        {{ inv_detail.work.container_1 }}
                                    </template>
                                </td>

                                <td v-if="customer_form.indexOf('container_2') > 0" class="text-center align-middle" :class="container_color[inv_detail.detail.color2]">
                                    <div v-if="inv_detail.work.size.indexOf('X') > -1">
                                        <div v-if="table_edit" class="input-group">
                                            <input type="text" class="form-control text-center" style="padding: 2px 4px; width: 150px; margin: auto;"
                                                :id="'4-'+index" @keydown="keyDownArrow(4, index)"
                                                v-model="inv_detail.work.container_2" maxlength="50"
                                            >
                                            <div class="input-group-append">
                                                <button class="btn btn-sm btn-outline-secondary"
                                                    style="padding: 4px;"
                                                    @click="checkContainer(inv_detail.id, inv_detail.detail.color2, 2)"
                                                >
                                                <i class="fa fa-check"></i></button>
                                            </div>
                                        </div>
                                        <template v-else>
                                            {{ inv_detail.work.container_2 }}
                                        </template>
                                    </div>
                                </td>
                            </template>
                            <template v-else>
                                <td class="text-center align-middle" :class="container_color[inv_detail.detail.color1]">
                                    <div v-if="table_edit" class="input-group">
                                        <input type="text" class="form-control text-center" style="padding: 2px 4px; width: 150px; margin: auto;"
                                            :id="'3-'+index" @keydown="keyDownArrow(3, index)"
                                            v-model="inv_detail.work.container_no" maxlength="50"
                                        >
                                        <div class="input-group-append">
                                            <button class="btn btn-sm btn-outline-secondary"
                                                style="padding: 4px;"
                                                @click="checkContainer(inv_detail.id, inv_detail.detail.color1, 1)"
                                            >
                                            <i class="fa fa-check"></i></button>
                                        </div>
                                    </div>
                                    <template v-else>
                                        {{ inv_detail.work.container_no }}
                                    </template>
                                </td>
                                <td v-if="customer_form.indexOf('container_2') > 0" class="text-center align-middle" >
                                    <input v-if="table_edit" class="form-control text-center" 
                                        :id="'4-'+index" @keydown="keyDownArrow(4, index)"
                                        readonly
                                    > 
                                </td>
                            </template>

                            <td class="align-middle">
                                <select v-if="table_edit" class="custom-select size" 
                                    :id="customer_form.indexOf('container_2') > 0 ? '5-'+index : '4-'+index" 
                                    @keydown="customer_form.indexOf('container_2') > 0 ? keyDownArrow(5, index) : keyDownArrow(4, index)" 
                                    v-model="inv_detail.work.size"
                                >
                                    <option value=""> -------- </option>
                                    <option value="20'">20'</option>
                                    <option value="20'RF">20'RF</option>
                                    <option value="20'OT">20'OT</option>
                                    <option value="20'TK">20'TK</option>
                                    <option value="40'">40'</option>
                                    <option value="40'HC">40'HC</option>
                                    <option value="40'OT">40'OT</option>
                                    <option value="40'GOH">40'GOH</option>
                                    <option value="40'RF">40'RF</option>
                                    <option value="40'FL">40'FL</option>
                                    <option value="45'">45'</option>
                                    <option value="" disabled> -------- </option>
                                    <option value="2X20'">2X20'</option>
                                    <option value="2X20'RF">2X20'RF</option>
                                </select>   
                                <template v-else>
                                    <template v-if="inv_detail.work.size">
                                        <template v-if="inv_detail.work.size.indexOf('X') == -1">1X</template>{{ inv_detail.work.size }}
                                    </template>
                                </template>               
                            </td>

                            <td class="text-right align-middle">
                                <template v-if="table_edit">
                                    <div v-if="index==0" class="input-group">
                                        <input type="text" class="form-control text-center" style="padding: 2px 4px;" 
                                            v-model="inv_detail.drayage_charge.drayage" 
                                            :id="customer_form.indexOf('container_2') > 0 ? '6-'+index : '5-'+index" 
                                            @keydown="customer_form.indexOf('container_2') > 0 ? keyDownArrow(6, index) : keyDownArrow(5, index)"
                                        >
                                        <div class="input-group-append">
                                            <button class="btn btn-sm btn-outline-secondary"
                                                style="padding: 4px;"
                                                @click="copyToAll(inv_detail.drayage_charge.drayage, 'drayage_charge', 'drayage')"
                                            >
                                            <i class="fa fa-clone"></i></button>
                                        </div>
                                    </div>
                                    <input v-else class="form-control text-center" 
                                        v-model="inv_detail.drayage_charge.drayage" 
                                        :id="customer_form.indexOf('container_2') > 0 ? '6-'+index : '5-'+index" 
                                        @keydown="customer_form.indexOf('container_2') > 0 ? keyDownArrow(6, index) : keyDownArrow(5, index)"
                                    > 
                                </template>
                                <template v-else>
                                    {{ eval(inv_detail.drayage_charge.drayage)|currencyCommas }}
                                </template>
                            </td>

                            <td v-if="customer_form[3]=='3_gate_charge'" class="text-right align-middle">
                                <input v-if="table_edit" class="form-control text-center" 
                                    v-model="inv_detail.gate_charge.gate" 
                                    :id="customer_form.indexOf('container_2') > 0 ? '7-'+index : '6-'+index" 
                                    @keydown="customer_form.indexOf('container_2') > 0 ? keyDownArrow(7, index) : keyDownArrow(6, index)"
                                > 
                                <template v-else>
                                    {{ eval(inv_detail.gate_charge.gate)|currencyCommas }}
                                </template>
                            </td>

                            <td v-if="customer_form[3]=='3_agent'" class="text-center align-middle">
                                <input v-if="table_edit" class="form-control text-center" 
                                    v-model="inv_detail.work.agent" 
                                    :id="customer_form.indexOf('container_2') > 0 ? '7-'+index : '6-'+index" 
                                    @keydown="customer_form.indexOf('container_2') > 0 ? keyDownArrow(7, index) : keyDownArrow(6, index)"
                                > 
                                <template v-else>
                                    {{ inv_detail.work.agent }}
                                </template>
                            </td>

                            <td class="text-primary align-middle">
                                <template v-if="table_edit">
                                    <div v-if="index==0" class="input-group">
                                        <input type="text" class="form-control text-center" style="padding: 2px 4px;" 
                                            v-model="inv_detail.detail.remark" 
                                            :id="customer_form.indexOf('container_2') > 0 ? '8-'+index : '7-'+index" 
                                            @keydown="customer_form.indexOf('container_2') > 0 ? keyDownArrow(8, index) : keyDownArrow(7, index)"
                                        >
                                        <div class="input-group-append">
                                            <button class="btn btn-sm btn-outline-secondary"
                                                style="padding: 4px;"
                                                @click="copyToAll(inv_detail.detail.remark, 'detail', 'remark')"
                                            >
                                            <i class="fa fa-clone"></i></button>
                                        </div>
                                    </div>
                                    <input v-else class="form-control text-center" 
                                        v-model="inv_detail.detail.remark" 
                                        :id="customer_form.indexOf('container_2') > 0 ? '8-'+index : '7-'+index" 
                                        @keydown="customer_form.indexOf('container_2') > 0 ? keyDownArrow(8, index) : keyDownArrow(7, index)"
                                    > 
                                </template>
                                <template v-else>
                                    {{ inv_detail.detail.remark }}
                                </template>
                            </td>

                            <td v-if="customer_custom.option=='2_inv'" class="text-primary align-middle">
                                <input v-if="table_edit" class="form-control text-center" v-model="inv_detail.detail.remark_gate" > 
                                <template v-else>
                                    {{ inv_detail.detail.remark_gate }}
                                </template>
                            </td>

                            <td class="align-middle text-danger border-light" v-if="customer_main.work_type=='agent-transport'">
                                {{ inv_detail.work.pickup_tr }}<template v-if="inv_detail.work.pickup_tr!=inv_detail.work.return_tr">/{{ inv_detail.work.return_tr }}</template>
                            </td>

                            <td class="border-light align-middle" :class="{'bg-processing': inv_detail.detail.note}">
                                <input v-if="table_edit" class="form-control text-center" 
                                    v-model="inv_detail.detail.note" 
                                    :id="customer_form.indexOf('container_2') > 0 ? '9-'+index : '8-'+index" 
                                    @keydown="customer_form.indexOf('container_2') > 0 ? keyDownArrow(9, index) : keyDownArrow(8, index)"
                                > 
                                <template v-else>
                                    {{ inv_detail.detail.note }}
                                </template>
                            </td>

                            <td v-if="table_edit" class="align-middle border-light p-1">
                                <button class="btn btn-sm btn-outline-primary" @click="addOtherCharge(inv_detail.id)">
                                    <i class="fa fa-angle-down"></i>
                                </button>
                            </td>
                        </tr>

                        <tr v-if="inv_detail.drayage_charge.other.length" 
                            v-for="(other, other_index) in inv_detail.drayage_charge.other" 
                            class="text-center bg-light" :class="{'text-primary': other.color==1, 'text-danger': other.color==0}"
                        >

                            <td v-if="! table_edit"></td>
                            <td class="align-middle">
                                {{ index + 1 }}.{{ other_index+1 }}
                            </td>
                    
                            <td v-if="invoice_data.customer_name" class="text-left align-middle">
                                {{ invoice_data.customer_name }}
                            </td>
                            <td v-else class="text-left align-middle">
                                {{ inv_detail.work.shipper.name }}
                            </td>
                            <td class="align-middle">
                                {{ inv_detail.work.booking_no }}
                            </td>
                            <td class="align-middle">
                                {{ inv_detail.work.pickup_from }}
                            </td>
                            <td class="align-middle">
                                {{ inv_detail.work.return_to }}
                            </td>
                            <td class="align-middle">
                                {{ inv_detail.work.date|formatDate }}
                            </td>

                            <template v-if="customer_type == 'agent-transport'">
                                <td class="text-center align-middle">
                                    {{ inv_detail.work.container_1 }}
                                </td>
                                <td v-if="customer_form.indexOf('container_2') > 0" class="text-center align-middle">
                                    {{ inv_detail.work.container_2 }}
                                </td>
                            </template>
                            <template v-else>
                                <td class="text-center align-middle">
                                    {{ inv_detail.work.container_no }}
                                </td>
                                <td v-if="customer_form.indexOf('container_2') > 0">
                                
                                </td>
                            </template>

                            <td class="align-middle">
                                <template v-if="inv_detail.work.size">
                                    <template v-if="inv_detail.work.size.indexOf('X') == -1">1X</template>{{ inv_detail.work.size }}
                                </template>
                            </td>

                            <td class="text-right align-middle">
                                <input v-if="table_edit" class="form-control text-center" v-model="other.other_charge"> 
                                <template v-else>
                                    {{ eval(other.other_charge)|currencyCommas }}
                                </template>
                            </td>

                            <td v-if="customer_form[3]=='3_gate_charge'" class="text-right align-middle">
                                -
                            </td>

                            <td v-if="customer_form[3]=='3_agent'" class="text-center align-middle">
                                {{ inv_detail.work.agent }}
                            </td>

                            <td class="align-middle">
                                <input v-if="table_edit" class="form-control text-center" v-model="other.other_remark" > 
                                <template v-else>
                                    {{ other.other_remark }}
                                </template>
                            </td>

                            <td v-if="customer_custom.option=='2_inv'" class="text-primary align-middle">
                                -
                            </td>

                            <td v-if="customer_main.work_type=='agent-transport'" class="border-light"></td>

                            <td class="border-light align-middle">
                                <div v-if="table_edit" class="btn-group">
                                    <button class="btn btn-lg" :class="{'btn-outline-danger': other.color=='1', 'btn-danger': other.color=='0' }" @click="textColorOtherCharge(inv_detail.id, other_index, 0)"></button>
                                    <button class="btn btn-lg" :class="{'btn-outline-primary': other.color=='0', 'btn-primary': other.color=='1' }" @click="textColorOtherCharge(inv_detail.id, other_index, 1)"></button>
                                </div>
                            </td>

                            <td v-if="table_edit" class="align-middle border-light p-1">
                                <button class="btn btn-sm btn-outline-danger" @click="removeOtherCharge(inv_detail.id, other_index)">
                                    <i class="fa fa-angle-up"></i>
                                </button>
                            </td>
                        </tr>
                    </template>

                    <tr class="text-center font-weight-bold">
                        <td v-if="! table_edit" class="align-middle p-1">
                            <button class="btn btn-sm btn-outline-success" data-toggle="modal" data-target="#modalWorkList" @click="work_list_modal_mode='add'">
                                <i class="fa fa-plus"></i>
                            </button>
                        </td>

                        <td v-if="customer_form.indexOf('container_2') > 0" colspan=9 class="table-secondary align-middle">Total</td>
                        <td v-else colspan=8 class="table-secondary align-middle">Total</td>

                        <td class="text-right table-secondary align-middle" :class="{'alert-warning': drayageTotal != invoice.drayage_total}">{{ drayageTotal|currencyCommas }}</td>

                        <td v-if="customer_form[3]=='3_gate_charge'"
                            class="text-right table-secondary align-middle"
                            :class="{'alert-warning': gateTotal != invoice.gate_total}"
                        >   
                            {{ gateTotal|currencyCommas }}
                        </td>
                        <td v-else class="text-right table-secondary">
                            -
                        </td>

                        <td class="table-secondary"></td>
                        <td v-if="customer_custom.option == '2_inv'" class="table-secondary"></td>
                    </tr>

                    <tr class="text-center table-secondary font-weight-bold">
                        <td v-if="! table_edit"></td>
                        <td v-if="customer_form.indexOf('container_2') > 0" colspan=9 class="align-middle">G.Total</td>
                        <td v-else colspan=8 class="align-middle">G.Total</td>

                        <td v-if="customer_form[3]=='3_gate_charge'" colspan=2 class="text-right align-middle">{{ drayageTotal+gateTotal|currencyCommas }}</td>
                        <td v-else colspan=2 class="text-right align-middle">{{ drayageTotal|currencyCommas }}</td>
                        <td></td>
                        <td v-if="customer_custom.option == '2_inv'"></td>
                    </tr>
                </tbody>
            </table>
        {% endverbatim %}
    </div>

    <div v-if="invoice" class="modal fade" id="modalInvoiceDetails" tabindex="-1" role="dialog" aria-hidden="true">    
        {% verbatim %}
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title w-100 text-center">Invoice</h2>
                        <button class="close" data-dismiss="modal" aria-label="Close" style="outline: none; ">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-5">
                        <div class="input-group mb-3 container">
                            <div class="input-group-prepend">
                                <span class="input-group-text">YEAR</span>
                            </div>
                            <select class="custom-select" v-model="invoice.customer_week.week.year.year_label" @change="getWeeks">
                                <option v-for="year in year_list" :value="year.year_label">{{ year.year_label }}</option>
                            </select>
                        </div>
                        <div class="input-group container">
                            <div class="input-group-prepend">
                                <span class="input-group-text">WEEK</span>
                            </div>
                            <select class="custom-select" v-model="invoice.customer_week.week.id">
                                <option v-for="week in week_list" :value="week.id">{{ week.week }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer px-5 py-3">
                        <button class="btn btn-outline-danger mr-auto" @click="deleteInvoice">Delete</button>
                        <button class="btn btn-primary" @click="editInvoiceWeek">Save</button>
                    </div>
                </div>
            </div>
        {% endverbatim %}
    </div>

    <!-- OOCL report modal -->
    <div v-if="customer_custom.option == 'oocl'" class="modal fade" id="modalReportOocl" tabindex="-1" role="dialog" aria-hidden="true">    
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form ref="reportOocl" method="POST" action="{% url 'summary-oocl-report' %}">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h2 class="modal-title w-100 text-center">Report</h2>
                        <button class="close" data-dismiss="modal" aria-label="Close" style="outline: none; ">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-5">
                        <div class="input-group mb-3 container">
                            <div class="input-group-prepend">
                                <span class="input-group-text">REPORT OOCL</span>
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text">(</span>
                            </div>
                            {% verbatim %}
                                <input type="hidden" name="invoice_id" :value="invoice.id">
                            {% endverbatim %}
                            <input class="form-control text-center" name="report_name" required>
                            <div class="input-group-append">
                                <span class="input-group-text">)</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer px-5 py-3">
                        <button class="btn btn-primary">Export</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>