<div class="modal fade" id="modalWorkList" tabindex="-1" role="dialog" aria-hidden="true">    
    {% verbatim %}
        <div class="modal-dialog" role="document" style="min-width: 85%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title w-100 text-center">Select Works</h2>
                    <button class="close" data-dismiss="modal" aria-label="Close" style="outline: none;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body px-5 py-4">
                    <div class="input-group col-md-4 container mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-filter"></i></span>
                        </div>
                        <input class="form-control" v-model="filter_work" placeholder="Filter by Shipper / Booking No. / Container No.">
                    </div>
                    <table v-if="work_list.length" class="table table-bordered table-hover" style="font-size: 14px;">
                        <thead class="text-center">
                            <th>
                                <div v-if="! table_edit" class="custom-control custom-checkbox d-inline">
                                    <input type="checkbox" class="custom-control-input" id="work_all" v-model="selected_all" @change="selectAllWork">
                                    <label class="custom-control-label" for="work_all">(&nbsp;{{ work_selected.length }}&nbsp;)</label>
                                </div>
                            </th>
                            <th>Time</th>
                            <th>Date</th>
                            <th v-if="customer_type == 'agent-transport'"></th>
                            <th>Shipper</th>
                            <th>Agent</th>
                            <th>Booking</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Container 1</th>
                            <th v-if="customer_type == 'agent-transport'">Container 2</th>
                            <th>Seal no</th>
                            <th>Size</th>
                            <th>Remark</th>
                            <th>เลขที่ใบงาน</th>
                        </thead>
                        <tbody>
                            <tr v-for="(work, index) in filteredWork" 
                                :class="{'bg-light text-secondary': work.summary_status=='1', 'table-primary': work_selected.includes(work.id)}"
                            >
                                <td class="text-center align-middle" @click="selectWork(work.id, work.summary_status)">
                                    <div class="m-0 custom-control custom-checkbox">
                                        <input type="checkbox" class="form-check-input" :id="'work'+ index" v-model="work_selected" :value="work.id" :disabled="work.summary_status=='1'">
                                    </div>
                                </td>
                                <td class="text-center">
                                    {{ work.time }}
                                </td>
                                <td class="text-center"
                                    :class="{'table-danger': work.date<summary_invoice.summary_week.date_start, 'table-warning': work.date>summary_invoice.summary_week.date_end}"
                                >
                                    {{ work.date|formatDate }}
                                </td>
                                <td v-if="customer_type == 'agent-transport'" class="text-center text-primary">
                                    <span v-if="work.operation_type == 'export_loaded'">
                                        ตู้หนักไป
                                    </span>
                                    <span v-else-if="work.operation_type == 'import_loaded'">
                                        ตู้หนักกลับ
                                    </span>
                                    <span v-else-if="work.operation_type == 'export_empty'">
                                        ตู้เปล่าไป
                                    </span>
                                    <span v-else-if="work.operation_type == 'import_empty'">
                                        ตู้เปล่ากลับ
                                    </span>
                                </td>

                                <td v-if="work.shipper" style="max-width: 250px;">{{ work.shipper.name }}</td>
                                <td v-else></td>

                                <td class="text-center">{{ work.agent }}</td>
                                <td class="text-center" style="max-width: 150px;">{{ work.booking_no }}</td>
                                <td class="text-center">{{ work.pickup_from }}</td>
                                <td class="text-center">{{ work.return_to }}</td>
                                
                                <template v-if="customer_type == 'agent-transport'">
                                    <td class="text-center" style="font-weight: 800;">{{ work.container_1 }}</td>
                                    <td class="text-center" style="font-weight: 800;">{{ work.container_2 }}</td>
                                </template>
                                <td v-else class="text-center" style="font-weight: 800;">{{ work.container_no }}</td>

                                <td class="text-center" style="font-weight: 800;">{{ work.seal_no }}</td>
                                <td class="text-center">{{ work.size }}</td>
                                <td class="text-center" style="max-width: 150px;">{{ work.remark }}</td>
                                <td class="text-center">{{ work.work_id }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <div class="modal-footer px-5 py-3">
                    <button v-if="work_list_modal_mode=='create'" class="btn btn-primary" @click="addNewInvoice" :disabled="work_selected.length == 0">Create</button>
                    <button v-else class="btn btn-primary" @click="addInvoiceDetails(invoice)" :disabled="work_selected.length == 0">Add</button>
                </div>
            </div>
        </div>
    {% endverbatim %}
</div>