<div v-if="loading==false" id="table-cont" class="w-100" :class="{ 'table-cont': agent_transports.length }">
    {% verbatim %}
        <table v-if="agent_transports.length" class="table-hover w-100">
            <thead class="text-nowrap bg-lightgray"> 
                <th>STATUS</th>
                <th></th>
                <th>PRICE</th>
                <th>DATE</th>
                <th><div class="long-text-40">PRINCIPAL</div></th>
                <th class="px-4">SHIPPER</th>
                <th class="px-5">AGENT</th>
                <th>SIZE</th>
                <th class="px-4">BOOKING</th>
                <th class="p-0" style="min-width: 15px;"></th>

                <th>TR</th>
                <th>FM</th>
                <th>TR</th>
                <th>TO</th>

                <th class="px-3">CONTAINER 1</th>
                <th class="px-3">CONTAINER 2</th>

                <th class="px-5">REMARK</th>
                <th class="px-4">เลขที่ใบงาน</th>
            </thead> 

            <tbody>
                <template v-for="(agent_transport, index) in agent_transports">
                    <tr 
                        :class="{'bg-secondary':agent_transport.status==0, 'table-warning': ['1', '3', '4'].includes(agent_transport.status) }" 
                        :key="agent_transport.id"
                    >
                        <td>
                            <select class="custom-select status py-1 px-2" v-model="agent_transport.status" :id="'0-'+index" @keydown="keyDownArrow(0, index)" @change="editData(agent_transport)">
                                <option value="1"> - </option>
                                <option value="3"> Pickup </option>
                                <option value="4"> Return </option>
                                <option value="2"> Completed </option>
                                <option value="0"> Cancel </option>
                            </select>
                        </td>

                        <td>
                            <select class="custom-select status py-1 px-2" v-model="agent_transport.operation_type" :id="'1-'+index" @keydown="keyDownArrow(1, index)" @change="editData(agent_transport)">
                                <option value=""> -------- </option>
                                <option value="export_loaded"> ตู้หนักไป </option>
                                <option value="import_loaded"> ตู้หนักกลับ </option>
                                <option value="export_empty"> ตู้เปล่าไป </option>
                                <option value="import_empty"> ตู้เปล่ากลับ </option>
                            </select>
                        </td>

                        <td>
                            <input v-if="agent_transport.price != '0.00'" type="number" class="form-control" min=0 v-model="agent_transport.price" :id="'2-'+index" @keydown="keyDownArrow(2, index)" @change="editData(agent_transport)">
                            <input v-else type="number" class="form-control" min=0 v-model="agent_transport.price" :value="agent_transport.price=0" :id="'2-'+index" @keydown="keyDownArrow(2, index)" @change="editData(agent_transport)">
                        </td>

                        <td><input type="date" class="form-control" v-model="agent_transport.date" :id="'3-'+index" @keydown="keyDownArrow(3, index)"  @change="editData(agent_transport)" required></td>

                        <td v-if="agent_transport.principal" class="px-1 text-left"><div class="long-text-40">{{ agent_transport.principal.name }}</div></td>
                        <td v-else></td>

                        <td v-if="agent_transport.principal">
                            <select class="custom-select shipper" v-model="agent_transport.shipper" @change="editData(agent_transport)" :id="'4-'+index" @keydown="keyDownArrow(4, index)">
                                <option v-for="shipper in filterEditShipper(agent_transport.principal.id)" :value="shipper">{{ shipper.name }}</option>
                            </select>
                        </td>
                        <td v-else></td>

                        <td><input name="agent" class="form-control" v-model="agent_transport.agent" maxlength="100" :id="'5-'+index" @keydown="keyDownArrow(5, index)" @change="editData(agent_transport)"></td>

                        <td>
                            <select class="custom-select size" v-model="agent_transport.size" :id="'6-'+index" @keydown="keyDownArrow(6, index)" @change="editData(agent_transport)">
                                <option value=""> -------- </option>
                                <option value="20'">20'</option>
                                <option value="20'RF">20'RF</option>
                                <option value="20'OT">20'OT</option>
                                <option value="20'GOH">20'GOH</option>
                                <option value="20'TK">20'TK</option>
                                <option value="40'">40'</option>
                                <option value="40'HC">40'HC</option>
                                <option value="40'RF">40'RF</option>
                                <option value="40'OT">40'OT</option>
                                <option value="40'GOH">40'GOH</option>
                                <option value="40'FL">40'FL</option>
                                <option value="45'">45'</option>
                                <option value="" disabled> -------- </option>
                                <option value="2X20'">2X20'</option>
                                <option value="2X20'RF">2X20'RF</option>
                            </select>
                        </td>

                        <td v-if="agent_transport.status == '0'" style="min-width:150px;" class="bg-secondary">
                            <input class="form-control" v-model="agent_transport.booking_no" maxlength="150" autocomplete=off :id="'7-'+index" @keydown="keyDownArrow(7, index)" @change="editData(agent_transport)">
                        </td>
                        <td v-else style="min-width:150px;" :style="{ 'background-color': agent_transport.color }">
                            <input class="form-control" v-model="agent_transport.booking_no" maxlength="150" autocomplete=off :id="'7-'+index" @keydown="keyDownArrow(7, index)" @change="editData(agent_transport)">                            
                        </td>

                        <td class="p-0" style="min-width: 15px; font-size:8px;">{{ agent_transport.num }}</td>

                        <td v-if="agent_transport.status != '1'" :class="{ 'bg-secondary': agent_transport.status == '0', 'bg-lime': parseInt(agent_transport.status) > 1 }">
                            <input class="form-control" v-model="agent_transport.pickup_tr" maxlength="15" :id="'8-'+index" @keydown="keyDownArrow(8, index)" @change="editData(agent_transport)">
                        </td>
                        <td v-else :class="{ 'bg-cyan': agent_transport.pickup_tr }">
                            <input class="form-control" v-model="agent_transport.pickup_tr" maxlength="15" :id="'8-'+index" @keydown="keyDownArrow(8, index)" @change="editData(agent_transport)">
                        </td>

                        <td><input name="pickup_from" class="form-control" v-model="agent_transport.pickup_from" maxlength="25" :id="'9-'+index" @keydown="keyDownArrow(9, index)" @change="editData(agent_transport)"></td>
                        
                        <td v-if="['0', '2', '4'].includes(agent_transport.status)" :class="{ 'bg-secondary': agent_transport.status == '0', 'bg-lime': ['2', '4'].includes(agent_transport.status) }">
                            <input class="form-control" v-model="agent_transport.return_tr" maxlength="15" :id="'10-'+index" @keydown="keyDownArrow(10, index)" @change="editData(agent_transport)">
                        </td>
                        <td v-else :class="{ 'bg-cyan': agent_transport.return_tr }">
                            <input class="form-control" v-model="agent_transport.return_tr" maxlength="15" :id="'10-'+index" @keydown="keyDownArrow(10, index)" @change="editData(agent_transport)">
                        </td>

                        <td><input name="return_to" class="form-control" v-model="agent_transport.return_to" maxlength="25" :id="'11-'+index" @keydown="keyDownArrow(11, index)" @change="editData(agent_transport)"></td>
                        
                        <td :class="[{'bg-secondary':agent_transport.status==0}, container_color[agent_transport.detail.container_1]]">
                            <input class="form-control" style="font-weight: 800;" v-model="agent_transport.container_1" maxlength="50" autocomplete=off :id="'12-'+index" @keydown="keyDownArrow(12, index)" @change="editData(agent_transport)">
                        </td>
                        <td :class="[{'bg-secondary':agent_transport.status==0}, container_color[agent_transport.detail.container_2]]">
                            <input class="form-control" style="font-weight: 800;" v-model="agent_transport.container_2" maxlength="50" autocomplete=off :id="'13-'+index" @keydown="keyDownArrow(13, index)" @change="editData(agent_transport)">
                        </td>

                        <td><textarea class="form-control text-center" rows="1" style="padding: 2px 4px; font-size: 11px;" v-model="agent_transport.remark" maxlength="250" :id="'14-'+index" @keydown="keyDownArrow(14, index)" @change="editData(agent_transport)"></textarea></td>

                        <td class="text-nowrap">{{ agent_transport.work_id }}</td>
                    </tr>

                    <tr v-if="index == agent_transports.length-1">
                        <td colspan=19 class="bg-dark"></td>
                    </tr>
                    <tr
                        v-else-if="agent_transport.date != agent_transports[index+1].date | agent_transport.work_type != agent_transports[index+1].work_type | agent_transport.shipper.id != agent_transports[index+1].shipper.id"
                    >
                        <td colspan=19 class="bg-dark"></td>
                    </tr>
                </template>
            </tbody>
        </table>

        <div v-else>
            <h1 class="text-center text-secondary mt-3"> ไม่พบข้อมูล </h1>
        </div>
    {% endverbatim %}
</div>

<div v-else class="container position-relative">
    <div class="position-absolute" style="top: -10%; left:50%; transform: translate(-50%, 10%); color: lightgray;">
        <h1 class="text-center" style="font-size: 300%;"><i class="fa fa-spinner fa-pulse fa-4x mb-5"></i></h1>
    </div>
</div>
