<div v-if="loading==false" id="table-cont" class="w-100" :class="{ 'table-cont': agent_transports.length }">
    {% verbatim %}
    
        <table v-if="agent_transports.length" class="table-hover w-100">
            <thead class="text-nowrap bg-lightgray"> 
                <th>STATUS</th>
                <th>DATE</th>
                <th class="px-4">PRINCIPAL</th>
                <th class="px-4">SHIPPER</th>
                <th class="px-5">AGENT</th>
                <th>SIZE</th>
                <th class="px-4">BOOKING</th>

                <th>TR</th>
                <th>FM</th>
                <th>TR</th>
                <th>TO</th>

                <th class="px-3">CONTAINER 1</th>
                <th class="px-3">CONTAINER 2</th>

                <th class="px-5">REMARK</th>
                <th class="px-4">เลขที่ใบงาน</th>
            </thead> 

            <tbody>

                <tr v-for="(agent_transport, index) in agent_transports" :class="{'bg-secondary':agent_transport.status==0, 'alert-warning': agent_transport.status == '1' }" :key="agent_transport.id">
                    <td>
                        <select class="custom-select status py-1 px-2" v-model="agent_transport.status" :id="'0-'+index" @keydown="keyDownArrow(0, index)" @change="editData(agent_transport)">
                            <option value="1"> - </option>
                            <option value="2"> Finished </option>
                            <option value="0"> Cancel </option>
                        </select>
                    </td>
                    
                    <td><input type="date" class="form-control" v-model="agent_transport.date" :id="'1-'+index" @keydown="keyDownArrow(1, index)"  @change="editData(agent_transport)" required></td>

                    <td v-if="agent_transport.principal" class="px-1 text-left"><div class="long-text">{{ agent_transport.principal.name }}</div></td>
                    <td v-else></td>

                    <td v-if="agent_transport.shipper" class="px-2 text-left" style="min-width:250px;">{{ agent_transport.shipper.name }}</td>
                    <td v-else></td>

                    <td><input class="form-control" v-model="agent_transport.agent" maxlength="50" :id="'2-'+index" @keydown="keyDownArrow(2, index)" @change="editData(agent_transport)"></td>

                    <td>
                        <select class="custom-select size" v-model="agent_transport.size" :id="'3-'+index" @keydown="keyDownArrow(3, index)" @change="editData(agent_transport)">
                            <option value=""> -------- </option>
                            <option value="20'">20'</option>
                            <option value="20'RF">20'RF</option>
                            <option value="40'">40'</option>
                            <option value="40'HC">40'HC</option>
                            <option value="40'OT">40'OT</option>
                            <option value="40'GOH">40'GOH</option>
                            <option value="40'RF">40'RF</option>
                            <option value="45'">45'</option>
                            <option value="" disabled> -------- </option>
                            <option value="2X20'">2X20'</option>
                            <option value="2X20'RF">2X20'RF</option>
                        </select>
                    </td>

                    <td v-if="agent_transport.status == '0'" style="min-width:150px;" class="bg-secondary">
                        <input class="form-control" v-model="agent_transport.booking_no" maxlength="50" autocomplete=off :id="'4-'+index" @keydown="keyDownArrow(4, index)" @change="editData(agent_transport)">
                    </td>
                    <td v-else style="min-width:150px;" :style="{ 'background-color': agent_transport.color }">
                        <input class="form-control" v-model="agent_transport.booking_no" maxlength="50" autocomplete=off :id="'4-'+index" @keydown="keyDownArrow(4, index)" @change="editData(agent_transport)">                            
                    </td>

                    <td v-if="agent_transport.status != '1'" :class="{ 'bg-secondary': agent_transport.status == '0', 'bg-lime': agent_transport.status == '2' }">
                        <input class="form-control" v-model="agent_transport.pickup_tr" maxlength="15" :id="'5-'+index" @keydown="keyDownArrow(5, index)" @change="editData(agent_transport)">
                    </td>
                    <td v-else :class="{ 'bg-cyan': agent_transport.pickup_tr }">
                        <input class="form-control" v-model="agent_transport.pickup_tr" maxlength="15" :id="'5-'+index" @keydown="keyDownArrow(5, index)" @change="editData(agent_transport)">
                    </td>

                    <td><input class="form-control" v-model="agent_transport.pickup_from" maxlength="20" :id="'6-'+index" @keydown="keyDownArrow(6, index)" @change="editData(agent_transport)"></td>
                    
                    <td v-if="agent_transport.status != '1'" :class="{ 'bg-secondary': agent_transport.status == '0', 'bg-lime': agent_transport.status == '2' }">
                        <input class="form-control" v-model="agent_transport.return_tr" maxlength="15" :id="'7-'+index" @keydown="keyDownArrow(7, index)" @change="editData(agent_transport)">
                    </td>
                    <td v-else :class="{ 'bg-cyan': agent_transport.return_tr }">
                        <input class="form-control" v-model="agent_transport.return_tr" maxlength="15" :id="'7-'+index" @keydown="keyDownArrow(7, index)" @change="editData(agent_transport)">
                    </td>

                    <td><input class="form-control" v-model="agent_transport.return_to" maxlength="20" :id="'8-'+index" @keydown="keyDownArrow(8, index)" @change="editData(agent_transport)"></td>
                    
                    <td><input class="form-control" style="font-weight: 800;" v-model="agent_transport.container_1" maxlength="20" autocomplete=off :id="'9-'+index" @keydown="keyDownArrow(9, index)" @change="editData(agent_transport)"></td>
                    <td><input class="form-control" style="font-weight: 800;" v-model="agent_transport.container_2" maxlength="20" autocomplete=off :id="'10-'+index" @keydown="keyDownArrow(10, index)" @change="editData(agent_transport)"></td>

                    <td><textarea class="form-control text-center" rows="1" style="padding: 2px 4px; font-size: 11px;" v-model="agent_transport.remark" maxlength="200" :id="'11-'+index" @keydown="keyDownArrow(11, index)" @change="editData(agent_transport)"></textarea></td>

                    <td class="text-nowrap">{{ agent_transport.work_id }}</td>
                </tr>
            </tbody>
        </table>

        <div v-else>
            <h1 class="text-center text-secondary mt-3"> ไม่พบข้อมูล </h1>
        </div>

    {% endverbatim %}

</div>

<div v-else class="container position-relative">
    <div class="position-absolute" style="top: -10%; left:50%; transform: translate(-50%, 10%); color: lightgray;">
        <h1 class="text-center" style="font-size: 350%;"><i class="fa fa-spinner fa-pulse fa-4x mb-5"></i></h1>
    </div>
</div>
