@import url(../fonts/thsarabunnew.css);

body { 
    font-family: THSarabunNew, sans-serif;
    height: 100%;

    /* width: 100%; */
}

table, td {
    font-family: THSarabunNew, sans-serif;
    font-size: 14px;
    border: 1px solid gray;
    text-align: center;    
  }

thead {
    box-shadow: 0 0 4px 2px gray;
}

.bg-lightgray {
    background-color:LightGray;
}

th {
    padding: 10 5px;
    box-shadow: 0 0 0 1px gray; 
}

td {
    padding: 5px;
    min-width: 60px;
    /* background: white; */
}

tbody {
    background: white;
}



/* Hide too long text in Remark field */
.remark {
    width: 110px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
}
.remark:active {
    overflow: visible;
    width: auto;
    /* text-overflow: inherit; */
    white-space: nowrap;
}


/* Fix header table when scroll */
.table-cont{
    /* height: 85%; */
    overflow-y: auto;
    position: absolute;
    bottom:0px;
    box-shadow: 0 0 1px 1px gray;
    width:100%;
    top: 15%;
}