body {
    font-size: 14px;
    font-weight: bold;
}

/* Size and frame */
@page {
    /* size: a4 portrait; */
    size: 8.5in 11in;
    margin: 30pt;
    @frame header_frame {           /* Static Frame */
      -pdf-frame-content: header_content;
      left: 0.5in; width: 7.5in; top: 5pt; height: auto;
    }
    @frame content_frame {          /* Content Frame */
    -pdf-frame-content: left_content;
      left: 0.5in; width: 3.75in; top: 90pt; height: auto;
    }
    @frame content_frame {          /* Content Frame */
    -pdf-frame-content: right_content;
    left: 4.25in; width: 3.75in; top: 90pt; height: auto; 
    }
    @frame content_frame {          /* Content Frame */
    -pdf-frame-content: table_content;
    left: 0.5in; width: 7.5in; top: 215pt; height: auto; 
    }
    /* @frame footer_frame {           Another static Frame
      -pdf-frame-content: footer_content;
      left: 50pt; width: 100%; top: 600pt; height: 20pt;
    } */
  }

/* Border */
.border-top {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    padding-top: 5px
}

.border-right {
    border-right: 1px solid black;
    padding-right: 5px
}

.border-left {
    border-left: 1px solid black;
    padding-left: 5px
}

.border-bottom {
    border-bottom: 1px solid black;
}

.border-top {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
}

.border-right-left {
    border-right: 1px solid black;
    padding-right: 5px;
    border-left: 1px solid black;
    padding-left: 5px;
}

/* Text format */
.big {
    height: 20px;
    padding-top: 5px;
}

.small {
    font-size: 10px;
    font-weight: bold;
    height: 14px;
}

.text-12 {
    font-size: 12px;
}

.text-blue {
    color: blue;
}

.text-red {
    color: red;
}

.center {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.text-center{
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-footer {
    font-size: 12px;
    font-weight: bold;
    padding-top: 5px
}

.nowrap {
    white-space: nowrap;
}