@import url(../fonts/thsarabunnew.css);

body{ 
    font-family: THSarabunNew, sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 100%;

    /* width: 100%; */
}

table, td {
    font-size: 14px;
    border: 2px solid black;
    text-align: center;    
    
  }

th, td {
    padding: 5px;
    min-width: 50px;
    /* background: white; */
}

tbody {
    background: white;
}
  
tbody tr:hover {
    background: #ffff99;
}   

/* Hide too long text in Remark field */
.remark {
    /* table-layout: fixed; */
    width: 100%;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    /* white-space: nowrap; */
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
}
.remark:active {
    overflow: visible;
    /* text-overflow: inherit; */
    white-space: nowrap;
}


/* Fix header table when scroll */
.table-cont{
    /* height: 85%; */
    overflow-y: auto;
    position: absolute;
    bottom:0px;
    box-shadow: 0 0 1px 3px #ddd;
    width:100%;
    top: 15%;
}

thead{
    background-color:white;
    box-shadow: 0 0 5px 2px gray;
    
}


/* Add Booking Button */
.add-btn {
    font-size:1vw;
}

      