@import url(../fonts/thsarabunnew.css);

body{ 
    font-family: THSarabunNew, sans-serif;
    font-size: 12px;
    font-weight: bold;
    /* width: 100%; */
}

table, th, td {
    font-size: 12px;
    /* border: 1px solid red; */
    text-align: center;
    font-weight: bold;   
  }

th, td {
    padding: 5px;
    min-width: 50px;
}

.add-edit-form {
    width: 150px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
}

/* select {
    -webkit-appearance: none;
      -moz-appearance: none;
} */

fieldset {
    float:left;
    width: 0%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.inline-block {
    display: inline-block;
}

#booking-container {
    margin: 30px;
}

i {
    cursor: pointer;
}

/* .add-address {
    width:
} */