{% load static %}

<html>
    <head>
        <title>{% block title %}NDD Dashboard{% endblock %}</title>
 
        <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

        <link rel="stylesheet" href="{% static 'css/style_dashboard.css' %}" />
        
        <script src="{% static 'js/vue.min.js' %}"></script>
    </head>

    <body>
        {% load random_icon %}
        {% load has_group %}
        <nav id="nbar" class="navbar navbar-expand navbar-dark bg-primary sticky-top">
            <a class="navbar-brand" href="{% url 'dashboard-page' %}">
                <img class="logo my-1" src="{% static 'images/logo.png' %}" height="45">
            </a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle lead" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-{{ ''|random_icon }}"></i>&nbsp;&nbsp;<b>{{ request.user.username }}</b>&nbsp;
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-power-off"></i>&nbsp;Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
     
        <div id="dashboard-page" class="container-fluid">
            <div class="row">
                <aside class="col-2 d-block bg-light sidebar px-0">
                    <div class="sidebar-sticky px-3">
                        <h6 class="sidebar-heading">
                            <span>Home</span>
                        </h6>
                        <a class="nav-link active" href="#">
                            <i class="fa fa-tachometer-alt"></i>&nbsp; Dashboard
                        </a>

                        <h6 class="sidebar-heading">
                            <span>Operation</span>
                        </h6>
                        <a class="nav-link" href="{% url 'booking-page' %}">
                            <i class="fa fa-truck-loading"></i>&nbsp; Booking
                        </a>
                        <a class="nav-link" href="{% url 'agent-transport-page' %}">
                            <i class="fa fa-shipping-fast"></i>&nbsp; สายเรือ
                        </a>

                        <h6 class="sidebar-heading">
                            <span>Finance</span>
                        </h6>
                        <a class="nav-link" href="{% url 'summary-page' %}">
                            <i class="fa fa-file-invoice-dollar"></i>&nbsp; Summary
                        </a>
                        <a class="nav-link" href="{% url 'cheque-page' %}">
                            <i class="fa fa-money-check-alt"></i>&nbsp; Cheque
                        </a>
                        <!-- <a class="nav-link" href="{% url 'daily-expense-page' %}">
                            <i class="fas fa-truck-moving"></i>&nbsp; รายงานการวิ่งงาน
                        </a> -->
                        {% if request.user|has_group:'salary_change' %}
                            <a class="nav-link" href="{% url 'summary-commission-page' %}">
                                <i class="fas fa-coins"></i>&nbsp; ค่าชอ.
                            </a>
                        {% endif %}

                        <h6 class="sidebar-heading">
                            <span>Report</span>
                        </h6>
                        <a class="nav-link" href="{% url 'daily-expense-page' %}">
                            <i class="fas fa-truck-moving"></i>&nbsp; ค่าใช้จ่ายประจำวัน
                        </a>
                        <a class="nav-link" href="{% url 'monthly-expense-page' %}">
                            <i class="fas fa-truck-moving"></i>&nbsp; รายงานการวิ่งงาน
                        </a>
                        <hr class="my-0 mx-1">
                        <a class="nav-link" :href="'/summary-date/' + year + '/'">
                            <i class="fas fa-calendar-alt"></i>&nbsp; วันปิดค่าใช้จ่าย
                        </a>                        

                        <h6 class="sidebar-heading">
                            <span>Database</span>
                        </h6>
                        <a class="nav-link" href="{% url 'customer-page' %}">
                            <i class="fa fa-briefcase"></i>&nbsp; Customer
                        </a>
                        <a class="nav-link" href="{% url 'employee-page' %}">
                            <i class="fa fa-user-alt"></i>&nbsp; Employee
                        </a>
                        <a class="nav-link" href="{% url 'truck-page' %}">
                            <i class="fa fa-truck"></i>&nbsp; Truck
                        </a>
                    </div>
                </aside>

                {% verbatim %}
                    <main class="col" style="overflow-y: auto; height: calc(100vh - 80px);">
                        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 my-3 border-bottom">
                            <h1 class="h2"><i class="fa fa-tachometer-alt"></i>&nbsp; Dashboard</h1>
                            <div class="mb-2 mb-md-0">
                                <button class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#modalExportTime">
                                    Time Export
                                </button>
                                <button class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#modalExportWork">
                                    Export
                                </button>
                            </div>
                        </div>
                        <div class="card-group">
                            <div class="card border rounded">
                                <div class="card-body text-muted">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="d-flex no-block">    
                                                <div class="">
                                                    <h1 class="font-light my-0 text-dark">{{ booking_total }}</h1>
                                                    <p class="my-0">Daily Loading Works</p>
                                                </div>
                                                <div class="my-1 ml-auto">
                                                    <i class="fa fa-truck-loading fa-3x"></i> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="progress" 
                                                style="height: 8px;"
                                                data-toggle="tooltip" data-html="true" 
                                                :title="'Completed: ' + booking_completed + '\nPending: ' + booking_pending + '\nNot start: ' + booking_not_start + '\nCancel: ' + booking_cancel "
                                            >
                                                <div class="progress-bar bg-success" role="progressbar" :style="'width: ' + booking_completed_width + '%'"></div>
                                                <div class="progress-bar bg-warning" role="progressbar" :style="'width: ' + booking_pending_width + '%'"></div>
                                                <div class="progress-bar bg-secondary" role="progressbar" :style="'width: ' + booking_not_start_width + '%'"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="card-footer text-muted text-right">
                                    <a href="/booking" style="text-decoration:none;">View Details &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>

                            <div class="card mx-4 border rounded">
                                <div class="card-body text-muted">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="d-flex no-block">
                                                
                                                <div class="">
                                                    <h1 class="font-light my-0 text-dark">{{ agent_total }}</h1>
                                                    <p class="my-0">Daily Agent Transport Works</p>
                                                </div>
                                                <div class="my-1 ml-auto">
                                                    <i class="fa fa-shipping-fast fa-3x"></i> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="progress" 
                                                style="height: 8px;"
                                                data-toggle="tooltip" data-html="true" 
                                                :title="'Completed: ' + agent_completed + '\nPending: ' + agent_pending + '\nNot start: ' + agent_not_start + '\nCancel: ' + agent_cancel "
                                            >
                                                <div class="progress-bar bg-success" role="progressbar" :style="'width: ' + agent_completed_width + '%'"></div>
                                                <div class="progress-bar bg-warning" role="progressbar" :style="'width: ' + agent_pending_width + '%'"></div>
                                                <div class="progress-bar bg-secondary" role="progressbar" :style="'width: ' + agent_not_start_width + '%'"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer text-muted text-right">
                                    <a href="/agent-transport" style="text-decoration:none;">View Details &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
                                </div>    
                            </div>
                            <div class="card border rounded">
                                <div class="card-body text-muted">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="d-flex no-block">
                                                
                                                <div class="">
                                                    <h1 class="font-light my-0 text-dark">{{ truck_active }}</h1>
                                                    <p class="my-0">Daily Trucks</p>
                                                </div>
                                                <div class="my-1 ml-auto">
                                                    <i class="fa fa-truck fa-3x"></i> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="progress" 
                                                style="height: 8px;"
                                                data-toggle="tooltip" data-html="true" 
                                                :title="'Active: ' + truck_active + '\nMaintanance: ' + truck_maintanance"
                                            >
                                                <div class="progress-bar bg-primary" role="progressbar" :style="'width: ' + truck_active_width + '%'"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer text-muted text-right">
                                    <a href="/truck" style="text-decoration:none;">View Details &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
                                </div>    
                            </div>
                        </div>

                        <div class="row my-3" >              
                            <div class="card col-lg mx-3 border rounded" style="height: 55vh;">
                                <div class="card-body mt-2" >
                                    <div class="d-flex">
                                        <div>
                                            <h3 class="card-title mb-3">Weekly Works</h3>
                                        </div>
                                        <div class="ml-auto">
                                            <input type="date" class="form-control" v-model="date" @change="weeklyWorkChart">
                                        </div>
                                    </div>
                                    <div id="chartWeeklyWork" style="width: 100%; height: 80%"></div>
                                </div>
                            </div>
                            <div class="card col-lg mx-3 border rounded" style="height: 55vh;">
                                <div class="card-body mt-2" >
                                    <div class="d-flex">
                                        <div>
                                            <h3 class="card-title mb-3">Monthly Income - {{ year }}</h3>
                                        </div>
                                        <div class="ml-auto">
                                            <select class="custom-select b-0" v-model="year" @change="yearlyIncomeChart()">
                                                <option v-for="year_item in year_list" :value="year_item.year_label">{{ year_item.year_label }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div id="chartYearlyIncome" style="width: 100%; height: 80%"></div>
                                </div>
                            </div>
                        </div>
                    </main>
                {% endverbatim %}     
            </div>
            {% include 'export_modal.html' %}
            {% include 'export_time.html' %}
        </div>
        


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

        <script type="application/javascript" src="{% static 'js/app_dashboard_page.js' %}"></script>
        <script type="application/javascript" src="{% static 'js/utility/filters.js' %}"></script>
        <script type="application/javascript" src="{% static 'js/utility/functions.js' %}"></script>

        <script type="application/javascript">

            window.addEventListener("load", function() {   
                dashboard_page.reload();
            });
    
        </script>
    </body>
</html>
