{% extends 'base.html' %}
{% load static %}

{% block title %} Summary Date {% endblock %}

{% block extra_head %}

{% endblock %}

{% block content %}
<div id="summary-date-page">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0 bg-white">
            <li class="breadcrumb-item"><a href="{% url 'dashboard-page' %}">Dashboard</a></li>
            <li class="breadcrumb-item">วันปิดค่าใช้จ่าย</li>
            <li class="breadcrumb-item active" aria-current="page">{{ year }}</li>
        </ol>
    </nav>

    {% verbatim %}
        <div class="input-group my-5 col-2 container">
            <div class="input-group-prepend">
                <span class="input-group-text">YEAR</span>
            </div>
            <select class="custom-select" v-model="year" @change="changeUrl">
                <option v-for="year in year_list" :value="year.year_label">{{ year.year_label }}</option>
            </select>
        </div>

        <div class="row w-100" >
            <div class="col"></div>
            <div class="col-4">
                <h4 class="text-center mb-3"><u>NDD</u></h4>
                <table class="table table-bordered text-center">
                    <thead>
                        <th>MONTH</th>
                        <th>#1</th>
                        <th>#2</th>
                        <th>#3</th>
                    </thead>
                    
                    <tbody>  
                        <tr v-for="(ndd_date, month_index) in ndd_list">
                            <td><b>{{ month[month_index] }}</b></td>
                            <template v-if="ndd_date.length">
                                <td v-for="(date, phase) in ndd_date">
                                    <button class="btn btn-link p-0" data-toggle="modal" data-target="#modalSummaryDate" @click="getModalSummaryDate('ndd', month_index, phase+1, date.date, date.id)">{{ date.date|formatDate }}</button>
                                </td>
                                <template v-if="ndd_date.length < 2">
                                    <td v-for="i in 2">
                                        <button class="btn btn-link p-0" data-toggle="modal" data-target="#modalSummaryDate" @click="getModalSummaryDate('ndd', month_index, i+1, '')"><i class="far fa-calendar-alt"></i></button>
                                    </td>
                                </template>
                                <td v-else-if="ndd_date.length < 3">
                                    <button class="btn btn-link p-0" data-toggle="modal" data-target="#modalSummaryDate" @click="getModalSummaryDate('ndd', month_index, 3, '')"><i class="far fa-calendar-alt"></i></button>
                                </td>
                            </template>
                            <td v-else v-for="i in 3">
                                <button class="btn btn-link p-0" data-toggle="modal" data-target="#modalSummaryDate" @click="getModalSummaryDate('ndd', month_index, i, '')"><i class="far fa-calendar-alt"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col"></div>
            <div class="col-3">
                <h4 class="text-center mb-3"><u>VTS</u></h4>
                <table class="table table-bordered text-center">
                    <thead class="text-center">
                        <th>MONTH</th>
                        <th>#1</th>
                        <th>#2</th>
                    </thead>
                    <tbody>
                        <tr v-for="(vts_date, month_index) in vts_list">
                            <td><b>{{ month[month_index] }}</b></td>
                            <template v-if="vts_date.length">
                                <td v-for="(date, phase) in vts_date">
                                    <button class="btn btn-link p-0" data-toggle="modal" data-target="#modalSummaryDate" @click="getModalSummaryDate('vts', month_index, phase+1, date)">{{ date.date|formatDate }}</button>
                                </td>
                                <td v-if="vts_date.length < 2">
                                    <button class="btn btn-link p-0" data-toggle="modal" data-target="#modalSummaryDate" @click="getModalSummaryDate('vts', month_index, 2, '')"><i class="far fa-calendar-alt"></i></button>
                                </td>
                            </template>
                            <td v-else v-for="i in 2">
                                <button class="btn btn-link p-0" data-toggle="modal" data-target="#modalSummaryDate" @click="getModalSummaryDate('vts', month_index, i, '')"><i class="far fa-calendar-alt"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col"></div>
        </div>
    {% endverbatim %}

    <div class="modal fade" id="modalSummaryDate" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">
                        Summary Date
                    </h4>
                    <button class="close" data-dismiss="modal" aria-label="Close" style="outline: none;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-5">
                    <div class="input-group my-3 container">
                        <div class="input-group-prepend">
                            <span class="input-group-text">YEAR</span>
                        </div>
                        <input class="form-control" v-model="modal_summary_date.year" disabled>
                    </div>
                    <div class="input-group my-3 container">
                        <div class="input-group-prepend">
                            <span class="input-group-text">MONTH</span>
                        </div>
                        <input class="form-control" v-model="month[modal_summary_date.month]" disabled>
                        <div class="input-group-append">
                            {% verbatim %}
                                <span class="input-group-text"># {{ modal_summary_date.phase }}</span>
                            {% endverbatim %}
                        </div>
                    </div>
                    <div class="input-group my-3 container">
                        <div class="input-group-prepend">
                            <span class="input-group-text">DATE</span>
                        </div>
                        <input type="date" class="form-control" v-model="modal_summary_date.date">
                    </div>
                </div>
                <div class="modal-footer">
                    <button v-if="! modal_summary_date.pk" class="btn btn-primary" @click="addSummaryDate">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="application/javascript" src="{% static 'js/app_transport_report_summary_date.js' %}"></script>
<script type="application/javascript" src="{% static 'js/utility/functions.js' %}"></script>
<script type="application/javascript" src="{% static 'js/utility/filters.js' %}"></script>
<script type="application/javascript" src="{% static 'js/utility/variables.js' %}"></script>

<script type="application/javascript">

    window.addEventListener("load", function() {
        summary_date_page.reload("{{ year }}")
    })

</script>

{% endblock %}
