@import url(fonts/thsarabunnew.css);

body{ 
    font-family: THSarabunNew, sans-serif;
}

table, th, td {
    border: 1px solid blue;
  }
  
body {
    font-size: 14px;
    font-weight: bold;
}

.remark {
    /* table-layout: fixed; */
    width: 100%;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    /* white-space: nowrap; */
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
}

.nowrap {
    white-space: nowrap;
}